[2016-12-02 05:31] kamranayub opened #706 "Remove VS projects and replace with UWP sample repo"
#### Context

We've standardized on VS Code as the IDE for Excalibur to be fully inclusive of all devs on all platforms--we no longer need the CSProj files left lying around and solution that doesn't work.

Additionally, we should keep samples out of the core repo--let's update to using a proper UWP sample project and put in a separate repo.

#### Proposal

- [ ] Remove VS projects/solutions from

[2016-12-02 05:36] kamranayub opened #707 "On bootup, log enabled/detected features"
#### Context

To aid in browser/device testing, it might be good to have a formal mechanism to register detected/enabled browser features and log them at bootup time so a developer can see what Excalibur sees as enabled or available.

#### Proposal

- [ ] WebGL support
- [ ] Web Audio vs. HTML5 Audio support
- [ ] Gamepad API

[2016-12-02 05:44] kamranayub commented on #606
I might take this on during holiday break in the next couple weeks for 0.9.

[2016-12-02 18:11] jedeen commented on #97
I recommend just pulling the features that didn't get added yet into their own new issue, referencing this issue, and throwing that new issue in 0.9, so we can close this for 0.8.

[2016-12-02 18:14] kamranayub commented on #97
Agreed

On Fri, Dec 2, 2016, 12:11 Josh Edeen <notifications@github.com> wrote:

[2016-12-04 15:54] jedeen opened #709 "Add additional diagnostic stats"
### Context
We now have basic frame diagnostics thanks to pull request #694

### Proposal
Add more statistics for debugging purposes, building off of issue #97:

- timers
- triggers
- tile maps
- etc.

[2016-12-04 15:54] jedeen opened #710 "Add Diagnostics UI"
### Context
We have diagnostics information that we want to be able to easily surface to users so that they can more easily debug their games. (#97, #709)

### Proposal
Add a toggle-able UI for debugging that will meaningfully display pertinent debug information.

[2016-12-04 16:16] jedeen commented on #97
closed via #694

[2016-12-04 16:16] #97 closed

[2016-12-04 16:48] kamranayub opened #711 "Remove webkitImageSmoothingEnabled"
#### Context

We don't need to set `webKitImageSmoothingEnabled` anymore--it'd be best to have a condition around each of those properties:

[code]

[code]

This is generating a warning in Chrome currently.

#### Proposal

Can be:

[code]

[2016-12-04 17:17] jedeen opened #712 "Actors sometimes fall through edges that they collide with when stacked high"
### Steps to Reproduce
1. Open the fastphysics visual test
2. Shoot rockets rapidly in a direction
3. Additionally, let rockets pile up in the box

### Expected Result
Actors should not pass through the edges they collide with.

### Actual Result
When enough Actors pile up, some of them fall through the box.
![fastmovingphysics_1](https://cloud.githubusercontent.com/assets/5409649/20867880/d9082f1

[2016-12-04 17:33] #665 closed

[2016-12-04 19:35] kamranayub opened #715 "Upgrade to TypeScript 2.0"
#### Context

Excalibur is compiled with TS 1.8. Typedoc now supports 2.0, so let's upgrade.

#### Proposal

- [ ] Update compiler to 2.0
- [ ] Add `readonly` modifiers to FrameStats properties

[2016-12-04 19:54] alanag13 commented on #664
It's worth noting that if you do something like this, the order in which the points are connected (and therefore passed in) will matter.

You could use something like this to create actors of arbitrary shapes though, which is cool. We could build on this to do stuff like beyond just straight line segments like arcs and such, though I'm not sure if weirdly shaped actors could potentially introduce

[2016-12-04 21:11] kamranayub opened #717 "Fix sourcemaps not being included in dists"
#### Context

Noticed dists don't include the generated source maps.

#### Proposal

- [ ] Fix gitignore in dist repo
- [ ] Fix nuspec License path

[2016-12-04 21:26] kamranayub commented on #715
Suggest doing this along with #606

[2016-12-04 21:56] alanag13 commented on #712
Perhaps related but perhaps not: under ideal circumstances in the above test, the box would keep filling up with rockets and none would fall out or leave the borders. What, then, would happen if the box was filled to capacity and the engine attempted spawn another rocket?

[2016-12-06 02:11] #536 closed

[2016-12-06 02:26] kamranayub commented on #517
What if we made a static `ex.Point.distance(p1, p2)` as a static helper?

[2016-12-06 02:32] eonarheim commented on #563
Label tests should use the new image testing api

[2016-12-06 02:33] eonarheim commented on #565
We need to confirm this is still an issue with a test

[2016-12-06 02:39] eonarheim commented on #584
Maybe timers need to be the first thing to execute in the mainloop?

[2016-12-06 02:40] eonarheim commented on #587
We need a test to confirm this is still a bug

[2016-12-06 02:44] eonarheim commented on #380
See #590

[2016-12-06 02:44] #380 closed

[2016-12-06 02:57] eonarheim commented on #517
@kamranayub YES

[2016-12-06 06:32] FerociousQuasar commented on #712
So, after looking into it.
Are physics not calculated in a fixed-step manner?

If physics aren't calculated in a fixed step manner you get non-deterministic behavior the more actors you draw in each scene.

[2016-12-06 21:18] kamranayub commented on #711
Hey @guahanweb! Thanks for taking this!

The tests seem to pass in the CI server, can you see which one is failing for you locally?

[2016-12-06 21:33] guahanweb commented on #711
Looks like the one failure is a floating point calculation difference:
[code]
It may be that the difference in that level of precision is due to the platform? I'm running on Mac-64. I'll look at the test and see if there's a way to make it more robust.

[2016-12-06 21:37] kamranayub commented on #711
Ah good catch, you can use `expect(value).toBeCloseTo(target, precision)` to fix this 👍

[2016-12-06 21:37] guahanweb commented on #711
@kamranayub, good call. I'll fix that right up! To what precision do you care to match? I suspect 10 is sufficient here?

[2016-12-06 21:38] kamranayub commented on #711
Yeah, I think a threshold of `0.001` is fine haha, anything small like that.

[2016-12-06 21:43] guahanweb commented on #606
Is there a shared branch we can set up to work collectively on this task? There are a *ton* of files to change, and I'm happy to help with some, but I don't want to double up efforts.

[2016-12-06 21:44] guahanweb commented on #711
Perfect. I erred on the side of accuracy with a precision of 4, but I updated my PR to have that test change in there. I verified that it successfully builds and passes all test on my platform now as well.

[2016-12-06 22:16] kamranayub commented on #606
I was going to create a branch yesterday but didn't yet--if you want to create one, I was going to go with `606-es6-modules`. It does depend (slightly) on #720  being merged first so we are all updated to 2.0

[2016-12-06 23:54] guahanweb commented on #606
If we're confident that #720 will be merged, I'll just create a branch on my fork (named as you recommend) and go ahead and merge that locally. I'll submit the new branch as a PR with a note indicating dependency on #720 getting merged first.

[2016-12-07 00:47] #715 closed

[2016-12-07 00:53] #711 closed

[2016-12-07 01:13] guahanweb commented on #606
@kamranayub, I've been looking into this, and there's not going to be an easy way to break it up. As soon as you change one `module` to an `export` or `namespace`, references down the inclusion stack are all broken. Additionally, as soon as you declare a single `import`, it seems to invalidate the other triple slash refs. It seems that this is going to just have to be one massive labor of love to

[2016-12-07 01:22] kamranayub commented on #606
Yeah, that's why I was going to handle doing this in one fell swoop sometime next week ;) But it's cool you took a swing at it! Don't feel like you have to tackle this bad boy, there are other easier issues that are up for grabs too.

[2016-12-07 01:25] guahanweb commented on #606
@kamranayub, yea, I was just hoping to find a way to be able to do it incrementally. I've led projects with massive changes like this before, and unless they can be automated to help minimize merge conflicts, they're quite a pain. I'll take a look and see what else is outstanding.

[2016-12-07 01:31] guahanweb commented on #707
I'll look into this one. Shouldn't be too difficult.

[2016-12-07 05:38] guahanweb commented on #707
Playing with some IIFE's in the Detector to have a constant with a feature support matrix available, then outputting some debugging in the Engine setup:
![image](https://cloud.githubusercontent.com/assets/155616/20956029/50f01478-bbfc-11e6-903d-7549a787d400.png)

[2016-12-07 13:33] kamranayub commented on #707
That's awesome!

[2016-12-07 13:36] eonarheim commented on #707
Very cool!

[2016-12-08 00:17] kamranayub opened #724 "Enable some stricter compiler flags"
#### Context

We have been bitten before by some of the default TS compiler behavior (such as allowing implicit `any` assumptions), so I'm thinking it might be a force for good to enable some flags that are off by default.

I imagine there might be build errors, so would need to address those.

#### Proposal

Update `tsconfig.json` and set the following `compilerOptions`:

- `noImplicitAny: true`

[2016-12-09 14:51] #707 closed

[2016-12-09 15:29] kamranayub opened #726 "Update to TS 2.1"
#### Context

There are some new features we can take advantage of in 2.1:

- object spread for cloning
- mapped types
- keyof operator

#### Proposal

- [x] Verify typedoc supports 2.1
- [x] Update compiler package
- [x] Make any required changes

[2016-12-09 15:34] kamranayub opened #727 "Investigate greenkeeper.io"
### Context

Anything that helps dependency management is a plus, would something like Greenkeeper help at all? Not sure.

https://greenkeeper.io/

We are already using shrinkpack which hardens our dependency graph, but something like GK could maybe help us auto-update packages without worrying.

### Proposal

Investigate what GK could do for us and whether or not it's worth using.

[2016-12-10 21:19] eonarheim commented on #684
I've got something working, turned out to be slightly more difficult than I imagined but it is pretty cool.

@hogart Thanks! I used that library to get started, I had to make some modifications where getters and setters were concerned. Also couldn't use the object spread operator just yet (we are tied to the version of typescript that the lastest version of typedoc implements sadly)

@excaliburjs/

[2016-12-10 22:06] kamranayub commented on #684
This is pretty cool, now if typedoc could show them too that'd be even
better

On Sat, Dec 10, 2016, 15:19 Erik Onarheim <notifications@github.com> wrote:

[2016-12-11 17:09] kamranayub commented on #388
Just a note, I was trying to figure out if we had this feature yet and I searched for "disable" if that tells you what my brain thought to look for.

[2016-12-18 00:03] kamranayub opened #729 "Add Engine.getWorldBounds() helper method"
#### Context

Right now in a scrolling game it can be annoying to constantly calculate the world bounds. To do so, you have to do:

[code]

It would be nice to wrap this up into a helper that returns a `BoundingBox`.

#### Proposal

Add a method to Engine called `getWorldBounds()` that returns a `BoundingBox` using the logic above and add unit tests.

[code]

[2016-12-18 19:49] #661 closed

[2016-12-18 23:35] eonarheim commented on #563
According to https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-style there isn't a bold font style in CSS. Should we add an additional font style in Excalibur? Or would this be confusing to people coming from a CSS background?

[code]

[2016-12-19 02:52] #684 closed

[2016-12-19 02:53] #565 closed

[2016-12-22 22:59] eonarheim commented on #538
@kamranayub Do you really think we need to use rejection sampling is needed in our implementation?

[2016-12-22 23:24] kamranayub commented on #538
If it's easy otherwise don't think it's as important with MT implementation

On Thu, Dec 22, 2016, 16:59 Erik Onarheim <notifications@github.com> wrote:

[2016-12-25 18:37] kamranayub commented on #563
Well in CSS it's `font-weight` because a font can be both bold and italic. If we added it to our FontStyle, we would need to treat it as a flag enum. Instead maybe we can just add a property: `bold` boolean.

[2016-12-28 20:21] eonarheim opened #733 "Add Angular2/WebPack/SystemJS getting started helper"
#### Context
There are more and more people trying to use Angular/WebPack/SystemJS with the new ES6 style module syntax and there are a few pitfalls that folks are running into since it requires modifying the Excalibur dist for it to work correctly.

#### Proposal
We should add this documentation to our README and/or have a quickstart for such users in our docs site.

See https://groups.google.com

[2016-12-29 17:38] #726 closed

[2016-12-29 18:06] kamranayub commented on #606
There's another wrinkle with this issue.

While it will be possible for us to switch to a module system and still output to a single file, one outstanding issue is that the generated declaration files are not "flattened" meaning that the generated concatenated declaration file may expose internal/private modules. It's not a dealbreaker but it is annoying.

There's an open PR for it: https://github

[2016-12-31 03:09] kamranayub commented on #606
OK, I'm about ready to throw in the towel.

Here are the problems converting the entire codebase to modules:

- **Loss of namespacing.** In order to restore some of the previous namespaces like `ex.Internal` we would need to re-export anything we wanted to expose in those namespaces. Doable but annoying.
- **Force export of unused modules.** All the bundling tools read the dependency graph of the

[2016-12-31 04:53] kamranayub commented on #606
**UPDATE**

I got it working!

Turns out the circular dependency rabbit hole was not deep at all--the only problematic class was Actor because it had a few lines that depended on its sub-classes UI Actor, Trigger, and Label. I think we can eliminate that dependency, I have a proposed fix. I also was able to re-export the entire public API without too much hassle in a set of `Index.ts` files.

[2016-12-31 20:43] #538 closed

[2017-01-02 00:03] kamranayub commented on #733
Done in #734

[2017-01-02 00:13] kamranayub commented on #464
This can be closed as we no longer need to mock engine :)

[2017-01-02 00:13] #464 closed

[2017-01-02 00:17] kamranayub commented on #200
Doing as part of excaliburjs/excalibur-tiled repo

[2017-01-02 00:18] kamranayub commented on #24
@eonarheim is this done as part of rigid body physics and PolygonArea?

[2017-01-02 00:33] eonarheim commented on #24
Yup

On Sun, Jan 1, 2017, 18:18 Kamran Ayub <notifications@github.com> wrote:

[2017-01-02 00:33] eonarheim commented on #464
Yup

On Sun, Jan 1, 2017, 18:13 Kamran Ayub <notifications@github.com> wrote:

[2017-01-02 02:15] #606 closed

[2017-01-02 02:15] #717 closed

[2017-01-02 02:15] #733 closed

[2017-01-02 05:21] #706 closed

[2017-01-04 20:09] kamranayub commented on #544
I have a feeling this is because the drawing is centered by default.

[2017-01-07 03:47] kamranayub commented on #544
This is no longer an issue, I believe we fixed issues with center drawings by default. Submitting a PR with visual test.

[2017-01-07 04:02] kamranayub commented on #587
@jedeen fixed this in https://github.com/excaliburjs/Excalibur/commit/48ad1ef92e518385f815d299b9bf8bdd35bb6daa

[2017-01-07 04:02] #587 closed

[2017-01-07 16:24] kamranayub commented on #136
Best to wait until #722 is merged to do this. Example of possible poolable interfaces are in my comments in PR, copied here:

---

Here is a full working example using props, mapped types, and pools:

[code]

No real pool instance methods are in the example, but it shows we could add new pool instance methods if need be.

Benefits:

- New props trigger compile error if not implemented in defaults

[2017-01-07 16:41] #584 closed

[2017-01-07 16:44] kamranayub commented on #588
Not sure if this is still an issue, if it is I should have provided repro steps. I added some simple verification tests to make sure Scene doesn't throw an error adding/removing the same actor from update.

[2017-01-10 02:08] #509 closed

[2017-01-10 02:40] kamranayub opened #744 "Engine missing `predraw` and `postdraw` event signatures"
### Context

Engine is missing signatures for `on('predraw')` and `on('postdraw')` events.

[2017-01-15 23:22] kamranayub opened #745 "EventDispatcher should allow `one` single-use handler"
### Context

In the scenario of a unit test, for example, it would be nice to allow subscribing a handler to an event **once** and then auto-unsubscribing it.

[code]

Especially in the above context, as the canvas matcher is asynchronous and the handler will be called next frame which will again trigger a matcher call. In this instance, we need to unsubscribe immediately.

### Proposal

Add a new

[2017-01-23 23:36] jedeen opened #746 "Error when enabling pointer capture on UIActor"
### Steps to Reproduce

[code]

### Expected Result

When the button is clicked, a log message appears in the console.

### Actual Result

An error is thrown:
excalibur-0.8.0.js:8458 [Fatal] :  TypeError: Cannot read property 'worldToScreenCoordinates' of undefined
    at Button.UIActor.contains (excalibur-0.8.0.js:10417)
    at Pointers.propogate (excalibur-0.8.0.js:12116)
    at CapturePointer.u

[2017-01-24 00:37] kamranayub commented on #746
Can you try adding `super.initialize(engine)` in the `onInitialize` call? May be duplicate of #224

[2017-01-24 02:07] jedeen commented on #746
Yep, that solves the issue.

[2017-01-24 02:07] #746 closed

[2017-01-24 02:30] eonarheim opened #748 "Sprites with loaded textures may not draw"
### Steps to Reproduce
Discovered in PR #740 in the AppVeyor build, even after textures are loaded the sprites do not draw any pixels to the screen.

The problem is that setting the `.src` attribute of the backing image is an asynchronous operation, and `ex.Sprite` is not listening to the load event for that image.

![image](https://cloud.githubusercontent.com/assets/612071/22231610/37271f36-e1aa-

[2017-01-24 02:44] jedeen opened #749 "Add an ex.Button class for easier player interaction"
### Context
It would be helpful to have a built-in Button class that allowed functionality to happen when a user clicks/taps it.

### Proposal
Something similar to this would be a nice start:
[code]

(see also https://gist.github.com/jedeen/a1c7ec5a4ebac29fce0d9a251475b67e)

[2017-01-24 02:55] #544 closed

[2017-01-24 02:55] #748 closed

[2017-01-24 21:10] jedeen opened #750 "Add utility method to determine if Engine is paused or not"
### Context
Currently, you can stop/start (i.e. pause/resume) a game with `Engine.start()` and `Engine.stop()`. However, in order to implement pause logic, you need to manage your own boolean:

[code]

### Proposal
The `Engine` already has a private `_hasStarted` variable that appears to be maintaining, but not exposing, this status.

It would be helpful to have an `isStopped()` or `isPaused()` me

[2017-01-24 23:17] kamranayub commented on #750
If you implement your game UI as all HTML this also works really well, since if the game is stopped no updates/processing will happen but HTML will work fine.

[2017-02-01 16:03] asi7296 commented on #724
I have created a pull request.

[2017-02-04 19:46] #588 closed

[2017-02-25 07:43] SurajGoel commented on #750
Can I take this ?

[2017-02-25 13:32] eonarheim commented on #750
@SurajGoel For sure! Please do, let us know if you need any assisstance :)

[2017-02-26 19:44] SurajGoel commented on #750
@eonarheim Sorry, didn't see your post. On it now, will update you soon.

[2017-02-27 07:39] SurajGoel commented on #750
@eonarheim How should I write a unit test for this ? A simple idea :- Maybe run the engine first, check the status, stop the engine, check the status again. Any ideas ?

[2017-03-01 04:14] jedeen commented on #750
@SurajGoel Sounds like a good way to do it! You'll probably want to test that it can be un-paused as well.

This is `Engine` functionality, so I'd recommend putting the test in `EngineSpec.ts`

Now that I'm thinking about it, this is more of a test of the `Engine.start()` and `Engine.stop()` methods. @kamranayub, what do you think?

[2017-03-08 02:12] #750 closed

[2017-03-08 02:20] eonarheim commented on #582
Potentially we could also add some generic interfaces to signal to the user which onEventTypes are available on which objects.

[2017-03-21 01:31] #591 closed

[2017-03-21 01:49] jedeen opened #762 "Update TypeScript to version 2.2"
### Context
[TypeScript 2.2](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-2.html) has been released with support for mix-in classes, which would simplify the work needed for #410.

### Proposal
- Update TypeScript to 2.2
- Update TypeDoc

[2017-03-21 03:29] kamranayub opened #763 "Use native `Object.assign` for shallow merges in Util.extend"
### Context

We have a utility, `extend` that supports deep merging. For shallow merges, however, it should use the [new `Object.assign` native functionality](http://kangax.github.io/compat-table/es6/#test-Object_static_methods_Object.assign) (for perf/compatibility). Currently only IE11 is lacking it.

### Proposal

Update `Util.extend` method to use `Object.assign` where available on shallow mer

[2017-03-23 20:43] jedeen opened #764 "Add an optional drag force to Physics"
### Context
In a top-down-view game, there is no available drag force to simulate friction between Actors and the "ground" below those Actors.

### Proposal
Add a built-in drag force that can be enabled on Actors, that will apply itself opposite to an Actor's velocity.

[2017-03-23 20:55] kamranayub commented on #764
I would like this for <redacted> Golf too.

[2017-03-23 21:07] PurityLake commented on #729
Is this still open to be implemented, if so I'll write it up

[2017-03-24 14:57] PurityLake commented on #763
I'd be up for helping out with this if that's ok

[2017-03-24 15:07] eonarheim commented on #729
@PurityLake Awesome, it's all yours!

[2017-03-24 15:07] eonarheim commented on #729
I'll assign myself so no one takes it

[2017-03-24 15:08] eonarheim commented on #763
@PurityLake All yours!

[2017-03-24 15:08] eonarheim commented on #763
Assigning myself so no one takes it, let us know if you have questions.

[2017-03-24 17:26] PurityLake commented on #729
@eonarheim will we stick with returning a BoundingBox or should we create a separate class to represent the dimensions?

[2017-03-24 17:33] eonarheim commented on #729
@PurityLake I think it makes sense to return the existing `BoundingBox` type, it will allow us to take advantage of its existing methods and features.

We should also take into account the coordinates in world space as the left, top, bottom, right aspects like the example above which converts the screen coordinates.

[2017-03-24 20:40] PurityLake commented on #763
Typescript doesn't seem to support it, sometimes requires polyfill.

[Typescript issue](https://github.com/Microsoft/TypeScript/issues/3429)

[2017-03-24 22:16] kamranayub commented on #763
Just need to test for existence. If it exists then we use it, if not it
does the current code path.

On Fri, Mar 24, 2017, 15:40 Robert <notifications@github.com> wrote:

[2017-03-25 02:08] PurityLake commented on #763
@kamranayub the problem is that `Object.assign` is an ES2015 feature so `Object.assign` will stop the program from compiling when it is even mentioned.

[2017-03-25 02:40] kamranayub commented on #763
I can try checking but all it needs is a type definition or can just be
casted to the any type.

(Object as any).assign

On Fri, Mar 24, 2017, 21:08 Robert <notifications@github.com> wrote:

[2017-03-25 14:44] PurityLake commented on #763
@kamranayub ah yes, sorry, that slipped my mind

[2017-03-26 20:07] PurityLake commented on #744
I'll implement this

[2017-03-26 20:23] PurityLake commented on #744
@kamranayub should a spec test be added?

[2017-03-26 21:23] kamranayub commented on #744
If possible yes. There should be examples of using the engine to test
drawing, so the tests can just verify those events are triggered.

On Sun, Mar 26, 2017, 16:20 Robert <notifications@github.com> wrote:

[2017-03-27 14:16] #729 closed

[2017-03-27 14:21] #763 closed

[2017-03-27 17:41] kamranayub commented on #749
I'll let Josh chime in but I'd say for initial implementation that probably
isn't needed (i.e. what if the arrow keys are already bound during the
gameplay? Requires some more thought on the API/behavior)

On Mon, Mar 27, 2017 at 10:44 AM Robert <notifications@github.com> wrote:

[2017-03-27 18:12] PurityLake commented on #749
Was just making suggestions, just seeing what sticks

[2017-03-27 19:19] kamranayub commented on #749
It's a good idea, maybe we'll pull it into a separate issue once this is implemented.

[2017-03-27 19:50] jedeen commented on #749
Addressing keyboard input is a good idea. However, I think an initial implementation that takes care of mouse/touch input should work for now, since that form of input is the minimum necessary for a platform to use Excalibur (e.g. mobile devices).

I agree with @kamranayub. We can open an enhancement issue to add keyboard support to buttons.

[2017-03-27 20:01] PurityLake commented on #749
Excellent, just so I'm putting it out there, I think it might be best to make UI generic. Currently I have two new files `UIElement.ts` and `Button.ts`. UIElement implements basically a Blank UI element that reacts to `pointermove`, `pointerdown` and `pointerup` wrapped in an EventHandler class. Button then is a specialisation of UIElement, adding text, font, font size and font color. It will rely

[2017-03-27 20:03] PurityLake commented on #749
Sorry, was reading Actor wrong, might be able to rely on that for the drawing of the base element

[2017-03-28 01:13] #744 closed

[2017-03-28 20:01] PurityLake commented on #749
[Look at this](https://github.com/PurityLake/Excalibur/commit/76773d580dd761ad2177e4ca5fbb87bc8be5488d)

This is the latest commit for the button addition. `UIElement` is the thing being drawn in the visual test as `Button` isn't finished yet. `Button` is a specialisation of `UIElement` which is itself a specialisation of `UIActor`

[2017-03-28 20:39] kamranayub commented on #749
One point of feedback is that UIActor should already be propagating pointer events (except move, which is opt-in) and you can subscribe using `button.on('pointerup', handler)`.

[2017-03-31 02:25] eonarheim opened #770 "Actors when scaled don't appear to rotate as expected"
### Steps to Reproduce
When using sprites inside of actors while setting actor scale, the actor's current image does not appear to rotate as expected.

See full repro code below:
[code]

The current work around is to scale the sprite separately instead of the actor.

`actor.currentDrawing.scale.setTo(1, .5)`

### Expected Result
The excalibur logo while scaled to .5 height should point at the curs

[2017-03-31 02:43] kamranayub commented on #770
Well, if you want a sweet "top down projection" rotation effect, that'll do it 💃

[2017-03-31 04:45] eonarheim opened #771 "Refactor drawing transformations to use setTransform()"
### Context
Currently we are using a non optimal way to manipulate the canvas for drawing transformations. According to JSPerf https://jsperf.com/transform-vs-settransform/4 we could be getting more draw performance out of this. Since this is in the heart of the core draw loop we could seriously boost perf.

### Proposal
Replace all calls to `ctx.translate`,`ctx.rotate`, and `ctx.scale` with the a

[2017-03-31 04:46] eonarheim commented on #770
@kamranayub It does have a orthographic projection look to it... might be something to keep in mind for the future

[2017-03-31 09:46] HSAR commented on #770
Question - is there a projected release date for this fix? Wondering if I should apply the work-around, or just forge on and wait for a patch.

[2017-03-31 12:33] eonarheim commented on #770
@HSAR We are planning on cutting the 0.10.0 release next week sometime, if this is merged soon it will make it into the next release.

[2017-04-03 15:24] PurityLake commented on #749
@kamranayub @jedeen Check [this](https://github.com/PurityLake/Excalibur/tree/add-button) branch out, using the ui visual test I am drawing a button that I've implemented taking into account #410 so let me know what needs changing, it's not finished yet, need to add some data manipulation for the `Button` class and the `UIElement`  class.

[2017-04-06 14:45] eonarheim commented on #749
@kamranayub @jedeen Any thoughts?

[2017-04-06 15:08] kamranayub commented on #749
Haven't had time to look but I will when I get a chance

On Thu, Apr 6, 2017 at 9:45 AM Erik Onarheim <notifications@github.com>
wrote:

[2017-04-07 23:50] #724 closed

[2017-04-08 00:15] #762 closed

[2017-04-08 00:34] jedeen commented on #749
@PurityLake Please go ahead and issue a pull request for these changes. It will make it easier to track the differences and provide feedback. It's perfectly all right if a PR is a work in progress. Thanks for working on this feature!

[2017-04-08 00:43] #770 closed

[2017-04-08 00:50] #563 closed

[2017-04-08 01:15] #491 closed

[2017-04-08 03:06] kamranayub opened #777 "100% automated release process"
### Context
We are very close to automating the release process for Excalibur.

### Proposal
**Goal:** To cut a new release, push new GitHub release tag.

- [x] Excalibur repo should pull GH releases for latest stable (env var?)
- [x] Excalibur repo should build API docs
- [x] Docs should build at latest release tag AND edge
- [x] Docs should query GH for latest release information for homepage (e

[2017-04-11 02:27] kamranayub commented on #777
For Typedoc, it would be best to generate docs inside this repository but have the site repo publish the docs. That way, we always ensure the docs can build in CI and use the right version, but the site repo can slurp them up and publish them to the appropriate location (tag or edge)

[2017-04-12 11:43] Majirefy opened #780 "How to draw game in center of screen."
Excalibur draws game content on the left top of the screen.
Is it possible to change that? Draw the canvas in the center of the screen?

[2017-04-12 12:11] kamranayub commented on #780
If you're looking to change the canvas position, typically we just use CSS
to center or put the canvas wherever we need.

The following styles will center the canvas:

    canvas { margin: 0 auto }

Older browsers sometimes need `text-align: center` applied on the parent
element (body) but auto margin usually centers elements. Our samples
typically center the canvas on screen.

On Wed, Apr 12, 201

[2017-04-12 12:13] kamranayub commented on #780
It wouldn't be a bad idea to have a canvas position parameter in engine
options that adds these styles for you. Typically I want more control so I
use CSS myself but not everyone knows CSS necessarily

On Wed, Apr 12, 2017, 07:11 Kamran Ayub <kamran.ayub@gmail.com> wrote:

[2017-04-12 12:41] Majirefy commented on #780
Thanks! @kamranayub
Is it possible to use webGL?

[2017-04-12 12:56] kamranayub commented on #780
Not at this time, all the draw logic in Excalibur is based on the 2D
context. A core drawing rewrite may lead to webgl support, but not sure yet
what implications that'll have.

On Wed, Apr 12, 2017, 07:41 Majirefy <notifications@github.com> wrote:

[2017-04-12 12:59] Majirefy commented on #780
Thanks!

There are few game engine in TypeScript, and Excalibur is a good one.
Happy to see more improvements in the future!

[2017-04-12 15:23] kamranayub opened #781 "Add engine option to allow positioning the canvas"
### Context

Right now you can position the game canvas using CSS, however not everyone may know how to do this effectively, especially if they want to vertically center the canvas.

### Proposal

Add an engine option `canvasPosition` that will add some styles to position the canvas:
- top / bottom / middle
- left / right / center
- absolute value (CSS object, `{ top: '4px', left: '50%', right: 6,

[2017-04-12 15:25] kamranayub commented on #780
Closing in favor of enhancement #781

[2017-04-12 15:26] #780 closed

[2017-04-20 01:14] jedeen opened #789 "Semicolon key command doesn't work in Firefox"
Note: this is not an issue in Google Chrome. There may be other keys that also cause this issue.

### Steps to Reproduce
[code]

### Expected Result
"semicolon pressed"

### Actual Result
"unsupported key command"

### Environment

- browsers and versions: Firefox 53.0 (32-bit)
- operating system: Windows 7
- Excalibur versions: Excalibur 0.10.0

[2017-04-20 02:53] jedeen commented on #789
Additional context: http://stackoverflow.com/questions/3883543/javascript-different-keycodes-on-different-browsers

[2017-04-20 13:03] kamranayub commented on #789
Browsers are the worst

On Wed, Apr 19, 2017, 21:53 Josh Edeen <notifications@github.com> wrote:

[2017-04-24 16:44] andrewmbyrd opened #790 "Incorrect Instructions on Documentation Site"
### Context
On your [documentation website](http://docs.excaliburjs.com/en/latest/quickstart.html), the instructions for walking through the introductory Block Breaker game reference a `game.getHeight()` method. You mention in the [release page](https://github.com/excaliburjs/Excalibur/releases/tag/v0.10.0) that for version 0.10.0 `Engine.getHeight()` no longer works and has been replaced by `Engi

[2017-04-24 17:24] kamranayub commented on #790
Documentation is just in the docs folder of the repository. Feel free to
submit a PR!

On Mon, Apr 24, 2017, 11:44 Andrew <notifications@github.com> wrote:

[2017-04-25 18:23] andrewmbyrd commented on #781
I've started to take a look at this issue, and I'm making a few observations as I dive in and try to figure out the code base.

1. It seems we should be able to adjust canvas position only when `ex.DisplayMode` is `Fixed` or 'Container' (not `FullScreen`)
2. Users should be able to select  (top/bottom/middle , left/right/center) OR (absolute value). So they could want a canvas position of for exam

[2017-04-26 13:35] kamranayub commented on #781
This might be an opportunity to consolidate the display modes.

- ex.DisplayMode.Fullscreen
- ex.DisplayMode.Fixed
- ex.DisplayMode.Container
- ex.DisplayMode.Position

We can then add an `IEngineOptions` property for `position` that accepts a string OR absolute position object. If the user provides `ex.DisplayMode.Position` and they do *not* provide a position property we should throw an error.

[2017-04-26 15:48] #790 closed

[2017-04-27 23:06] kamranayub opened #794 "Upgrade to TS 2.5 or 2.6.1 if possible"
### Context
TypeScript 2.5 has been released:
https://blogs.msdn.microsoft.com/typescript/2017/08/31/announcing-typescript-2-5/

### Proposal
- [x] Update Typedoc
- [x] Update core

[2017-04-29 16:19] eonarheim opened #795 "RayCasts fail when the start of a ray shares a coordinate with a BoundingBox"
### Steps to Reproduce
This ray should not intersect with this bounding box
[code]
Basically this rayCast is incorrectly reporting intersection

![image](https://cloud.githubusercontent.com/assets/612071/25556989/8c1939fc-2ccd-11e7-9d80-b0cb4bd64bc1.png)

### Expected Result
The above test should pass, and the ray should not intersect

### Actual Result

### Environment
N/A

### Proposal
There is

[2017-04-29 16:35] eonarheim opened #796 "Rename ex.Scene.children to ex.Scene.actors"
### Context
Currently, it is conceptually confusing when trying to get at actors in a scene. It doesn't make sense that the collection in a scene is called children. It should be named for what it is :)

This will be a breaking change, so we could potentially add backwards compatibility getter/setter to call through to the new `ex.Scene.actors`. Something like the below code perhaps with a depreca

[2017-04-29 16:47] eonarheim opened #797 "When setting Vector type setters/getters, we should implicitly clone to avoid bugs"
### Context
This recently bit me during Ludum Dare 38. I assigned an `ex.Actor.pos` to a point that was part of another type which consisted of a grid of `ex.Vector`'s

The problem can be easily demonstrated thus
[code]
The reason this happens, is because Vector (even though I want to treat it like a value type) is actually a reference type, and the reference in this case is shared causing problem

[2017-04-29 16:51] alanag13 commented on #796
In line with what happened when we changed getHeight and getWidth, we should also check for documentation that mentions the use of .children

[2017-04-29 16:56] eonarheim opened #798 "Fix odd method name ex.Util.removeItemToArray to ex.Util.removeItemFromArray"
### Context
This is an oddly worded confusing method ex.Util.removeItem**To**Array, it just needs to be renamed.

### Proposal
Rename it to ex.Util.removeItem**From**Array

[2017-04-29 16:56] alanag13 commented on #797
Are there any valid use cases for keeping this behavior? Can we think of a scenario where a developer would want multiple actors to share a reference with the same Vector?

[2017-04-29 16:59] kamranayub commented on #796
Yes I think a deprecation is okay, we can remove it for 1.0

On Sat, Apr 29, 2017, 11:51 Alan Grgic <notifications@github.com> wrote:

[2017-04-29 17:01] eonarheim commented on #797
@alanag13 I'd argue that even if you could come up with one, the potential to blow your own foot off is too great. And conceptually it's weird to share a value, it's like they share the number 5 but somehow its value was changed under you.

[2017-04-29 17:07] alanag13 commented on #797
I agree, just playing devils advocate. Changing the behavior of a getter/setter always feels a little weird to me

[2017-04-29 17:13] eonarheim opened #799 "Actors that are killed are still colliding"
### Steps to Reproduce
After an actor is killed the on.collision method is still happening sometimes, `collision!` will be logged multiple times.

[code]
This problem can be demonstrated in the ludum-38 repo https://github.com/excaliburjs/ludum-38/blob/fa840bb2022e0c1d552f4e3a93a11e0dd5580000/game/Player.ts#L75

### Expected Result
I would have expected actors not to participate in collisions afte

[2017-04-29 17:19] alanag13 commented on #799
It seems kinda hacky, but could a potential solve for this just be to simply set the collision type to PreventCollision in the kill method itself?

[2017-04-29 17:21] jedeen commented on #799
@alanag13 That would solve the immediate issue. It would not solve other potential problems, such as extra non-collision events being fired because the Actor is still around after it's supposed to be gone.

[2017-04-29 19:21] eonarheim opened #800 "Camera zoom over time does not work"
### Steps to Reproduce
Zoom over time is broken. However, instantaneous zoom still works.

[code]

### Expected Result
The camera should zoom in X times over a specified time in milliseconds.

### Actual Result
The camera does not zoom over time.

### Proposal
There is a fix in the ludum-dare-38 branch, but it will need tests and more validate. It worked well enough for the ludum-38 game https://g

[2017-04-29 19:32] eonarheim opened #801 "Add ex.Sound per-play volume setting"
### Context
It is slightly clumsy to play sounds at different volumes dynamically. It would be nice to have a new way to play a sound on demand at a specific volume. Currently you need to set the `ex.Sound.volume` property then call `.play()` then set the `.volume` property for every play that you want at a different volume. We should also be able to dynamically change volume while playing.

### P

[2017-04-29 19:43] kamranayub commented on #797
I think this makes sense, we want to treat it as much like a value type as we can

[2017-05-01 20:09] andrewmbyrd commented on #801
I could take a look at this. Seems like updating the existing `Sound.play` method to take a volume parameter should work: `Sound.play(volume?: number)`.

With setting a profile, would you envision that after setting with `sound.withProfile(profile)`, that any future calls to `sound.play()` would make use of that profile information?

I'm only slightly familiar with interpolation curves. In CSS, th

[2017-05-02 01:31] kamranayub commented on #801
@eonarheim Let's separate this into two issues, since per-play volume is a lot easier to jump in and fix.

[2017-05-02 12:05] andrewmbyrd commented on #667
I see in Body.ts and CollisionContact.ts the ways in which we determine _how_ to resolve a collision, but can you point out how Excalibur is determining _when_ a collision has occurred?

[2017-05-02 22:39] eonarheim commented on #667
@andrewmbyrd Collision happens in 2 steps, the broadphase and the narrowphase.

The broadphase collects physics bodies that _could_ possibly collide and builds up `CollisionPair`'s, the narrowphase determines if the pairs actually contain a collision. It does this because comparing shapes n^2 across the scene is pretty expensive.

Broadphase and narrowphase
https://github.com/excaliburjs/Excalibur

[2017-05-03 01:05] Crizzooo commented on #798
Can I take this as a first PR? does seem very easy though hahaha

[2017-05-03 01:48] eonarheim commented on #798
Go for it! :)

On Tue, May 2, 2017, 20:05 Christopher Rizzo <notifications@github.com>
wrote:

[2017-05-07 22:32] alanag13 opened #803 "Support "audio sprites" / playing a "clip" of an audio resource"
### Context
Currently, without adding some form of additional logic, there is no flexibility over the duration of a sound's play. Additionally, a separate file needs to be supplied / loaded for every audio resource in the game.

### Proposal
Solve both problems by providing APIs to play "clips" from a file rather than only the entire file.
Example:
[code]

[2017-05-08 02:47] kamranayub commented on #803
Wasnt there already a sound sprite issue? Maybe only groups...

On Sun, May 7, 2017, 17:32 Alan Grgic <notifications@github.com> wrote:

[2017-05-08 02:48] alanag13 commented on #803
I looked for one, but groups/sound manager was all i could find.

[2017-05-09 01:05] jedeen commented on #4
Closed in favor of #803

[2017-05-09 01:05] #4 closed

[2017-05-09 01:06] jedeen commented on #803
https://github.com/excaliburjs/Excalibur/issues/4, but I've closed it in favor of this one, which follows our new issue template.

[2017-05-09 01:54] eonarheim opened #804 "Sound profile feature for dynamic sounds"
### Context
It would be super cool to change the volume and other properties of a sound over time while it is playing. Perhaps other properties could also be controlled, like pitch, or anything else web audio supports.

### Proposal

Potentially add a `ex.Sound.playWith(profile: ISoundProfile)` that takes a ISoundProfile to describe how the sound should change over time.

[code]

[2017-05-09 01:55] eonarheim commented on #801
@andrewmbyrd @kamranayub I've split these into two separate issues, since the per-play is much simpler to implement. And sound profiles are more nebulous
https://github.com/excaliburjs/Excalibur/issues/804

[2017-05-09 05:05] kamranayub opened #805 "Replace mock.engine with real engine"
### Context

I think new and core contributors alike are getting a bit confused with what approach to test the engine. We don't need to use `mock.engine` anymore, that is deprecated. This was used back before engine's dependencies were made testable.

The only key thing to remember is to stop the engine after each test so it gets cleaned up, otherwise there will be multiple engines running which c

[2017-05-10 19:23] andrewmbyrd commented on #804
I believe I've got a solid understanding of how to implement a bezier curve in general, but where would it be best to put the code? Since `play` is a `Promise`, it seems hard to have any aspect of the sound change _while_ the sound is playing.

`HTMLAudioElement` seems to at least have an `ontimeupdate` event listener that could be useful, but I couldn't find any such function for `AudioBufferSour

[2017-05-11 20:32] mrkmg opened #807 "Mousewheel support"
How does one access mousewheel events. I want to use it for the typical zooming function.

I have dug through all the docs, and even the source but I do not see a way :-(

[2017-05-11 21:21] jedeen opened #808 "Add support for wheel events"
### Context
Currently, Excalibur does not directly support wheel events (such as mouse scrolling) for input.

### Proposal
Add support for [wheel events](https://developer.mozilla.org/en-US/docs/Web/Events/wheel).

Additionally, work will need to be done for the scenario where a game is using wheel events, but the page has a scroll bar.

[2017-05-11 21:22] jedeen commented on #807
Thanks for your interest in Excalibur! Currently, Excalibur does not directly support wheel events. I have added an issue (#808) to our backlog to add this feature.

[2017-05-11 21:22] #807 closed

[2017-05-12 01:50] mrkmg commented on #808
I am willing to implement this (I already have a working prototype I am using in game I am working on).

For handling the scenario's where the page could have a scroll bar, we could provide some sort of "enableMousewheelCapture" flag which uses event.preventDefault() to cancel the window from scrolling. That way, the developer can decide how to handle that circumstance.

Aside from that, what shou

[2017-05-12 13:14] jedeen commented on #808
I like "wheelForward" and "wheelBackward". @excaliburjs/core-contributors, any thoughts?

Watching for changes in vertical scroll covers the most common action with a standard mousewheel. There are other scrolling scenarios we may want to address (for example, a trackball, or a mouse with sidescroll capability). Those are probably best left to a second issue to add additional support for changes i

[2017-05-12 14:16] mrkmg commented on #808
@jedeen Further issues.

According the MDN (https://developer.mozilla.org/en-US/docs/Web/Events/wheel) there is a "deltaMode" which defines what type of "detla" is pased. It can either be "pixels", "lines" or "pages".

The question is, do we try to normalize this, or do we just give the developer the deltaMode and let them deal with it?

I am leaning toward just giving the developer the deltaMode

[2017-05-12 16:19] jedeen commented on #808
Excalibur currently targets ECMAScript 5, which does not include the `let` statement.

I think passing through the `deltaMode` should be fine for now; we can always enhance the functionality at a later point.

[2017-05-13 16:31] kamranayub commented on #808
@jedeen did you mean to leave this comment on the PR?

[2017-05-13 16:33] #781 closed

[2017-05-13 16:33] jedeen commented on #808
@kamranayub no, I haven't had a chance to look at the PR yet, just responding to the questions in the previous comment.

[2017-05-22 16:39] Crizzooo commented on #798
Changed the method and added test specs. I think I followed most rules I found in the Contributing guidelines as far as writing tests, referencing changes/issues, making the PR - how'd I do?

I didn't do much, but that was fun. Got any other beginner issues to get my feet wet with?

[2017-05-22 17:04] kamranayub commented on #798
Anything tagged jump-in is up for grabs! Plenty of work to be done!

On Mon, May 22, 2017, 11:39 Christopher Rizzo <notifications@github.com>
wrote:

[2017-05-22 18:40] Crizzooo commented on #798
@kamranayub Cool, I'm currently eyeing #612 and getting familiar with TypeScript now. This one seems pretty easy, just making this.pos = new Vector(x, y), but I'm waiting for some feedback before going forward.

[2017-05-22 20:33] Crizzooo commented on #612
I wanted to remove the public from X and Y so that they are not automatically created as properties on the instance, but this broke the API Docs Build. Could someone tell me if thats the intended solution? (Take in X and Y on constructor to make the `pos` vector, but not to actually use them as properties).

&& then I could use a pointer in the right direction to update the Docs/Doc Build correctl

[2017-05-22 20:48] Crizzooo commented on #517
I was looking into this, but I'm unable to track down that Point class other than some tests in the sandbox?

Does it still exist? I dont see Vector being an extension of Point.

Other than placing the method on Point as a class method, could this just be a Utility function that accepts two points (or vectors) and returns their distance?

[2017-05-22 20:55] Crizzooo commented on #796
Is this still open? I can attempt it.

As far as what @eonarheim was saying with backwards compatability - could we write one children method to match both the get and set? If an argument is present, it sets children based on the argument. Else, it functions as a get and returns the children.

Forgive me if Im misunderstanding how TS works in this case.

[2017-05-22 21:15] kamranayub commented on #517
I think this is implemented as an instance member on Vector (
https://excaliburjs.com/docs/api/edge/classes/_algebra_.vector.html#distance),
we should just make a static method that accepts two Vectors and call it a
day, I don't think it really belongs in Util as originally proposed (but we
can discuss it).

On Mon, May 22, 2017 at 3:48 PM Christopher Rizzo <notifications@github.com>
wrote:

[2017-05-22 21:15] kamranayub commented on #517
Oh, and yes, we removed Point in favor of Vectors.

On Mon, May 22, 2017 at 4:14 PM Kamran Ayub <kamran.ayub@gmail.com> wrote:

[2017-05-23 01:27] #667 closed

[2017-05-23 02:15] #801 closed

[2017-05-24 17:13] Crizzooo opened #817 "Correct Typo in AlgebraSpec.ts"
### Context
The test spec `it('can be normalized to a lenght of 1')` has length spelled incorrectly. No big deal, but I figured I'd submit the PR and fix it when it caught my eye.

### Proposal
correct typo

[2017-05-25 17:16] kamranayub opened #820 "Split fast unit tests from longer functional tests"
Related to #623

### Context
Currently we manage all specs in a single bundle, running all tests through PhantomJS + Jasmine. This allows us to avoid mocking browser globals but comes at a cost of running every test through a heavy browser context where they may not need it. It also allows us to do visual tests where we do an image diff on canvas rendering.

### Proposal

Separate tests into two p

[2017-05-26 15:31] #817 closed

[2017-05-26 19:18] Crizzooo commented on #798
@kamranayub or @eonarheim  - this issue can be closed and was handled in #812

[2017-05-27 02:03] #517 closed

[2017-05-27 03:00] kamranayub commented on #796
@Crizzooo You can go for it.

Unfortunately we can't use a method, because existing calls to `.children` will fail (since it was a property before, not a method). A getter/setter like above should work fine.

[2017-05-27 03:03] kamranayub commented on #798
@Crizzooo Actually that PR was closed because the commits were lost. I'd make a new branch and re-submit.

[2017-05-28 09:11] prubini87 opened #828 "game/game.ts(47,24): error TS2339: Property 'x' does not exist on type 'GameEvent<any>'."
Hello, I've encountered a problem while trying to follow one of the starting tutorials. "npm start" is returning the error in the title. The tutorial I'm following is this: [Hello Excalibur: Building Breakout!](http://docs.excaliburjs.com/en/latest/quickstart.html).

game.ts(47,24) is
`game.input.pointers.primary.on('click', function (evt) {
    paddle.pos.x = evt.x;
    paddle.pos.y = evt.y;
});`

[2017-05-28 15:33] kamranayub commented on #828
It should be typed as PointerEvent, not GameEvent. It could be a bug with
our overload signature. You can explicitly type it by doing evt:
PointerEvent in the callback method.

On Sun, May 28, 2017, 04:11 Pedro Rubini <notifications@github.com> wrote:

[2017-06-06 01:28] #828 closed

[2017-06-06 01:39] #789 closed

[2017-06-06 01:52] #797 closed

[2017-06-06 02:05] #795 closed

[2017-06-06 02:14] #808 closed

[2017-06-06 11:43] kritisingh1 commented on #573
@eonarheim if this issue is open, I would like to work on it. I am a beginner and this would be my first contribution to open source.

[2017-06-06 13:55] kamranayub commented on #573
You could try, I imagine this will be a bit of work. There's a VS Code
plugin called Spell Right that I use that intelligently does spell checking
in comments or strings and ignores code. It might be good to look at their
source code to see how they do it (may be using Code APIs) or look at TS or
JS spell check plugins if they exist that we can integrate.

On Tue, Jun 6, 2017, 06:43 Kriti Singh <n

[2017-06-09 21:35] PurityLake commented on #749
Have to apologise for the absence, health issues but I'm back again. Gimme a day to reaquaint myself with the code I wrote and I'll make a pull request.

[2017-06-10 19:48] eonarheim opened #833 "Implement more robust image diff matching tests"
### Context
Image diff tests are non-deterministic across platforms and often times on the same platform (for example font rendering changed slightly between versions of windows 10). We need to come up with a more robust way of doing image tests that allows for some slack and not a "pixel perfect" test approach which is brittle.

### Proposal
Craft a new Jasmine 2.x matcher with a new image diff i

[2017-06-10 20:25] eonarheim commented on #833
As part of this issue we should uncomment the tests for #800 `CameraSpec.ts` to validate

[2017-06-10 20:33] #800 closed

[2017-06-11 20:32] jedeen opened #837 "Actor Color alpha channel not updated for ex.Color.Transparent"
When setting an Actor's color to Transparent, the actor's alpha channel remains set to 1.

### Steps to Reproduce
[code]
### Expected Result
The actor should become transparent.

### Actual Result
The actor was still visible.

![image](https://user-images.githubusercontent.com/675840/27014194-7566c608-4eb9-11e7-8500-0b84b6a8a295.png)

Note: setting the `actor.opacity` to 0 correctly makes the acto

[2017-06-11 21:13] jedeen opened #838 "Excalibur console message should automatically update for release"
Excalibur 0.11.0 does not show the correct label in the browser console (0.10.0 does, but this was prior to our automatic version proliferation).

### Steps to Reproduce
`npm install excalibur@0.11.0`

then

[code]
Check the "Powered by Excalibur.js" text in the browser console.

### Expected Result
"Powered by Excalibur.js (v0.11.0)"

### Actual Result
![image](https://user-images.githubuserconte

[2017-06-11 22:56] kamranayub commented on #838
Thinking about this--this gets substituted at build time, the core repo gets built, then it commit+pushes to the dist repo. I believe the way to handle this through the automation in #777 is to ensure we substitute the right version before we auto-publish to npm/Nuget. We'll probably have to do string substitution (which shouldn't be hard due to the variable name we use).

To fix it currently, @eo

[2017-06-13 01:30] eonarheim commented on #321
@jedeen Could this be an option on follow?

[2017-06-13 01:33] eonarheim commented on #833
Also related to #820

[2017-06-13 01:37] kamranayub commented on #492
is this for excaliburjs/excaliburjs.github.io?

[2017-06-13 01:38] #492 closed

[2017-06-13 01:43] kamranayub commented on #245
UWP template done in https://github.com/excaliburjs/example-uwp

[2017-06-13 01:43] #245 closed

[2017-06-13 01:45] jedeen commented on #232
duplicate of https://github.com/excaliburjs/Excalibur/issues/665

[2017-06-13 01:45] #232 closed

[2017-06-13 01:49] kamranayub commented on #24
Can make a separate issue for concave. Convex polygons are supported since 0.8

[2017-06-13 01:49] #24 closed

[2017-06-13 01:50] eonarheim opened #839 "Add a ex.Timer.on/off method to easily add multiple callbacks"
### Context
Add `ex.Timer.on` and `ex.Timer.off` methods to timer, right now it is hard to add callbacks to timer since it is a constructor argument. Also I want to make the constructor argument optional if we add these methods.

### Proposal
Something like this
[code]

[code]

[2017-06-13 22:05] jedeen opened #840 "Implicitly clone a Color when setting it"
### Context
When setting an ex.Color on an Actor, Excalibur does not implicitly clone the Color. This currently has the potential to cause confusion if multiple Actors are set to the same color, and then graphics transformations are applied that affect that Color (for example, changing the alpha channel value).

(see also #797)

### Proposal
Clone ex.Color when it is set, to avoid potentially unin

[2017-06-14 17:21] CorayThan opened #841 "Breakout demo is a broken link"
Title says it all.

[2017-06-16 22:53] jedeen opened #843 "Breakout Demo link is broken"
### Steps to Reproduce
1. Navigate to https://excaliburjs.com/samples/
2. Click on the Breakout sample Demo link (https://erikonarheim.com/labs/breakout)

### Expected Result
Load the Breakout Demo

### Actual Result
404 File not found

[2017-06-16 22:53] jedeen commented on #841
Thanks for noticing this! I've filed an issue using our template (#843).

[2017-06-16 22:53] #841 closed

[2017-06-16 23:00] jedeen opened #844 "Create separate 'Samples' and 'Gallery' pages on the site"
### Context

The current collection of Samples is mostly the product of game jams, and very few of them are using what we consider best practices for Excalibur development.

### Proposal
1. Move these games to a Gallery page.
2. Only put games on the Samples page that follow best practices for Excalibur development, and can be considered good code to look at for implementation examples.

(see also

[2017-06-16 23:18] jedeen opened #845 "Create Sample games"
### Context
We should have more example games of best practices Excalibur development.

### Proposal
Create several small sample games to do so.

Potential list:

- [ ] shoot 'em up (base exists)
- [ ] Excalibird (base exists)
- [ ] breakout (base exists)
- [ ] basic platformer
- [ ] pong
- [ ] basic turn-based game (checkers or something similar)
- [ ] a few physics demos
- [ ] etc. etc.

Ideally

[2017-06-16 23:22] kamranayub commented on #843
Shouldn't it link to the fiddle we have?

On Fri, Jun 16, 2017, 17:53 Josh Edeen <notifications@github.com> wrote:

[2017-06-16 23:24] jedeen commented on #843
@kamranayub That's what we should probably update it to, yes.

[2017-06-20 02:44] kamranayub opened #846 "Add `backgroundColor` to IEngineOptions"
### Context

You can set the `backgroundColor` property on an instance of engine but cannot pass it in via the constructor options.

[code]

### Proposal

Add `backgroundColor` to `IEngineOptions` and allow setting it that way. It should be as easy as adding a new property and then setting it in the Engine constructor.

[code]

[2017-06-26 23:33] htalat commented on #846
Hi,
I'd like to work on this.

[2017-06-27 01:11] #566 closed

[2017-06-27 01:16] kamranayub commented on #846
Thanks @htalat! Make sure to review the contributing guidelines for what we expect and we look forward to seeing your PR!

[2017-06-27 01:45] #796 closed

[2017-06-28 06:04] vritant24 commented on #583
Hi, I'd like to try this out.
Could I get some help with finding where I would start?

[2017-06-28 12:58] kamranayub commented on #583
Yes (we need to make sure we do this for jump in's, sorry).

Change this LOC to `true`:

https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Drawing/Animation.ts#L43

Then verify this in a test. We don't yet have an `AnimationSpec` so you can create a new one (hooray!):

https://github.com/excaliburjs/Excalibur/tree/master/src/spec

Just need to verify by default `animation.loop` is tr

[2017-06-28 13:06] kamranayub opened #852 "Add `Color.toHex()`, `toRGBA()`, and `toHSLA()` methods"
### Context

Color supports converting *from* Hex/HSL representation but not back to them (only RGBA).

### Proposal

Modify Color class:

1. Add a new instance method `toHex()`.
2. Add a new instance method `toRGBA()`
3. Add a new instance method `toHSLA()`
3. Add an optional param `type` to `toString()` that accepts a string, either `rgb`, `hsl` or `hex` parameter (default: "rgb" to maintain bac

[2017-06-28 13:34] vritant24 commented on #583
Alright thanks for the steps. I've made the change to `Animation.ts` and added an `AnimationSpec.ts` where I wrote the the test.
How am I supposed to run the tests? When I run `npm tests` it gives me an error that `ex` is not defined in any of the specs

[2017-06-28 14:15] vritant24 commented on #583
I have created the test, and it works. I cannot complete `npm run all` because another test fails.
Should I go ahead and make the pull request?

[2017-06-28 14:31] kamranayub commented on #583
Can you send us the names and failure messages for the tests that are
failing? I believe none should be but there may be another cause.

On Wed, Jun 28, 2017 at 9:17 AM Vritant Bhardwaj <notifications@github.com>
wrote:

[2017-06-28 15:29] vritant24 commented on #583
The following test fails. I'm running this on Mac OSX, and i also tried it out in a branch that didn't have the changes I made. It still failed.
[code]

[2017-06-28 15:38] kamranayub commented on #583
@jedeen was this test disabled in your recent PR? I thought we disabled all label tests for now...

[2017-06-28 15:38] eonarheim commented on #583
@vritant24 Ah, this must have been missed in f88fa2a Mac OSX will render font width differently than other platforms, hence the reason we've disabled those tests because of the heartache they cause.

Feel free to x the test `xit('can measure text width')` so that this font test doesn't run and submit a PR for the Animation fix.

[2017-06-28 15:43] vritant24 commented on #583
Alright awesome. That fixed it.

[2017-06-28 18:01] htalat commented on #852
hey! can i work on this?

[2017-06-28 18:03] kamranayub commented on #852
@htalat Absolutely, your PR inspired this one when I noticed these were missing 👍

[2017-06-28 18:04] htalat commented on #852
haha great!

[2017-06-28 18:30] jedeen commented on #583
@eonarheim Yeah, I only disabled tests that failed locally on the new update of Windows 10.

[2017-06-28 18:44] kamranayub opened #854 "Create an excalibur CLI"
### Context

It's no surprise most modern frameworks today distribute a CLI (Angular, Ember, React), JS development is hard to bootstrap.

### Proposal

Post-1.0, we should consider creating an excalibur CLI that could:

- Generate games
- Migrate games to new versions (using codemods)
- Allow additional plugins (excalibur-pack, excalibur-tiled)
- Scaffold classes
- Build and distribute the game (

[2017-06-28 21:46] #846 closed

[2017-06-29 20:27] htalat commented on #852
what to return in case an invalid format is provided?

[code]

[2017-06-29 21:15] kamranayub commented on #852
I would throw an error (throw new Error("foo"))

On Thu, Jun 29, 2017 at 3:27 PM Hassan Talat <notifications@github.com>
wrote:

[2017-06-30 13:12] #583 closed

[2017-07-01 13:24] #852 closed

[2017-07-01 20:46] htalat commented on #798
can i submit a pr for this if its still open

[2017-07-02 16:59] htalat commented on #839
was going through the code to see if I can do this,
doesn't the timer have a single handler?

[2017-07-03 22:36] eonarheim commented on #839
@htalat Correct, right now time only supports a single handler. This would allow timers to support multiple handlers, and possibly change the constructor signature to remove the old handler definition (or maybe make it optional?)

[2017-07-28 14:49] #843 closed

[2017-08-08 03:06] kamranayub opened #860 "Add support for cell spacing in TileMap"
### Context

Tiled lets you add cell spacing to the grid. TileMap should support that. See https://github.com/excaliburjs/excalibur-tiled/issues/11

### Proposal

Add new `cellSpacing` property to TileMap and draw accordingly.

[2017-08-08 19:13] eonarheim opened #861 "High DPI Support for Excalibur"
### Steps to Reproduce
On high DPI screens, assets in Excalibur do not scale correctly as expected for the screen. In order to reproduce this run https://sarasflare.com/play/#/login

An explanation of the issue is located here in the excalibur google group https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/excaliburjs/GgOyA8dQd8E

We should look at investing in a high DPI s

[2017-08-08 21:09] kamranayub commented on #861
Resource: https://www.html5rocks.com/en/tutorials/canvas/hidpi/

[2017-08-12 15:11] eonarheim opened #862 "CollisionGroups do not work at all"
### Steps to Reproduce
The `.onCollidesWith` handler does not fire when active collision types collide with groups added with `.addCollisionGroup` that match the filter in the handler.

Here is a codepen reproducing the issue https://codepen.io/eonarheim/pen/LjjeEm
Left click to move the read block right, right click to move the blue block left.

We also have a second "Group" type that is confusin

[2017-08-12 15:20] eonarheim commented on #862
In fact upon further review they seem to be half implemented... perhaps this was a leftover from a hopeful implemenation or from the `Groups` implementation?

[2017-08-12 15:24] eonarheim opened #863 "Triggers aren't the best"
### Context
Currently it is tough to do anything with triggers that is useful, I suggest revamping the current implemenation so that it supports an option bag constructor, conditional filtering on triggering, and a friendlier interface.

### Proposal
Something like this would be a great start
[code]

[2017-08-12 18:18] eonarheim commented on #861
This is super awesome https://material.io/devices/

[2017-08-12 19:34] kamranayub commented on #838
Should be done by #867

[2017-08-12 19:34] #838 closed

[2017-08-13 19:27] eonarheim commented on #863
Triggers should also have a way to only trigger on enter

[2017-08-13 20:24] jordanroher opened #872 "Loading text resources fails"
### Steps to Reproduce

1. Have a resource that references a text file, e.g. `MainData: new ex.Resource("/play/res/fonts/main.txt", "text")`
2. Add this resource to the loader
3. Load the resource

### Expected Result

- The **public load(): Promise<T>** function inside **Resource.ts** sets `this.data` to the contents of the text file

### Actual Result

- Receive this error from **public processD

[2017-08-14 15:25] kamranayub commented on #872
Is the response time a valid MIME type? Unrelated to the issue, I think,
just wondering if it should be `text/plain`

On Sun, Aug 13, 2017 at 3:24 PM Jordan Roher <notifications@github.com>
wrote:

[2017-08-14 15:27] kamranayub commented on #872
The proper way to address this I think is to inspect whether the return response is a byte stream or plaintext and act accordingly, that way it'll work for other plain text MIME types.

[2017-08-15 01:05] eonarheim commented on #863
There is also a prime event opportunity here for a `.on('enter', ()=> {})` and `.on('exit', ()=> {})`

[2017-08-15 01:10] eonarheim commented on #862
This is an interesting read and may be pertinent to this issue http://www.aurelienribon.com/blog/2011/07/box2d-tutorial-collision-filtering/

[2017-08-15 01:28] eonarheim commented on #683
@kamranayub Did we finish this a while ago?

[2017-08-15 20:22] jordanroher commented on #872
I tried `text/plain` but it didn't like that. URL.createObjectURL throws the fairly unhelpful `TypeError: Type error`

[2017-08-15 20:41] kamranayub commented on #872
Well, I think you'd still need your workaround, I was just commenting on using the standard MIME type.

Also, as a workaround, I think you can extend `Resource` and override the `processData` method to do what you like.

(pseudo)

[code]

[2017-08-16 02:11] jedeen commented on #837
After further discussion, the root of this issue seems to be that `Actor` has its own opacity property that updates its color's opacity, which isn't really utilized except as a convenience for the fade Action. I'm going to re-purpose this issue to remove the `opacity` property from `Actor` in favor of using the opacity on the Actor's `color` or `currentDrawing`. The fade Action will also be update

[2017-08-16 02:16] jordanroher commented on #872
That... almost worked. I tried setting `this.data` in `processData()` manually, but in `getData()` it insists that `this.data` is null.

But this worked, so I'm good.

	class TextResource extends ex.Resource<string> {
		textData: string;

		processData(data: string): void {
			this.textData = data;
		}

		public getData(): string {
			return this.textData;
		}
	}

[2017-08-16 02:29] #837 closed

[2017-08-16 02:29] jedeen opened #874 "Actor should not have its own opacity property"
### Context
`Actor` should not have its own opacity property. Currently, it's used to facilitate the `Fade` Action, and to override the opacity of the Actor's `color` property (if it has one). This has the potential to cause confusion, over which property is actually used (see #837).

### Proposal
`Actor.opacity` should be deprecated in favor of using the opacity of `Actor.color.a` or `Actor.curre

[2017-08-16 02:29] jedeen opened #875 "If the opacity of an Actor's drawing/color is 0, don't draw the actor"
### Context
If an Actor's `currentDrawing` or `color` has it's opacity set to 0, the Actor will still draw transparent pixels to the canvas.

### Proposal
Set `Actor.visible` to false if the Actor's drawing or color is 100% transparent, to prevent transparent pixels from being drawn.

[2017-08-22 19:34] kamranayub commented on #874
Yeah I think this makes sense

[2017-08-29 01:24] eonarheim commented on #874
The fade action is going to need to be retooled to take this into account, but I think this is a good idea.

[2017-08-29 01:50] eonarheim commented on #5
This is beyond the scope of excalibur, we would welcome any plugin or extension

[2017-08-29 01:51] #5 closed

[2017-08-29 01:52] eonarheim commented on #10
Closed in favor of #267

[2017-08-29 01:52] #10 closed

[2017-08-29 01:53] eonarheim commented on #62
This is beyond the scope of excalibur

[2017-08-29 01:53] #62 closed

[2017-08-29 01:56] eonarheim commented on #68
#624 closes this

[2017-08-29 01:56] #68 closed

[2017-08-29 01:58] eonarheim commented on #120
Canvas is ubiquitous now and makes this obsolete, this #27 would allow for native rendering

[2017-08-29 01:58] #120 closed

[2017-08-29 01:59] eonarheim commented on #121
We like this idea as an extension, this is beyond the scope of core excalibur

[2017-08-29 01:59] #121 closed

[2017-08-29 02:01] eonarheim commented on #128
Outside of the scope of excalibur, check out typestate https://github.com/eonarheim/TypeState

[2017-08-29 02:01] #128 closed

[2017-08-29 02:06] eonarheim commented on #178
Moved https://github.com/excaliburjs/excaliburjs.github.io/issues/18

[2017-08-29 02:06] #178 closed

[2017-08-29 02:07] eonarheim commented on #190
We are using coveralls to check code coverage, also still doesn't support typescript

[2017-08-29 02:07] #190 closed

[2017-08-29 02:07] eonarheim commented on #199
WebWorkers!!!!!

[2017-08-29 02:08] eonarheim commented on #200
WIP in excalibur-pack repo

[2017-08-29 02:08] #200 closed

[2017-08-29 02:09] eonarheim commented on #201
Sprite Fonts already support this

[2017-08-29 02:09] #201 closed

[2017-08-29 02:10] eonarheim commented on #233
We should be able to define a clipping mask for particles (and actors in general)

[2017-08-29 02:12] eonarheim commented on #346
This doesn't matter anymore, with modern module bundling we don't care

[2017-08-29 02:12] #346 closed

[2017-08-29 02:13] eonarheim commented on #358
This exists as preupdate/postupdate

[2017-08-29 02:13] #358 closed

[2017-08-29 02:16] eonarheim commented on #367
Doesn't make sense anymore

[2017-08-29 02:16] #367 closed

[2017-08-29 02:16] eonarheim commented on #367
This could be handled on the postupdate event

[2017-08-29 02:17] eonarheim commented on #369
See #273 #647

[2017-08-29 02:17] #369 closed

[2017-08-29 02:21] eonarheim commented on #402
Can't this just be done in CSS?

[2017-08-29 02:21] #402 closed

[2017-08-29 02:22] eonarheim commented on #408
GamePad vibration doesn't seem like it will be a thing, but we could keep this around for mobile vibration

[2017-08-29 02:23] eonarheim commented on #419
This is outside core excalibur, welcome a plugin

[2017-08-29 02:23] #419 closed

[2017-08-29 02:24] eonarheim commented on #432
Issue not needed anymore

[2017-08-29 02:24] #432 closed

[2017-08-29 02:26] eonarheim commented on #466
Object.observe is available in the browser

[2017-08-29 02:26] #466 closed

[2017-08-29 02:26] eonarheim commented on #487
Outside the scope of core excalibur

[2017-08-29 02:26] #487 closed

[2017-08-30 13:57] jedeen commented on #844
Already complete:
- https://excaliburjs.com/samples/
- https://excaliburjs.com/gallery/

[2017-08-30 13:57] #844 closed

[2017-09-08 03:59] raghavraman commented on #705
Can I contribute to this?

[2017-09-08 13:54] eonarheim commented on #705
@raghavraman Go for it! I'll assign myself to make sure no one else grabs it

[2017-09-09 14:31] kamranayub commented on #799
I'll look into this

[2017-09-09 17:21] eonarheim commented on #799
I believe we put a work-around for this into the latest ludum branch, could be useful place to start

[2017-09-11 23:48] jedeen opened #880 "Passive collision does not work as expected when using rigid body physics"
![excalibur-passive-collision-error](https://user-images.githubusercontent.com/675840/30301572-2cf32794-9721-11e7-8162-24ec2f3865fe.gif)
### Steps to Reproduce
[code]
### Expected Result
The dark gray (passive) block should not be affected by the red (active) block.

### Actual Result
The two blocks collide.

Removing `ex.Physics.collisionResolutionStrategy = ex.CollisionResolutionStrategy.RigidBo

[2017-09-12 01:25] eonarheim commented on #246
This is out of scope for excalibur core

[2017-09-12 01:25] #246 closed

[2017-09-12 01:26] eonarheim commented on #250
This is overkill for 2D, wontfix

[2017-09-12 01:26] #250 closed

[2017-09-12 01:27] eonarheim commented on #252
Out of scope for core excalibur

[2017-09-12 01:27] #252 closed

[2017-09-12 01:28] eonarheim commented on #266
Not sure what this means, if this is es6 style modules than it is implemented

[2017-09-12 01:28] #266 closed

[2017-09-12 01:30] eonarheim commented on #295
Out of scope for core excalibur

[2017-09-12 01:30] #295 closed

[2017-09-12 01:31] eonarheim commented on #306
Out of scope for core excalibur

[2017-09-12 01:31] #306 closed

[2017-09-12 01:32] eonarheim commented on #331
Out of scope for core excalibur

[2017-09-12 01:32] #331 closed

[2017-09-12 01:38] eonarheim commented on #529
Outside of the scope of core excalibur

[2017-09-12 01:38] #529 closed

[2017-09-12 01:41] eonarheim commented on #579
Closing too vague

[2017-09-12 01:41] #579 closed

[2017-09-12 01:43] eonarheim commented on #594
This is no longer an issue

[2017-09-12 01:43] #594 closed

[2017-09-12 16:57] jedeen commented on #267
This might be worth looking at: https://github.com/gre/illuminated.js

[2017-09-14 10:47] LePhil commented on #749
Any news on this issue? Implemented my own version but not happy at all with my own mess...

[2017-09-14 13:51] #840 closed

[2017-09-18 21:53] eonarheim commented on #749
@jedeen Any updates?

[2017-09-19 01:14] kamranayub opened #884 "Add Prettier"
### Context

[Prettier](https://github.com/prettier/prettier) auto-formats code before commit (or on save) to code standards set for the project. This should make code style a non-issue for new contributors and for the team.

### Proposal

Implement Prettier with our current TSLint rules.

1. Add the git hook using husky, as outlined in their README
2. Recommend using Prettier VSCode plug-in (opti

[2017-09-19 16:31] jedeen commented on #749
It appears that there hasn't been any activity on this for a few months now. We'll prioritize this issue for the 0.14.0 Release.

Until then, if you're using TypeScript, you should be able to drop in the [gist](https://gist.github.com/jedeen/a1c7ec5a4ebac29fce0d9a251475b67e) listed in the issue description above.

[2017-09-21 05:49] LePhil opened #885 "Pause and Continue a Timer"
### Context
Pause a game while a Timer is running.

### Proposal
A timer should be able to being paused and continued on demand, e.g. for a Pause menu.

[2017-09-26 01:43] #885 closed

[2017-09-26 02:20] #820 closed

[2017-09-26 02:20] #623 closed

[2017-09-27 23:19] eonarheim opened #888 "Actor z-index throws an error if set on a child actor or on an Actor not part of a scene"
This issue was brought up on the forum by Maxime, https://groups.google.com/forum/#!topic/excaliburjs/NPdFFSPDdwE

This may take some work to fix, probably by generalizing draw code from scene and extracting them into a separate class that can be used both by scenes, child actors, and any other actor based data structrue meant for drawing.

### Steps to Reproduce
Repro codepen https://codepen.io/a

[2017-09-28 23:36] jedeen commented on #798
Closed in 0.11.0

[2017-09-28 23:36] #798 closed

[2017-09-29 17:45] LePhil commented on #292
Almost opened this exact issue now. I have the same problem - sending the player to different interaction points and upon reaching them any number of actions should be added to the ActionQueue right then and there. Moving between the interaction points is of course chainable so a "splicing" or queueAfterCurrentAction would be perfect.
Is this something you're working on or could/should I try to ta

[2017-09-30 15:47] htalat commented on #884
can i have a go at this one?

[2017-09-30 16:42] #612 closed

[2017-09-30 17:08] jedeen opened #891 "Fix error with Karma test runner"
### Context
Running `npm run all` and `npm run tests` throws an error:

[code]

Note: This error does not fail the build

### Proposal
Prevent this error from occurring. Investigate Karma fix or property change to prevent Karma from throwing this error. Alternatively, adjust how our compilation works to prevent this error.

[2017-10-02 22:45] eonarheim commented on #884
@htalat For sure! I've assigned myself to prevent anyone else from grabbing this

[2017-10-03 01:37] eonarheim opened #894 "Excalibur events should be organized and strongly typed"
### Context
Excalibur currently uses magic strings in places for events, which is a source of bugs. Excalibur should use strongly typed events seen in `Events.ts` and also organize events by type in a separate folder.

Acceptance criteria:
- [ ] No magic string events
- [ ] Organize events into separate files an folder
- [ ] Move pointer and keyboard events from `ex.Input.` to `ex.`

For example i

[2017-10-03 01:42] kamranayub opened #895 "Investigate rollup for distribution"
### Context

The current way we create dists is kind of complex with grunt and TS using AMD with Almond.js embedded and a UMD wrapper.

### Proposal

Try looking at [Rollup](https://rollupjs.org/) to create `excalibur.es.js` and `excalibur.js` dists that accomplish the same as what we have now.

[2017-10-06 14:07] #745 closed

[2017-10-07 15:50] #880 closed

[2017-10-07 15:56] #872 closed

[2017-10-07 17:00] jedeen opened #900 "Excalibur dist automation improperly tags releases"
### Context
The excalibur-dist travis automation improperly tags our main releases
https://github.com/excaliburjs/excalibur-dist/blob/030f936461bac790cb7ccca5182b657d0ec0b012/.travis.yml#L18

We need to update the automation so that only alpha builds are tagged in the 'next' channel

### Steps to Reproduce
Publish a Excalibur Release
example: https://travis-ci.org/excaliburjs/excalibur-dist#L445

[2017-10-07 18:13] htalat commented on #884
so i have set up prettier but tslint wont run.
is it just me getting this error on running tslint?

[code]

[2017-10-08 12:57] kamranayub commented on #884
Tslint runs normally, otherwise we'd notice builds failing.

On Sat, Oct 7, 2017, 13:13 Hassan Talat <notifications@github.com> wrote:

[2017-10-08 16:04] eonarheim commented on #884
Hi @htalat, have you run an npm install after cloning/forking?

I double checked a fresh clone of master that tslint is running

[code]

The tslint portion runs for me and outputs
[code]

[2017-10-12 18:51] htalat commented on #884
so, was getting this error after making changes so I updated tslint then I was getting linting errors. (which means lint is running)
Do you want me to update to the latest tslint or the next version that works?
currently: `"^3.13.0"`
latest: `5.7.0'

[2017-10-12 19:34] kamranayub commented on #884
Yeah we should update! Good opportunity to do so.

[2017-10-24 05:19] alanag13 commented on #833
This seems to be happening on more tests over time, most recently headless chrome seems to have some rendering difference on windows vs linux. One idea I had was to generate a different comparison image for each OS we're testing against and have the test determine which one to use. Thoughts?

[2017-10-24 18:16] kamranayub commented on #833
I think the only real difference is font rendering and in that case, having
a slightly more tolerant diff will fix the issue while still catching
actual abnormalities.

On Tue, Oct 24, 2017, 00:19 Alan Grgic <notifications@github.com> wrote:

[2017-10-24 20:17] jlbeard84 opened #904 "Engine Not Rendering TileMap Full Screen"
### Steps to Reproduce

1. Create TileMap with cells that make it wider than half of the canvas
2. Add TileMap to a Scene
3. Start engine

### Expected Result

Tilemap is rendered to the width of the canvas

### Actual Result

Tilemap is rendered to the last cell that at the point of half the width of the canvas

### Environment

- browsers and versions: Chrome (61.0.3163.100)
- operating system:

[2017-10-24 20:52] bferguson3 commented on #904
We were both seeing this on both of our respective projects, which is strange because @jlbeard84 is rendering using a hand-built TileMap and I am using the -tiled extension.

In both cases, our individual TileMaps had the following property:
_onScreenXEnd = 27

Which didn't seem to change regardless of TileMap size, game canvas size, etc.
Thanks!

[2017-10-25 02:23] kamranayub commented on #904
Can you include some screenshots and isolated test cases (CodePen/JSFiddle) for us to troubleshoot?

[2017-10-25 20:10] jlbeard84 commented on #904
Sure, I'll write a couple and add them here.

[2017-10-27 02:53] kamranayub commented on #376
Just ran into this today when trying to swap between different tile map examples in a visual test

[2017-10-27 19:15] eonarheim commented on #376
I think it would be good if we kill all killable things in the scene and zero out all the collections `uiActors`, `actors`, `timers`, `triggers` etc

[2017-10-27 22:51] bferguson3 commented on #904
![screen shot 2017-10-27 at 1 43 04](https://user-images.githubusercontent.com/32964659/32127762-f648cc7c-bb2d-11e7-9e0f-6ceb52d0f9cb.png)

I'm layering a new tilemap over the screen for a UI.
Code is not complex:

[code]
Pretty sure this is at least related to the problem, excalibur.js @ 8241:
[code]
The engine is outputting _onScreenXStart as 6. This is accurate for the way the code is written,

[2017-10-28 13:31] kamranayub commented on #904
Since it's JavaScript, you could hook into postupdate event and set the
variables to whatever values you need as a hack. Just cast 'this' to any
and TS will let you do what you like!

On Fri, Oct 27, 2017, 17:51 bferguson3 <notifications@github.com> wrote:

[2017-10-29 14:52] jedeen opened #905 "Add ability to repeat a timer a finite number of times"
### Context
Currently, timers can either fire once, or fire repeatedly on their specified interval (until `timer.pause()` or `timer.cancel()` is explicitly called). I recently had the need to use a timer to fire a specific number of times, and then stop firing.

### Proposal
Build-in the ability for a timer repeat a finite number of times.

*Proposed API for Timer*:
[code]
The timer will stop firi

[2017-10-30 18:57] #861 closed

[2017-11-07 02:03] kamranayub commented on #904
@jlbeard84 Sorry, I'm a little confused by the steps to repro.

Do you mean use a cell size that is wider than half the canvas? So two tiles == canvas width?

I was hoping to see some code I could run to debug since I'm not really understanding the bug from the descriptions here, I'm obviously missing some context. I'd like to actually run the code locally and step through it to understand what yo

[2017-11-07 02:32] jlbeard84 commented on #904
Sorry, been busy and forgot that I needed to do this. I'll see if I can replicate on codepen.

[2017-11-07 04:01] jlbeard84 commented on #904
@kamranayub It was easier to just create a new repo. I replicated the issue here. I commented the mapColumn variable to show you how to duplicate. Please let me know if you have any questions!

[https://github.com/jlbeard84/excalibur-display-issue](url)

[2017-11-07 18:39] kamranayub commented on #904
Perfect, I plan to take a look tomorrow!

On Mon, Nov 6, 2017 at 10:01 PM Josh Beard <notifications@github.com> wrote:

[2017-11-14 21:49] LePhil opened #906 "Different/Custom EmitterTypes for Particles"
### Context
Particle Emitters and their types

### Proposal
Use custom shapes or even images as an EmitterType so we could have effects like coins, hearts, bubbles, stars etc.

[2017-11-14 21:52] eonarheim commented on #906
@LePhil I 100% agree, this would be awesome

[2017-11-14 22:47] kamranayub commented on #906
Can we already set a sprite right now? I don't have the docs in front of me.

On Tue, Nov 14, 2017, 15:52 Erik Onarheim <notifications@github.com> wrote:

[2017-11-15 04:42] jedeen commented on #906
Sprites currently [supported](https://excaliburjs.com/docs/api/edge/classes/_particles_.particleemitter.html#particlesprite), although they are performance intensive.

[2017-11-15 06:41] LePhil commented on #906
Ah my apologies, did not see that at all. Will work on my effects and my reading skills.

[2017-11-15 06:41] #906 closed

[2017-11-15 07:03] LePhil commented on #906
...but maybe an example could be included in the Particle Tester (https://excaliburjs.com/particle-tester/)?

[2017-11-15 14:54] eonarheim commented on #906
@LePhil I totally forgot you could add sprites (and I wrote it!) Let me know if you need any assistance

The documentation here is definitely lacking

[2017-11-15 21:59] LePhil commented on #906
All good, got my hearts effect :revolving_hearts:  ![image](https://user-images.githubusercontent.com/1488366/32862425-5d30da40-ca58-11e7-9c1d-96ebceef4107.png)

Took a minute to figure out why setting the sprite's scale didn't work until I saw that it's determined by the particle's max/min size: https://github.com/excaliburjs/Excalibur/blob/4ac682a/src/engine/Particles.ts#L137

[2017-11-16 18:42] kamranayub opened #907 "Add extensions hint file for VS Code"
https://twitter.com/housecor/status/931195180220370944

[2017-11-18 16:03] eonarheim opened #908 "Documentation on ex.BaseCamera is wrong for `setActorToFollow`"
### Steps to Reproduce
See this google groups thread: https://groups.google.com/forum/#!topic/excaliburjs/KqqqgCw-B14

BaseCamera.setActorToFollow does not actually get the camera to follow an actor must replace the current camera implementation with `ex.LockedCamera` for it to work.

[code]
See pen with working example on latest ex:
https://codepen.io/eonarheim/pen/gXogGp?editors=0010

### Expect

[2017-11-20 15:48] eonarheim commented on #577
Good article on this https://developers.google.com/web/updates/2012/08/When-milliseconds-are-not-enough-performance-now

[2017-11-20 15:48] eonarheim commented on #577
MDN docs https://developer.mozilla.org/en-US/docs/Web/API/Performance/now

[2017-11-21 03:09] eonarheim commented on #904
Hi @jlbeard84,

I've taken a look at this and it definitely is a bug. I think I might have found a work around, if you keep your tilemap x,y coordinates positive and adjust the camera things seem to work as expected. I think there is an issue with offscreen culling when the x,y coordinates are negative.

I've opened a PR with a workaround https://github.com/jlbeard84/excalibur-display-issue/pull/1

[2017-11-21 06:24] LePhil commented on #292
I'm playing around with this in the ActionQueue:

[code]

Am I completely on the wrong track or might this be something? Working on some UnitTests right now.

[2017-11-21 15:30] eonarheim commented on #292
@LePhil looks like you're on the right track, keep up the good work

[2017-11-21 15:37] eonarheim commented on #794
TypeScript 2.6.1 just dropped we should see if it's possible to jump here, theoretically TypeDoc may still work with a newer version of ts
https://blogs.msdn.microsoft.com/typescript/2017/10/31/announcing-typescript-2-6/

[2017-11-21 19:33] LePhil commented on #292
Alright, I'm very confused right now and hopefully either writing it down will help or you might have an idea on what's wrong.

`moveBy` is dealing in absolute positions, right? So if I have this:

[code]

then that means that after 200ms the actor will be on position 200|0 (x = 200, y = 0).

This seems to work and consists of 2 actions of `MoveBy`, once from 0|0 to 100|0 and then from 100|0 to 20

[2017-11-22 19:56] #863 closed

[2017-11-22 20:01] #908 closed

[2017-11-27 12:47] LePhil opened #912 "Stop Pointer-Event from propagating"
### Context
If there are 2 actors overlapping and both listen to pointer events and the overlapping area is clicked, both receive the click event. This is not always desirable.

Demo: https://codepen.io/piko_/pen/ooPNaB

### Proposal
It would be good to be able to stop the propagation of input events.

[2017-11-27 12:51] LePhil commented on #292
Bump
![http://starecat.com/content/wp-content/uploads/dog-agility-fail-head-bump-gif-animation.gif](http://starecat.com/content/wp-content/uploads/dog-agility-fail-head-bump-gif-animation.gif)

[2017-11-27 14:19] kamranayub commented on #912
Stop propogation would definitely be a nice feature, and should match the
typical standard used in other libs, e.stopPropagation()

On Mon, Nov 27, 2017, 02:47 Phil <notifications@github.com> wrote:

[2017-11-27 14:41] eonarheim commented on #912
Agreed, it shouldn't be too difficult to include this behavior in our event handling scheme

[2017-11-27 14:43] eonarheim commented on #292
Hi @LePhil I'll take a look tonight, distracted with all the holidays in the US 🎉 🦃

[2017-11-27 15:12] LePhil commented on #292
No worries and happy thanksgiving! 🦃
Speaking about holidays, my little project is supposed to be a christmas present so I'm a bit more anxious about it as I'd be otherwise 🙈  Thanks for taking the time :)

[2017-11-27 22:20] LePhil commented on #912
Implementation and Unittests can be found in https://github.com/excaliburjs/Excalibur/compare/master...LePhil:master, by the way. I'll add more unit tests later.

[2017-11-28 01:59] eonarheim commented on #292
@LePhil Definitely a bug. I think I know what the problem here is, and I definitely would expect your test case to be true.

Basically actions don't handle large update values or update boundaries well :( before the next action can activate, a frame must elapse. Basically it is only possible for 1 action to complete per frame (update) given the current implementation.

Normally updates fire at 60F

[2017-11-28 06:55] LePhil commented on #292
Ah, that would explain it. I've also found another bug, I think - it's not possible to add multiple `callMethod` actions

[code]

"Second" never gets called and x is still 1 at the end. I'll figure it out tonight. :+1:

[2017-11-28 16:38] LePhil commented on #292
Ah I see. No matter how many steps are passed to update, it only executes one action. If I call `actor.update(engine, 0);` twice, it works.

I assume "counting down" the steps and calling ` _currentAction.update(1)` a lot of times and if it's done, go on to the next one until there are no more steps or no more actions would be quite inefficient...

[2017-12-02 15:24] #703 closed

[2017-12-02 15:59] eonarheim commented on #900
Closed https://github.com/excaliburjs/excalibur-dist/commit/ac5c5599f1b077526c36d8abc7ab93ab11c33347

[2017-12-02 15:59] #900 closed

[2017-12-02 16:07] #445 closed

[2017-12-11 15:52] eonarheim opened #918 "Add feature to pull Animations out of a packed SpriteSheet"
### Context

Currently Excalibur sprite sheets only optimize for neatly arranged in rows and columns when extracting animations. Many assets now are arranged into tightly packed sprite sheets to save on space and download size.

### Proposal
Excalibur `ex.SpriteSheet` should support a way to specify a list of bespoke sprite coordinates to generate an `ex.Animation`.

Phil on the forums posted this

[2017-12-11 16:48] LePhil commented on #918
I'm wondering how one could align the individual sprites. I *assume* most should be aligned at the bottom, but I can imagine some sprites to be aligned by the center...

[2017-12-11 18:17] eonarheim commented on #918
I think right now things are oriented from the top left position when defining sprites, and sprites have a top left (0, 0) defined anchor by default. https://excaliburjs.com/docs/api/edge/classes/_drawing_sprite_.sprite.html#anchor

We could allow an optional anchor on a per sprite basis, what do you think of this?

[code]

[2017-12-11 20:28] LePhil commented on #918
Yeah that should work. Also, the dimensions of the animation would need to be gathered from the largest sprite, I think.

[2017-12-11 20:39] eonarheim commented on #918
I think that would make sense 👍

[2017-12-19 05:03] kamranayub commented on #794
Typedoc can do 2.4 now

[2017-12-20 18:53] alanag13 commented on #918
I actually sneaked something into #753 that might offer a good start to this: the ability to pass an arbitrary `Sprite` array to the `SpriteSheet` constructor rather than have to pull from an image and use rows/columns. More work probably needs to be done (e.g. as mentioned setting the size of the animation based on the largest sprite), but it was an abstraction that made sense to me.

[2017-12-20 19:10] alanag13 opened #920 "Sound.setVolume uses a deprecated (soon to be eliminated) API"
### Context
When you call `Sound.setVolume`, you'll see a deprecation warning printed to the console stating that the backing WebAudio method will be removed sometime around January 2018.
![deprecation](https://user-images.githubusercontent.com/5409649/34223957-c78b0098-e586-11e7-8532-e21485db3ee1.PNG)

### Proposal
Update / correct the backing method per that warning message's suggestion, but kee

[2017-12-21 23:52] #920 closed

[2017-12-28 22:54] alanag13 opened #922 "Allow repeat-x/y for Sprites"
### Context
Particularly for UI actors and for in-game walls/scenery (think a dialog box with a "rope" border around it or a row of trees marking the border of a scene), it is sometimes necessary to repeat the same drawing multiple times in succession along a x or y axis. We've done this with Tiled, but there isn't a good way to do it in the "stock" engine aside from calculating a length and dupli

[2018-01-15 17:06] kamranayub opened #925 "Replace `createObjectUrl` with MediaStreams"
### Context

`URL.createObjectUrl` has been deprecated for awhile and has been replaced with Media Streams. Chrome will be removing support shortly.

### Proposal

Replace with Media Streams. See: https://twitter.com/intenttoship/status/952947385365417984

[2018-01-15 19:54] kamranayub commented on #925
I misread the notice--it's usage of `createObjectURL` *with* MediaStream input which we don't do, we use Blob. So we're good.

[2018-01-15 19:54] #925 closed

[2018-02-11 16:35] kamranayub commented on #794
There's a regression it appears that causes issues with the new option bag (#753), so I think we have to rollback to TS < 2.3.3.

https://github.com/Microsoft/TypeScript/issues/21871

[2018-02-12 22:34] eonarheim commented on #888
This also happens if the actor is not part of scene when you set the z-index

[2018-02-17 01:49] #410 closed

[2018-02-17 01:58] alanag13 opened #929 "Print url of local server to console when it is fired up"
### Context
When running visual tests `grunt connect` starts a local server, but I always forget what port its and have to look it up. Sometimes chrome autocomplete helps me but I have other ports that I use for other projects and this can get confusing and it makes me upset.

### Proposal
Print the local url/port that the server gets started on to the console when you run `grunt connect`.

[2018-02-17 15:03] eonarheim opened #932 "Electron Fullscreen HTML Buttons don't work"
### Steps to Reproduce
See thread: https://groups.google.com/d/msg/excaliburjs/RhqzdAqhRxA/1B24OraWCgAJ

* Run Excalibur in the electron sample
* Ensure pointerscope is set to canvas
* Create HTML Buttons that are over the game canvas

### Expected Result
Electron excalibur sample using the fullscreen displaymode is not capturing HTML button clicks, currently @LePhil has a workaround to enable thi

[2018-02-19 04:46] alanag13 commented on #932
Would you want `ex.Input.PointerScope.Document` for this to work with HTML buttons? `Canvas` only responds to events on the canvas, which the buttons would be outside of.

[2018-02-19 05:28] alanag13 commented on #932
Okay I read the thread and have a little more context now.

I think this is happening because even if you add the button to the scene, as an Actor it is basically invisible. If you aren't giving a position or size or anything to it is probably getting added to x:0, y:0 with no width or height on the canvas. That's pretty hard to click.

The hack works because you end up adding the event listeners

[2018-02-19 06:32] alanag13 commented on #932
I looked at https://github.com/LePhil/ExcaliburPlayground/blob/4b0aa3b569b49843b19e081a5d5044c518497e45/game/scenes/MainMenu.ts#L149 and I'm actually more confused now -- it looks like @LePhil is using a UIActor named `Button`, not an HTML button. UIActors default to `enableCapturePointer = true`, is the problem then that in this case it seems that it needs to be set explicitly?

[2018-02-19 06:32] alanag13 commented on #932
I looked at https://github.com/LePhil/ExcaliburPlayground/blob/4b0aa3b569b49843b19e081a5d5044c518497e45/game/scenes/MainMenu.ts#L149 and I'm actually more confused now -- it looks like @LePhil is using a UIActor named `Button`, not an HTML button. UIActors default to `enableCapturePointer = true`, is the problem then that in this case it seems that it needs to be set explicitly?

[2018-02-23 21:44] LePhil commented on #932
Ah there's some confusion going on :)

So what I originally wanted to do was this:
Have a menu scene with some buttons (i.e. UIActors). One of these buttons opens an HTML overlay that covers the canvas. Now all clicks on the overlay should not trigger any action inside of the canvas.

I'm now unable to reproduce this on a codepen, I have to admit. My problem was that even though the HTML element w

[2018-02-28 14:10] kamranayub commented on #777
@Tankobot Good question!

## Using npm

With NPM, I *believe* you can use a [feature](https://docs.npmjs.com/cli/install) of using the Git URL as the package name:

    npm install <git repo url>

However, the issue you mentioned might still occur, I haven't tested that. But, if you wanted, you can reference your *own* fork of Excalibur and reference a branch. The URL would be the URL to the tree

[2018-02-28 15:22] eonarheim commented on #854
From our discussion earlier, possible commands
[code]

[2018-03-02 03:15] kamranayub opened #936 "Simplify build scripts and distribution process"
### Context

Our build and distribution is pretty well automated but it can be simplified with more modern tooling like webpack or rollup. Much of the grunt file can be collapsed into a more streamlined and compact module config; it will also simplify the AMD bundling since we will no longer need to bundle Almond.

### Proposal

With the release of webpack v4, I definitely want to take a look at t

[2018-03-07 14:39] LePhil opened #937 "Physics Example doesn't seem to work"
### Steps to Reproduce

Easy - try to run the provided example in the physics docs (https://excaliburjs.com/docs/api/edge/classes/_physics_.physics.html),
here as a codepen: https://codepen.io/piko_/pen/rdBBQm

### Expected Result
Some physics in action, i.e. the blocks fall down

### Actual Result
Nothing :)

### Environment
- browsers and versions: latest chrome -->
- operating system: ubuntu
-

[2018-03-07 15:01] eonarheim commented on #937
@LePhil I have some time tonight to take a look at this

[2018-03-07 21:54] LePhil commented on #932
I can't seem to reproduce it at all anymore. I'd say close this and if it'll manifest itself again at some later point, reevaluate. Sorry for the confusion and inconvenience!

[2018-03-08 00:49] eonarheim commented on #937
@LePhil I think the problem here is that some docs weren't updated, I've created a new codepen with the updated sample code.

https://codepen.io/anon/pen/MVgENJ?editors=0011

The issue is that actors now default to a passive collision type, and this collision type does not participate in physics or the global physics acceleration. The reason they don't default to active collision, is so people usi

[2018-03-08 06:49] LePhil commented on #937
Ah very cool, thanks @eonarheim!

[2018-03-09 02:47] jedeen commented on #937
Re-opening for tracking

[2018-03-09 14:32] #937 closed

[2018-03-11 09:35] pathurs commented on #389
Is this slightly implemented in #933 with my addition of `PointerEvent.pointer`?

@eonarheim

[2018-03-11 09:51] pathurs commented on #338
# Proposal:

We shouldn't confine this feature to just 'split-screen' scenarios, we should allow different types of camera displays, in a 'Multi-camera' system.

![multi-camera](https://user-images.githubusercontent.com/3084995/37251938-31192b68-256d-11e8-908a-cff2e0514476.png)

In the above screenshot, you can see 2 players, with their own camera in a rectangle. On top of each player, they both h

[2018-03-11 14:48] kamranayub commented on #338
+100

On Sun, Mar 11, 2018, 04:51 Pathurs <notifications@github.com> wrote:

[2018-03-12 15:15] eonarheim commented on #338
@pathurs Good point, I totally agree

[2018-03-12 15:22] eonarheim commented on #389
@pathurs I believe so, yes

[2018-03-13 13:18] #134 closed

[2018-03-16 09:28] pathurs commented on #912
I'd like to try this one next, if that's okay.

What will I do?
`Event.stopPropagation()` should work the same way as https://developer.mozilla.org/en-US/docs/Web/API/Event/stopPropagation

[2018-03-16 13:05] kamranayub commented on #912
Yeah if we can follow the spec that will follow our goal of least surprise.
Thanks @Pathurs!

On Fri, Mar 16, 2018 at 4:28 AM Pathurs <notifications@github.com> wrote:

[2018-03-17 05:45] pathurs commented on #592
In many engines (Software and game), the most basic "thing" is something that only exists, has an ID, and can be destroyed, nothing more.

Perhaps there should be a refactor of the inheritance of Excalibur, beginning with a "Element" (Or whatever you want to name it), and then "Actor" will derive from it.

For example, in Unity you have a [Object](https://docs.unity3d.com/ScriptReference/Object.ht

[2018-03-17 05:48] pathurs commented on #912
I will probably do #389 as well as add support for `Event.preventDefault()` to my changes for this. Most likely plus some extra improvements, because who doesn't like free stuff?

[2018-03-30 15:25] #918 closed

[2018-03-31 14:08] #904 closed

[2018-03-31 14:16] eonarheim opened #944 "Can't stack up Camera.move()'s only the first works"
### Steps to Reproduce

[code]

### Expected Result
Camera should move to (0, 0) and then move to (600, 600)

### Actual Result
Camera only moves to (0, 0)

### Context

### Proposal

[2018-03-31 14:19] #582 closed

[2018-03-31 15:27] jedeen opened #946 "Standardize manual visual tests"
### Context
The current state of the manual visual tests makes them easy to overlook, and sometimes difficult to determine if they're actually passing.

### Proposal
1. Write precise acceptance criteria for all manual visual tests, documented within the test
2. Convert as many of the manual visual tests into automated tests as possible
3. Streamline the remaining manual visual tests (if any) to ma

[2018-03-31 15:35] jedeen opened #947 "Add a warning when the dists fail to publish"
### Context
We are not currently notified if our dists fail to publish in our distributions repository (https://github.com/excaliburjs/excalibur-dist)

### Proposal

Add some sort of notification if the dist automation fails.

[2018-03-31 15:37] jedeen commented on #907
It may also be helpful to add these to the readme.

[2018-04-02 12:53] eonarheim opened #948 "Collision area geometry does not get recalculated when Actor dimensions change"
### Steps to Reproduce
Extend and actor and do not call the super constructor, try to collide this with another actor

See https://github.com/dgparker/excaliburjs-breakout for an example

### Work around
[code]

### Expected Result
Actors should collide and this method of setting properties should work.

### Actual Result
No collision

[2018-04-02 12:57] eonarheim opened #949 "'exitviewport' event does not work correctly on HiDPI screens"
### Steps to Reproduce
Using a HiDPI screen send an actor offscren

See https://github.com/dgparker/excaliburjs-breakout

### Expected Result
The 'exitviewport' event should be fired immediately when the actor leaves the screen. Additionally the engine suppressHiDPIScaling flag does not work to fix this issue.

### Actual Result
The 'exitviewport' event fires are going 2x the distance it should.

[2018-04-06 00:58] #949 closed

[2018-04-06 01:20] eonarheim opened #953 "Correct web audio deprecation"
### Steps to Reproduce
https://webaudio.github.io/web-audio-api/#dom-audioparam-value

![image](https://user-images.githubusercontent.com/612071/38398895-8530b54c-390c-11e8-8b01-14c2bf9f33e0.png)

### Expected Result
No deprecation warning when audio is played

### Actual Result
Deprecation warning

[2018-04-18 21:00] kamranayub opened #959 "Update Excalibur descriptions"
In the spirit of ensuring we are describing Excalibur in a succinct and modern way, I'm proposing reviewing the descriptions we use.

- **Tagline**:  A simple HTML5 Canvas game engine written in TypeScript

- **Description**: Excalibur is a simple, free game engine written in TypeScript for making 2D games in HTML5 canvas. Our goal is to make it incredibly simple to create 2D HTML/JS games, for fo

[2018-04-19 02:51] jedeen opened #960 "Incremental resource loading"
### Context
Currently, Excalibur loads all resources at once (usually before the game starts).

### Proposal
Implement incremental loading, so that a subset of resources can be loaded at any particular time (for example, at the beginning of a each game level, or on an as-needed basis).

[2018-04-19 16:25] #953 closed

[2018-04-19 17:54] eonarheim commented on #532
#936 Should just include the ES6 Promise polyfill as the implementation, and maintain the existing ex api

[2018-04-19 21:17] #948 closed

[2018-04-20 00:39] #799 closed

[2018-04-20 02:58] jedeen commented on #959
Proposal:

- **Tagline**:  A simple Canvas game engine written in TypeScript

- **Description**: Excalibur is a simple, free 2D engine for making games in TypeScript/JavaScript. We're here to help, whether you're new to game development or an experienced game developer. We take care of the boilerplate engine code, cross-platform targeting, and more so you don't have to. Use as much or as little as

[2018-04-20 15:37] jedeen opened #973 "Add built-in events to Timers"
### Context
Currently, a user needs to customize their own game events if they want to subscribe to `Timer` events.

### Proposal
Dispatch events on the following Timer activities so that they can be subscribed to:
[code]

[2018-04-21 13:58] #905 closed

[2018-04-21 14:12] #944 closed

[2018-04-23 06:58] Dreaded-Gnu commented on #905
It seems that the milestone has been forgotten here, it's still `vNext`. Shouldn't it be `0.17.0`? Same also with the pull request which has been merged two days ago.

[2018-04-26 00:14] eonarheim opened #975 "PreventCollision and Active Collision Types are generating collision pairs sometimes"
### Steps to Reproduce

Add the `PreventCollision` type actor to the scene first then a `Active` collision type actor.

Possible fix https://github.com/excaliburjs/Excalibur/commit/2e0f2e7d5ed9ae8df3e9a08dc50c321f632bcdde

This appears to be the offending line of code in `Pair.ts`:

[code]

### Expected Result
`PreventCollision` and `Active` collision types should never collide.

### Actual Result

[2018-04-26 00:22] eonarheim opened #976 "Dragging a window to another screen with Excalibur running causes odd behavior"
### Steps to Reproduce
Drag a running excalibur window to another screen

### Expected Result
Excalibur should handle this case and display the game as expected

### Actual Result
Placement of game elements is off, forcing a browser refresh to correct.

### Current Workaround
None

[2018-04-26 00:34] kamranayub commented on #976
Is this due to changing DPI?

On Wed, Apr 25, 2018, 19:22 Erik Onarheim <notifications@github.com> wrote:

[2018-04-26 00:47] eonarheim opened #977 "ex.Random.pickSet with duplicates doesn't return expected results"
### Steps to Reproduce

[code]

### Expected Result

Pick set with duplicates should return a new array with the length that matches the number of picks requested.

### Actual Result

Pick set with duplicates produces an array prefixed with `undefined`

### Current Workaround
Use random to generate an integer index and manually produce a new array.

[2018-04-26 00:53] eonarheim opened #978 "Events exitviewport/enterviewport not defined on Actors on/once/off signature"
### Steps to Reproduce
No type information is provided when trying to use:
`Actor.on('exitviewport', (evt) => {...}` or `Actor.on('enterviewport', (evt) => {...}`

In `Actor.ts` the type overload should be specified on the on/once/off handlers

### Expected Result
Should exist

### Actual Result
Does not exist

### Environment
excalibur@0.16.0

### Current Workaround

The events still operate as e

[2018-04-26 00:59] eonarheim opened #979 "Removed and re-added actors in the same frame are erroneously killed"
### Steps to Reproduce

[code]

### Expected Result
Actor should be unkilled and re-added to the scene, in the above example the actor is no longer drawn

### Actual Result
Actor remains killed

### Environment
excalibur@0.16.0

### Current Workaround
None

[2018-04-26 01:11] eonarheim commented on #976
@kamranayub Possibly due to that, if so the fix will probably require us to recalculate canvas scaling on window resize...

[2018-04-26 01:43] eonarheim opened #980 "Sprites don't work when created in onInitialize"
### Steps to Reproduce
I believe this is due to an issue with the backing canvas for sprites when created, the draw method (at least in firefox) does not allow for width/height drawings. I believe this is the fix https://github.com/excaliburjs/Excalibur/commit/bf4d8852925b3ecb5878baefe71e97dc6cf6b91b

https://codepen.io/eonarheim/pen/qYNeYM?editors=0011

[code]

### Expected Result
Textures have b

[2018-04-26 01:52] eonarheim opened #981 "ex.Scene.remove and ex.Actor.kill should behave the same"
### Steps to Reproduce
ex.Scene.remove does not kill the actor, this causes many subtle issues.

### Expected Result
ex.Scene.remove should kill the actor.

### Actual Result
ex.Scene.remove does not kill the actor.

### Current Workaround
Use ex.Actor.kill instead of ex.Scene.remove

[2018-04-26 03:34] alanag13 opened #982 "Add convenience method to determine if a given Scene is the current scene"
### Context
`Engine.currentScene` returns the current scene, but there is not a way from within `Scene` itself to determine if that scene is the current scene. You can achieve this by checking `engine.currentScene === scene`, but this requires that you take a dependency on `engine` and we should make this more accessible.

### Proposal
Add an `isCurrentScene` method to `Scene`. We can track this s

[2018-04-26 14:14] kamranayub commented on #959
@jedeen Do you think the average user looking for engines keys off of "Canvas" to know it's web-based? I think IRL I mentioned maybe wording like...

The other thing I wonder about is the notion of "simple". I want people to know we strive for a simple API but a powerful engine. I'm worried that may imply Excalibur itself is "simple" (and yes, I know we don't have allll the features of bigger engi

[2018-04-26 14:54] eonarheim commented on #959
I think I agree on both points, I like `web-based` and maybe to convey that we want the API to be simple, maybe something like `A web-based game engine with a simple API written in TypeScript`?

[2018-04-26 20:47] jedeen commented on #959
Good points and changes, but I'd recommend avoiding additional prepositional phrases (for the tagline, at least)
Perhaps this:

[2018-04-26 20:54] alanag13 commented on #959
I like "intuitive" over "simple" because the latter has connotation of meaning stripped down/not feature heavy. How do you feel about "for the web" instead of "web-based??

[2018-04-26 21:02] kamranayub commented on #959
Now I'm worried "for the web" precludes the fact you can actually *deploy*
games to other non-web platforms like mobile/desktop/etc. Saying
"web-based" leaves it open for cross platform deployments?

On Thu, Apr 26, 2018 at 3:54 PM Alan Grgic <notifications@github.com> wrote:

[2018-04-26 21:16] alanag13 commented on #959
That's fair. I don't really like `web-based` because (at least in my head) the engine is not based on the web itself, but I also can't think of a better term to use right now.

[2018-04-28 13:35] #907 closed

[2018-05-01 14:01] rmvermeulen opened #986 "Sometimes actor keeps accelerating while on the ground"
### Steps to Reproduce
On the left side of the floor, _only_ while going right, the vertical speed will keep increasing to some maximum before resetting. The same happens on the rights sice, _only_ when going left.
The maximum seems to relate to the horizontal component, the faster you go the fast you fall.

https://jsfiddle.net/0rt3unh1/
in jsfiddle the inputs do not work, so I used timeouts to s

[2018-05-01 14:27] eonarheim commented on #986
We've tried to model the physics off the real world were possible. So I'd always expect vertical acceleraction to be active when sitting on a platform or the ground, but the velocity vertical component should theoretically be zero.

Since this is a simulation I'd expect at least at or near zero on post-collision which doesn't seem to be the case.

[2018-05-01 15:40] rmvermeulen commented on #986
Exactly, I meant that the actual speed is increasing while sitting on the platform. I'll update the OP with that and the workaround.

[2018-05-04 19:48] kamranayub commented on #959
What about...

[2018-05-04 20:16] PurityLake commented on #562
This task still up for grabs? Wanna get back into open source

[2018-05-05 02:54] jedeen commented on #562
Yep! Take a look at our updated [contributing guide](https://github.com/excaliburjs/Excalibur/blob/master/.github/CONTRIBUTING.md), and go ahead!

I'll assign this issue to myself for tracking. Let us know if you have any questions!

[2018-05-05 02:55] jedeen commented on #959
I like the second one the most, of those four.

[2018-05-05 13:14] kamranayub commented on #562
Yep, it's a good idea to open up a work in progress PR so we can keep up
with what you're working on and discuss any questions or design ideas you
have!

On Fri, May 4, 2018, 21:54 jedeen <notifications@github.com> wrote:

[2018-05-05 20:55] PurityLake commented on #749
I'll get back to this after I finish both reacquainting myself with the code and finish that "good first issue"

[2018-05-08 10:47] LoserAntbear opened #989 "Support older JS with modern JS features (i.e const, let, arrow functions, etc.)."
### Context
@eonarheim proposed creating this issue. So changes to older version of js code could be stashed and tracked in one place.

Currently Excalibur uses some more outdated JS, it would be nice to update to newer es2016, es2017 features like const, let, and arrow functions where appropriate

### Proposal
Update Excalibur file by file with newer features.

Let's do this one file at a time pe

[2018-05-09 15:25] #912 closed

[2018-05-22 18:32] eonarheim opened #994 "Replace Excalibur promise implementation with browser implementation"
### Context
Currently we have a basic functioning custom promise implementation, but this prevents new browser features like `async`/`await` from working natively. Additionally we will get a bunch of promise features for free by switching to native promises. It may also come with a bonus of closing these #533 #365 #341

### Proposal

- [ ] Add the tsconfig native promise polyfill [option](https://

[2018-05-30 09:56] LoserAntbear commented on #994
Looks like we also need to add `lib: [es2015, dom]`. Because `es2018.Promise` adds `final` method to Promise interface, defined  in `es2015.promise` `PromiseConstructor`, if i understand this right. I already made this changes and also replaced all uses of `ex.Promise` with native `es6-promises` and ready to push here. But i am a bit confused with providing backwards compatibility to `ex.Promise`.

[2018-05-30 18:31] #705 closed

[2018-05-31 13:55] eonarheim opened #996 "Update killQueue's to use hash lookups"
### Context
Currently we do some inefficent add/removes in the kill queue, @kamranayub suggested switching to hash maps to get us to O(1) performance

### Proposal
See https://github.com/excaliburjs/Excalibur/pull/985#discussion_r184852939

[2018-05-31 16:20] #981 closed

[2018-05-31 17:06] #982 closed

[2018-06-01 03:12] #598 closed

[2018-06-02 14:03] #884 closed

[2018-06-05 01:38] #794 closed

[2018-06-05 01:38] #936 closed

[2018-06-12 02:46] jedeen opened #1006 "Algebra isValid() does not handle vector negative Infinity in y direction"
### Steps to Reproduce
[code]

### Expected Result
`shouldBeFalse` is false

### Actual Result
`shouldBeFalse` is true.

### Environment
- Excalibur versions: 0.16.0

[2018-06-12 15:11] LoserAntbear commented on #994
Hello again! I am sorry, bear with me. :D Could you look into this, please?

[2018-06-13 11:41] eonarheim commented on #994
@LoserAntbear Adding `lib: [es2015, dom]` makes sense to me.

Please send a PR, as long as the new implementation of `ex.Promise` backed by the `_nativePromise` behaves in a similar way to the old one (the tests should be a good indicator) that's what we want.

[2018-06-13 12:18] #1006 closed

[2018-06-13 12:33] kamranayub commented on #994
You could be even more specific I think and do es2015.promise or something
like that.

On Wed, Jun 13, 2018, 06:41 Erik Onarheim <notifications@github.com> wrote:

[2018-06-14 18:17] #977 closed

[2018-06-16 14:43] jedeen opened #1010 "Excalibur sandbox test compilation fails locally"
Currently, the build and test scripts do not appropriately clear out files from previous runs for the sandbox tests. We need to update our build automation to account for this.

### Steps to Reproduce
`npm run all`

### Expected Result
Successful build of Excalibur and run of the test suite

### Actual Result
Compilation fails  for the sandbox tests

### Current Workaround
Delete the compiled file

[2018-06-19 22:41] eonarheim commented on #980
@AimedNuu We will do our best to release this in 0.18.0, unfortunately we could not fit this into 0.17.0. We make bugs our top priority.

[2018-06-19 22:56] AimedNuu commented on #980
@eonarheim That's great, thanks.

[2018-06-19 23:31] eonarheim opened #1012 "TileSprite are confusingly named"
### Context
`TileSprite`s are currently not `IDrawable`'s or `Sprite`s but merely a lookup to a `Sprite` in a `SpriteSheet` for use in a `TileMap`. This makes it difficult to do dynamic drawing effects like fog of war, or other lighting effects.

See https://groups.google.com/forum/#!topic/excaliburjs/Q-v3SubnLlA

### Proposal

There are a few options we can consider:
 * Make `TileSprite`s an `IDr

[2018-06-22 01:08] eonarheim commented on #932
Closing, cannot reproduce

[2018-06-22 01:08] #932 closed

[2018-06-22 19:08] mkorevec commented on #562
Hiya,

This issue has been created more than 2 years ago, I am sure the code has changed a lot since then, you can as far as I see create Actors with a default color now.

I might also be missing the point. Would love to explore this task a bit more as I see the person before me Asked and then Abandoned the task :)

Keep me posted will try to get myself a bit more familiar with code and hopefully

[2018-06-27 15:13] eonarheim commented on #562
Hi Marko,

Sorry I missed this comment until now.

Certainly! If you'd like to explore this go for it. I think a circle would
be a useful shape, then maybe any arbitrary polygon?

My open source tip of the day is "over communication" :) feel free to ask
questions or throw out possible ideas!

On Fri, Jun 22, 2018 at 2:08 PM Marko Korevec <notifications@github.com>
wrote:

[2018-07-12 13:49] eonarheim opened #1015 "Update documentation to speak to game UI"
### Context
Many folks that use excalibur are confused about the proper way to do UI for games.

### Proposal
We should add a section to the documentation discussing the ways that UI can be constructed in excalibur.

It should be clear that using HTML is the prefered UI mechanism, but also speak to reasons to use UIActor or other canvas rendered UI elements.

[2018-07-14 17:35] alanag13 commented on #980
@eonarheim FYI I think there's a mistake in your codepen (`actor.add` should be `actor.addDrawing`). I was going to see if I could get this one taken care of, just thought you'd want to know.

[2018-07-14 19:08] alanag13 commented on #975
Does anyone remember the exact scenario in the last LD where we observed this problem? I'm a little confused about the possible fix because of [this line](https://github.com/excaliburjs/Excalibur/blob/2e0f2e7d5ed9ae8df3e9a08dc50c321f632bcdde/src/engine/Collision/DynamicTreeCollisionBroadphase.ts#L77) which should make it so that ActorA is never killed or set to PreventCollision. Is it possible the

[2018-07-14 20:29] alanag13 commented on #1010
I experienced this problem too, but once I deleted the compiled files it didn't happen anymore. I think we must have changed something about the way the visual tests compile/where the scripts come from because new builds do not create compiled files in the /sandbox folder, but we can still successfully run the sandbox after they are removed. Best I can tell, anyone cloning the repo fresh shouldn't

[2018-07-14 20:32] alanag13 commented on #891
I have not seen this since we moved to webpack.

[2018-07-16 02:21] baturinsky opened #1018 "TileMap should have getZIndex() too"
There is currently no straight way to draw TileMap other than in background. Would be better if they'd have getZIndex() property, like Actor, and be drawn accordingly

[2018-07-16 02:51] eonarheim commented on #1018
Thanks @baturinsky this makes sense, it would be useful to position TileMaps at different z's for interesting effects.

For documentation here is the workaround @baturinsky is using

[code]

[2018-07-16 02:58] eonarheim commented on #891
This was fixed in the #970 webpack update

[2018-07-16 02:58] #891 closed

[2018-07-16 03:00] eonarheim commented on #1010
We should add a clean step to nuke old compiled files, this is a poor developer experience when pulling latest master and a total head scratcher for me for 30 minutes

[2018-07-16 05:35] baturinsky commented on #1018
Thanks. Btw, that workaround is a bit buggy, because Actor by default has OffscreenCulling trait, and tilemap therefore disappear when top left corner is off-screen. So, I have changed it to

[code]

This seems to work right (so far)

[2018-07-16 17:16] eonarheim commented on #980
@alanag13 good catch, I'll fix that soon

[2018-07-18 15:38] NicolasVenne opened #1019 "API Documentation not rendering"
Is anyone else experiencing the API links leading to empty routes?

Example of a broken link: https://excaliburjs.com/docs/api/v0.17.0/modules/_camera_.html

get this response:

NOT FOUND
You just hit a route that doesn't exist... the sadness.

[2018-07-18 15:39] eonarheim commented on #1019
@NicolasVenne Definitly not workign!

@kamranayub Have you seen this?

[2018-07-18 15:43] NicolasVenne commented on #1019
@eonarheim Good to know it's not just me!

Hopefully they get it back up soon, kinda hard to code without an API.

[2018-07-18 15:45] eonarheim commented on #1019
@NicolasVenne in the near term as a work aroun dthe doc source seems to still be available in our gh repo
https://github.com/excaliburjs/excaliburjs.github.io/tree/master/docs/api/edge/classes

[2018-07-18 15:47] NicolasVenne commented on #1019
Oh Perfect! Thank you so much, I was looking for it over on GH.

[2018-07-19 02:41] kamranayub commented on #1019
Fixed

[2018-07-19 02:41] #1019 closed

[2018-07-20 02:32] #978 closed

[2018-07-21 08:45] vipulbhj commented on #562
Is this still open, can I try it??

[2018-07-21 13:47] eonarheim commented on #562
Go for it!

Open a PR early and we can discuss designs you might have

On Sat, Jul 21, 2018, 03:45 Vipul Bhardwaj <notifications@github.com> wrote:

[2018-07-26 16:30] Cictani commented on #771
I ran the benchmark and setTransform wasn't the fastest .... but setting translate, rotate and scale individually was.

[2018-07-26 16:39] eonarheim commented on #771
Interesting I'm seeing that too on mobile brave, what browser are you using?

Theoretically their browserscope still shows it being better. More investigation required for sure

[2018-07-26 17:17] Cictani commented on #771
I use Chrome 68.0.3440 on Windows 10. Edge is faster with setTransform.  If I use the latest revision of the benchmark which only tests translate it is also faster on Edge.

Their browserscope shows a lot of older versions of web browsers.

[2018-07-27 02:21] eonarheim commented on #771
I wonder if there is a hardware acceleration difference between the platforms... it also seems that multiple runs produce different results on my hardware accelerated laptop...

[2018-08-04 15:36] eonarheim opened #1024 "excalibur-dist CI is not publishing alpha packages"
### Steps to Reproduce
Any [excalibur-dist](https://travis-ci.org/excaliburjs/excalibur-dist) alpha build is not publishing npm packages, a new npm token is needed.

### Expected Result
Alpha packages should publish

### Actual Result
Alpha packages are not publishing

### Environment
Travis

### Current Workaround
Manually publishing is possible

[2018-08-04 21:16] eonarheim opened #1026 "Strip source maps from compiled distribution"
![image](https://user-images.githubusercontent.com/612071/43680485-805acf18-9801-11e8-9a3f-b4dcf9bdbdb6.png)

### Steps to Reproduce
In downstream projects using webpack with source maps enabled, the console is filled with sourcemap warnings because we don't ship the excalibur source as well.

### Expected Result
Downstream projects should not see these warnings

### Actual Result
Loads of warning

[2018-08-04 23:00] kamranayub commented on #1026
Yeah this is common with TS libraries. Agree we need to strip them out on dist build.

[2018-08-08 22:33] eonarheim commented on #845
@kberg Thanks for spotting this, we'll get sorted soon

[2018-08-09 13:00] jedeen opened #1028 "Add contributing information/templates to org repos"
### Context
Currently, only the main Excalibur repository has detailed contributing information and GitHub contributing templates.

### Proposal
Add issue / PR templates + questions / contributing info to the other Excalibur org repositories, modified as needed.

- [x] excalibur-tiled
- [x] excalibur-jasmine
- [x] excalibur-pack
- [x] example-ts-webpack
- [x] example-electron
- [x] example-xamarin

[2018-08-09 13:00] jedeen opened #1029 "Use an automation account for build/deploy tasks"
### Context
Currently, much of our automation depends on individual GitHub accounts.

### Proposal
Use an automation account for all current and future build and deployment automation.

[2018-08-16 03:05] eonarheim opened #1030 "Engine frame clear too slow on hidpi devices"
### Steps to Reproduce
On a hidpi device, the frame clear is substantially slower than it should be for performant games

![image](https://user-images.githubusercontent.com/612071/44184906-e6c64880-a0d6-11e8-8914-8d1dab2c3605.png)

### Expected Result
Frame clear should be much quicker

### Actual Result
Frame clear is slow

### Environment

- browsers and versions: Latest chrome
- operating syste

[2018-08-17 01:14] eonarheim opened #1031 "Chrome 70 webaudio user interaction criteria"
Excalibur needs a remediation for the upcoming chrome audio auto play policy;

https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio

Perhaps something similar to what itch.io does?
![image](https://user-images.githubusercontent.com/612071/44242738-f6a26300-a190-11e8-84b3-9d4ca0b65223.png)

[2018-08-26 06:14] baturinsky opened #1032 "Mouse clicks on <input>, <select> etc. elements outside of game window are not switching focus"
### Steps to Reproduce
Add HTML elements such as input, select, probably many others on a page where excalibur game window is. Click on them

### Expected Result
They should get focus, so I can type in text, select an option from select, etc

### Actual Result
Nothing happens, they do not get focus.

### Environment
Tested in Chrome and Firefox
Engine version excalibur@0.17.0-alpha.2522

### Curre

[2018-08-26 16:58] kamranayub commented on #1032
Probably will need to configure PointerScope. By default only canvas
receives events. It's an option off the Engine you can specify on startup.

On Sun, Aug 26, 2018, 01:14 baturinsky <notifications@github.com> wrote:

[2018-08-27 01:08] baturinsky commented on #1032
By default, clicks outside are possible, but behave like described above. Other options for PointerScope just disable clicks outside of canvas completely.

[2018-08-27 16:29] kamranayub commented on #1032
Ah I understand, thanks. We can take a look!

On Sun, Aug 26, 2018, 20:08 baturinsky <notifications@github.com> wrote:

[2018-09-01 14:36] #980 closed

[2018-09-01 21:45] eonarheim commented on #1032
@baturinsky Just to confirm, did you configure pointer scope to be canvas?

[code]

I can't seem to reproduce the issue with excalibur (v0.18) set to Canvas pointer scope. I may have misunderstood.

Can you send a codepen or modify this one https://codepen.io/eonarheim/pen/jvBmXw?editors=1111?

[2018-09-04 16:01] #986 closed

[2018-09-04 16:09] #975 closed

[2018-09-06 18:44] baturinsky commented on #1032
Weird. Now it works right with ex.Input.PointerScope.Canvas for me too now. Both on your example and in my project. Maybe problem was caused by some other thing. Sorry, I should have tested things more thoroughly before reporting.

Thanks, you may close it now.

[2018-09-06 20:40] #1032 closed

[2018-09-06 20:40] kamranayub commented on #1032
No problem, feel free to re-open if you encounter again!

On Thu, Sep 6, 2018, 13:44 baturinsky <notifications@github.com> wrote:

[2018-09-11 19:18] TheEyeOfBrows opened #1036 "Typo in Features - Rigid Body section documentation"
A missing back-tick character is messing up the formatting of a link.

### Steps to Reproduce

1. Navigate to document page for [Latest Features](http://docs.excaliburjs.com/en/latest/features.html)
2. Find issue in bullet point for **Support for rigid body physics system**

### Expected Result
N/A

### Actual Result
N/A

### Environment

- browsers and versions: Chrome 68.0.3440.106
- operating s

[2018-09-14 01:05] #1036 closed

[2018-09-17 04:54] jkasun commented on #562
@vipulbhj are you going to fix this, Can I try?

[2018-09-17 15:44] eonarheim commented on #562
@jkasun Certainly! @PurityLake @vipulbhj let us know if you have any insights to share

Please let us know what you have in mind with a PR with your design

[2018-09-19 04:12] jkasun commented on #562
@eonarheim I have never done a open source contribution before, I will go thorough the code and update you, if I can do this.

[2018-09-24 22:39] eonarheim opened #1038 "Add SVG image support to Texture for Drawables"
### Context
Currently, only bmp, jpg, and png image types are support in excalibur texture system. Raster graphics have a few downsides, notably their potentially size and problems scaling up.

SVG would allow for infinite scaling, and super small image sources to download

### Proposal

Implement SVG as a supported Texture type,

[code]

Some materials to reference:
* https://stackoverflow.com/qu

[2018-10-01 10:35] T00mm opened #1041 "Trigger Docs outdated"
The current docs at https://excaliburjs.com/docs/api/edge/classes/_trigger_.trigger.html is a bit outdated and this example won't work.

The actor doesn't have any collision so it will never trigger.

`actor.collisionType = ex.CollisionType.Active;`

The moveto is not on actor but on actions

`actor.actions.moveTo(100,200,100);`

I'm also quite new in this project but it seems these API docs aren'

[2018-10-01 12:43] kamranayub commented on #1041
Thanks for reporting! The docs for these are in the src/engine/docs folder.
The API reference docs are next to the methods in the source code.

If you'd like to submit a PR, that'd be awesome!

On Mon, Oct 1, 2018, 05:35 T00mm <notifications@github.com> wrote:

[2018-10-02 03:15] #1041 closed

[2018-10-06 14:34] eonarheim opened #1043 "Excalibur Sandbox does not load on iOS 11"
![image](https://user-images.githubusercontent.com/612071/46572381-625fab80-c94a-11e8-9e38-0db80b300e77.png)

### Steps to Reproduce

1. Open Browserstack on an io11 device (iPhone X) using Chrome
2. Using the BS local plugin, navigate to your local ip running the sandbox
3. Observe no loading

### Expected Result
Excalibur should boot the sanbox in iOS 11

### Actual Result
Does not run in iOS 11

[2018-10-06 15:08] eonarheim opened #1044 "Excalibur pointer events do not work correctly in iOS11"
![image](https://user-images.githubusercontent.com/612071/46572658-72c65500-c94f-11e8-9471-8dff41c412d0.png)

### Steps to Reproduce
1. Open Browserstack on an io11 device (iPhone X) using Safari
2. Using the BS local plugin, navigate to your local ip running the sandbox
3. Click on something that is expecting pointer input
4. Error + Engine crash

![image](https://user-images.githubusercontent.co

[2018-10-06 16:43] #1043 closed

[2018-10-06 17:14] eonarheim opened #1047 "Excalibur Audio not playing in Edge 17"
![image](https://user-images.githubusercontent.com/612071/46573906-1c621200-c961-11e8-80c9-1ead9ea739bf.png)

### Steps to Reproduce
1. Load audio in Edge 17
2. Attempt to play

### Expected Result
Audio should play

### Actual Result
No audio plays
### Environment

- browsers and versions: Edge 17
- operating system: Windows 10
- Excalibur versions: master

### Current Workaround
None

[2018-10-07 01:35] #1031 closed

[2018-10-08 08:02] T00mm opened #1049 "Documentation Actions Point to Vector"
The current docs at https://excaliburjs.com/docs/api/v0.18.0/classes/_actions_actioncontext_.actioncontext.html still talk about ex.Point which doesn't exist anymore. This should be ex.Vector

[2018-10-08 08:13] T00mm commented on #1049
Side-comment, is it also possible to add GIF/MP4 to demonstrate code? How would this work?

[Example video](https://giphy.com/gifs/5e21urLNSMJPazbKKj/html5)

1. Is this allowed?
2. Do we host it on Github or other external websites like Gyphly?
3. Is this something you would love to have?

[2018-10-08 14:42] kamranayub commented on #1049
I like the idea of videos but it depends on what they're on. I'll have to
watch your video later. I think ideally we hoped we can start to add new
user docs (see PR open in excaliburjs.github.io) that contain full examples
that get compiled on build and embedded on the page, perhaps through
codesandbox or some other online project host (Glitch). Even cooler if we
write BrowserStack tests for them

[2018-10-08 15:03] T00mm commented on #1049
Good point, would be stupid to redo everything indeed.

To clarify for other readers, kamranayub is talking about https://github.com/excaliburjs/excaliburjs.github.io which is the website repo (different from this one)

I am very interested in giving feedback for this exercise and do believe in making test units for the documentation website. Maybe we should move this discussion to that repo?

[2018-10-08 17:47] kamranayub commented on #1049
Yeah would love it! There may be an issue already otherwise feel free to
create one!

On Mon, Oct 8, 2018, 10:03 T00mm <notifications@github.com> wrote:

[2018-10-09 18:00] #1049 closed

[2018-10-12 02:42] kamranayub opened #1051 "docs: Update links to new docs"

[2018-10-12 03:14] eonarheim opened #1052 "[chore] Upgrade Excalibur to TypeScript v3.x"
### Context
It's good to keep up with TypeScript, it gives us stronger ability to reason about types, and new language features to take advantage of.

Depedencies:

- [ ] Ensure that typedoc (our documentation generator is compatible
- [ ] Ensure that excalibur plugins still work with excalibur

### Proposal
- [ ] Upgrade to the latest version of TypeScript
- [ ] Fix any compilation errors
- [ ] U

[2018-10-13 13:40] #1044 closed

[2018-10-13 13:46] #1047 closed

[2018-10-21 18:19] Chklang opened #1057 "Missing some files into dist of v0.19.0"
I've added Excalibur to an empty application Angular7 application, and the "npm start" say :

[code]

I've added these files from the Github repo and it's works. So can you add these files into next version?

Greats!

[2018-10-21 19:39] eonarheim commented on #1057
@chklang good catch, the npm pack must have missed some files. We'll issue a point release to fix this as soon as we can.

[2018-10-22 09:52] T00mm opened #1058 "Spritesheet spacing"
![Current tilesheet with spacing](https://user-images.githubusercontent.com/3200970/47286684-11a9ad00-d5f0-11e8-9729-354441c938f8.png)

![After adding spacing to the spritesheet class](https://user-images.githubusercontent.com/3200970/47286731-3c940100-d5f0-11e8-8dc6-bd7edfbdd15f.png)

### Context
Some tilesheets contain spacing. ExcaliburJS can't work with it yet.

### Proposal
To ensure that Til

[2018-10-22 12:38] eonarheim commented on #1057
@Chklang as a work around importing the whole package from `excalibur.js` should work. The missing css and image are cooked into the final webpack output. Tree shaking doesn't provide a lot of value yet in excalibur so this isn't the worst work around.

[code]

[2018-10-23 01:09] #1057 closed

[2018-10-23 01:52] eonarheim commented on #1057
@Chklang Correction this is the workaround

`import * as ex from 'excalibur/dist/excalibur';`

[2018-10-23 02:50] eonarheim commented on #1057
@Chklang Just released v0.19.1, should fix this issue! Thanks!

[2018-10-23 14:59] #1058 closed

[2018-10-26 09:12] Chklang commented on #1057
Thanks or your rapidity! ;)

[2018-10-26 09:13] Chklang opened #1062 "Bug on sprites with scene"
Hi

When i want to use scenes, sprites aren't drawn. I've created a JSFiddle exemple : https://jsfiddle.net/Chklang/pvx6wm5f/3/

Regards.

[2018-10-26 13:01] kamranayub commented on #1062
Hi @Chklang,

We're happy to help! In the future, we just would recommend asking first [on the group](https://groups.google.com/forum/#!forum/excaliburjs) so that if there ends up not being a bug, we don't have extraneous issues.

For your example, the issue appears to be trying to call `goToScene` without waiting until the game has loaded fully.

I changed your Fiddle slightly and now it works: h

[2018-10-27 08:54] Chklang commented on #1062
Great!!! Thanks for your correction. I think that the exemple https://excaliburjs.com/docs/api/edge/classes/_scene_.scene.html must be updated.

ps  : Ok, i've keep the google group url :)

[2018-10-27 08:58] #1062 closed

[2018-10-27 15:12] kamranayub commented on #1062
Thanks I'll make a note to update those docs when I migrate them!

On Sat, Oct 27, 2018, 03:58 Delphin Germa <notifications@github.com> wrote:

[2018-11-01 13:56] eonarheim opened #1063 "Excalibur does not clean up event handlers on `.stop()`"
### Steps to Reproduce
Stop and start an engine and observe handlers leaking

### Expected Result
Handlers should be cleaned up

### Actual Result
Handlers leak and are not cleaned up

### Environment
All versions and environments

### Current Workaround

[code]

[2018-11-02 01:11] eonarheim commented on #727
Not needed anymore

[2018-11-02 01:11] #727 closed

[2018-11-02 01:13] eonarheim commented on #532
Closing in favor of native promise

[2018-11-02 01:13] #532 closed

[2018-11-02 01:15] eonarheim commented on #111
We need more specific action in issues closing

[2018-11-02 01:15] #111 closed

[2018-11-02 01:16] eonarheim commented on #27
This is more of a milestone than a feature, closing

[2018-11-02 01:16] #27 closed

[2018-11-02 01:29] eonarheim commented on #860
Fixed in https://github.com/excaliburjs/Excalibur/issues/1058

[2018-11-02 01:29] #860 closed

[2018-11-05 21:47] bbugh opened #1064 "Get Started buttons on home page are bad links"
I almost gave up on excalibur because the call to action buttons are broken. In the process of making this bug I noticed that the top "Docs" links works though. Probably useful to have all of the links pointing to the correct location!

### Steps to Reproduce

1. Click on any of the "get started" buttons on the home page.
2. Observe that it goes to docs.excaliburjs.com instead of https://excalibur

[2018-11-05 22:08] eonarheim commented on #1064
@bbugh Good find, we'll get this fixed as soon as we can!

[2018-11-05 22:10] eonarheim commented on #1064
Looks like we missed this in the docs update

![image](https://user-images.githubusercontent.com/612071/48029995-4d2a9800-e115-11e8-9b20-b3bdd1ebef3b.png)

[2018-11-05 22:30] eonarheim commented on #1064
And this
![image](https://user-images.githubusercontent.com/612071/48030903-173ae300-e118-11e8-9591-1d1d2beddcbc.png)

[2018-11-06 00:18] eonarheim commented on #1064
@bbugh Fixed! Thanks for opening the issue

[2018-11-06 00:18] #1064 closed

[2018-11-11 18:47] atanasbozhkov commented on #1052
This looks interesting. I have done a similar upgrade already for another project and I would be interested in doing this one for Excalibur.
I am not sure how to test the plugin system though. If you can give me some rough guidance I should be able to figure it out.

I've got a branch up with the changes I've made so far - [Compare Branches](https://github.com/excaliburjs/Excalibur/compare/master.

[2018-11-11 19:21] eonarheim opened #1066 "Create strongly typed EventTypes"
### Context
Having a strongly typed source for our event types would be an asset to game development. As folks build games in TypeScript they do not want to rely on magic strings.

### Proposal
Create an enum called EventTypes following pascal casing for the individual types. Using the same string literal value in the enum still allows the types to flow for built in events while allowing others to

[2018-11-11 20:00] eonarheim commented on #1052
@atanasbozhkov Excellent, go for it!

The plugins have the form `excalibur-{name}`
 * excalibur-tiled is the biggest one to check https://github.com/excaliburjs/excalibur-tiled
 * excalibur-pack hasn't been touched in a while and may be out of scope
 depending on the level of effort https://github.com/excaliburjs/excalibur-pack

The key example to check is https://github.com/excaliburjs/example-ts

[2018-11-13 02:33] kevin192291 commented on #153
What is the progress on this issue? If no one is actively working on it. I would be happy to pick it up.

[2018-11-13 13:10] eonarheim commented on #153
Hi @kevin192291 this would be great! I'll assign myself so no one takes the issue.

I'd look into how gifs are packed together natively, build something in Excalibur to parse the native format into RGB image frames, and extract them into a SpriteSheet.

It may also be useful to allow excalibur users to specify a color to be transparent (I believe gifs do not support transparency).

[2018-11-24 14:32] eonarheim opened #1067 "ex.Scene.engine should be hidden to avoid confusion"
### Steps to Reproduce

For users of Excalibur it is currently ambiguous whether they should use `onInitialize(engine: Engine)` or reference `this.engine` off of `ex.Scene`. Excalibur should steer users towards `onInitialize()` for all initialization logic.

See https://groups.google.com/forum/#!topic/excaliburjs/6RwIU6cuYLk

### Expected Result
There should be 1 way of referencing engine when ext

[2018-11-27 22:22] kevin192291 commented on #153
Quick update on my progress:
I have started to prototype a way to split Gifs into separate frames, here is my attempt:
[https://stackblitz.com/edit/gif-frame-parser](https://stackblitz.com/edit/gif-frame-parser)
I now am going to try to work in the efficiency of it. I am concerned about how GIFs work though. Some GIFs (depending on how they were made) will store the deltas of the changes between f

[2018-11-28 20:12] eonarheim commented on #153
@kevin192291 This is fantastic! I think you are on the right track. We probably do want to handle the case where only deltas are stored, is there a binary header that indicates the type? or is data inspection necessary to detect these?

I think putting this logic into a new resource type like `Texture` might be the way to go to integrate this work into Excalibur.

Base resource: https://github.com

[2018-11-28 21:15] #1066 closed

[2018-12-01 17:23] eonarheim opened #1069 "Excalibur does not behave as expected during resizes when in fullscreen mode"
Excalibur does not seem to be handling fullscreen resizes very well, cam

### Steps to Reproduce
See pen https://codepen.io/eonarheim/pen/oQmeLZ?editors=0010

Resize the window up and down and observe that the actors disappear and the platform does not stay at the bottom of the screen as expected. Actors are being marked as offscreen, the camera focus appears to change, and some odd scaling factor

[2018-12-01 19:54] eonarheim opened #1070 "RigidBody Collision allows large masses to be pushed around by small mass collisions"
### Steps to Reproduce
Click to move red block to the right
https://codepen.io/eonarheim/pen/MzLOeX?editors=0010

I believe this is because we split MTV evenly which causes this odd behavior

https://github.com/excaliburjs/Excalibur/blob/e8239816c6e0c9a3f53022174746983821be806a/src/engine/Collision/CollisionContact.ts#L180-L183
image.png

### Expected Result
Large mass objects should not be pushed

[2018-12-02 14:40] starsoccer opened #1071 "Within only checks from center of object not from bounding box"
### Steps to Reproduce
Create a long block in a rectangle shape and then create 2 other blocks less then 100 px from it. The first block should be less then 100 PX from the center of the rectangle and the second block should be 100 px from the edge of the rectangle. When within is called on the other 2 blocks the first will be within 100px but the other will not since its great then 100px from the

[2018-12-02 16:05] starsoccer opened #1072 "Infinite collisionstart called with physics when objects are level"
Edit:Originally said this was only occurring when using rigid body physics, but even without it this still occurs. So when using any physics with simulated gravity(acc), having an object fall on 2 level objects results in continual collisionstart calls.

### Steps to Reproduce
Codepen example: https://codepen.io/anon/pen/eQxwmM?editors=0011

### Expected Result
2 collision start events are called

[2018-12-05 22:38] kevin192291 commented on #153
Hello, I have made more progress.
I created a Gif object along side of the Texture object.
I have added some code in Texture to allow Texture to build an image from a data url.
The current problem is that the sprite that is generated from the texture when calling .asSprite()
has a canvas size of 0. I have not found a solution yet, would anyone have a quick moment to have a look? Once this is done,

[2018-12-06 17:34] kevin192291 commented on #153
Hello! More good news, I have finished importing the code to my fork. Before I start work on making the code more typescripty and adding docs/tests I am wondering if anyone is up for taking a quick look at what I have been up to?
My fork is at: [https://github.com/kevin192291/Excalibur](https://github.com/kevin192291/Excalibur)

I can change the function names, but at the moment I have:
`var gif =

[2018-12-06 17:38] moonblade commented on #862
Is there any updates on this issue?

[2018-12-07 02:18] eonarheim commented on #153
Hi @kevin192291

You're fork is looking great! The team will be able do a more thorough code review once you've opened a PR.

I agree I like staying consistent with `asSprite` naming convention with `asAnimation` and `asSpriteSheet` makes sense to me.

Only question I have is about these dependencies in the `package.json`, they don't appear to be used?

[code]

[2018-12-07 02:21] eonarheim commented on #862
@moonblade None yet, we intend to redesign the way collision groups work. We are definitely open to suggestions/ideas on what you'd like to see in a feature like this.

[2018-12-19 19:46] mjkayson opened #1078 "Offscreen culling kicking in too early"
Actors are being culled while still visible when the camera zooms in, and when zooming out they pop back in after their position is within the visible area.

See the pen here: https://codepen.io/mjkayson/pen/YdzEpZ (it gradually zooms in and out)

Ideally (for me at least) culling would happen a fair while after the actor is outside the field of view - also would be nice to have a flag disable cul

[2018-12-21 02:10] jedeen commented on #1078
Hi! Thanks for submitting this issue. I've updated the comment to use our bug template, and we've confirmed and prioritized this bug for our next release. Thanks again!

[2018-12-24 15:07] eonarheim opened #1079 "Excalibur `Engine.suppressPlayButton = true` will not work in Chrome"
### Steps to Reproduce
Setting `suppressPlayButton = true` on engine causes the loading bar in Chrome to freeze, because the Chrome audio context is blocked from loading.

https://codepen.io/eonarheim/pen/mamYbz?editors=0011

### Expected Result
Loading bar should continue loading with an audio warning in the console

### Actual Result
Engine is stuck

### Environment

- browsers and versions: Chr

[2018-12-31 16:07] eonarheim commented on #291
@code0wl Probably not, we are planning a drawing subsystem refactor and I don't think this issue is relevant anymore.

[2018-12-31 16:07] #291 closed

[2019-01-07 03:37] kevin192291 commented on #1038
I was just working in the Texture class. Mind if I pick this one up?

[2019-01-07 03:41] eonarheim commented on #1038
@kevin192291 Go for it!

[2019-01-08 16:39] tskull01 commented on #875
I would like to handle this.

[2019-01-08 22:10] eonarheim commented on #875
@tskull01 Go for it, I recommend refactoring visible to a getter/setter pair and implementing the logic in the setter.

[2019-01-10 00:34] #1028 closed

[2019-01-10 00:47] #153 closed

[2019-01-10 02:28] eonarheim opened #1084 "ex.Color.Black.lighten() does not work"
### Steps to Reproduce
See codepen
https://codepen.io/eonarheim/pen/BvORaG?editors=0010#0

[code]
Looks like this issue is right here, it is using multiplication. When the black it is `0` so multiplication will always yeild a `0`

### Expected Result
The new color should be lighter than black

### Actual Result
New color is still black

### Environment

- browsers and versions: N/A
- operating sys

[2019-01-10 02:40] #833 closed

[2019-01-12 19:54] Carghaez commented on #1084
What result do you expect from lighten, for example by 50%, a black color?

The problem is given by the fact that in general 50% lighten of a color mean add a 50% of white and not from the same color. So the correct algorithm should be:

[code]
Or more simply:

[code]

That means if we have HSL(100, 20, 40), from a lighten function of 50% we have a result of HSL(100, 20, 70) and not HSL(100, 20, 6

[2019-01-18 02:04] eonarheim commented on #1084
Hi @Carghaez this sounds very reasonable, please continue with the proposed solution.

[2019-01-18 02:07] eonarheim commented on #875
@tskull01 let me know if you would like any assistance

[2019-01-21 19:14] eonarheim opened #1085 "Update Vector & Color constants to implicitly return a new instance using getters"
### Context
Currently it is easy to accidently mutate the global `ex.Color` and `ex.Vector` constants by forgetting to call `.clone()`. This causes bugs if developers do not know better and accidentally mutate `ex.Color.Red` or `ex.Vector.Zero` by mistake.

### Proposal
* [x] Switch `ex.Color` and `ex.Vector` constants to be getters that return a new instance of the constant.
* [x] Update internal

[2019-01-21 19:52] eonarheim opened #1087 "Rename `BaseCameara` to `Camera`"
### Context
The `BaseCamera` name is confusing as it implys that the Camera must be extended in order to be used, this is not true.

### Proposal
* [ ] Rename `BaseCamera` to `Camera`
* [ ] Provide an off-ramp deprecation notice an a dummy `BaseCamera`
* [ ] Fix any references in code/tests to `BaseCamera`

[2019-01-21 19:57] eonarheim opened #1088 "Switch Visual Tests to webpack based build with a dev server"
### Context
Currently, it is pretty slow to make progress on visual tests. For quicker iteration on excalibur, it would be advantageous to have the visual test suite built with webpack with a `watch` npm script.

### Proposal
* [ ] Switch everything in the /sandbox folder to be webpack based
* [ ] Should have a `watch` that will rebuild on a test OR an excalibur change
* [ ] Should use webpack dev

[2019-01-24 02:21] eonarheim opened #1090 "Investigate distributing Excalibur ESM/LazyLoading"
### Context
Excalibur's bundle is getting large for a single script, it may be worth while finding ways to cut down the size of excalibur by leveraging ESM style modules with lazy loading.

See webpack documentation on lazy loading https://webpack.js.org/guides/lazy-loading/

### Proposal
* [ ] Investigate decoupling as many of the individual pieces of excalibur as possible
* [ ] Build and test a

[2019-01-24 02:40] eonarheim commented on #1072
After investigating, this looks like a by product of the single contact collision oscillation problem. To properly fix this we'll need to introduce multiple contact into Excalibur and possibly rigid body sleeping. I'll make to new issues and link this bug to them.

[2019-01-24 02:42] eonarheim commented on #1071
One possible fix is to use ray casting from the nearest point on the convex hull of one shape to the nearest point of another

[2019-01-24 02:43] eonarheim commented on #1052
@atanasbozhkov Any interest in continuing this work?

[2019-01-24 02:53] eonarheim commented on #895
We are going to stick with webpack for time being, we'll re-open if a good reason presents itself to look into another bundler

[2019-01-24 02:53] #895 closed

[2019-01-24 02:57] eonarheim commented on #683
Closing in favor of #994

[2019-01-24 02:57] #683 closed

[2019-01-24 03:00] eonarheim commented on #622
Closing in favor of the upcoming ECS milestone planning that will make this obsolete

[2019-01-24 03:00] #622 closed

[2019-01-24 03:00] eonarheim commented on #581
Wontfix

[2019-01-24 03:00] #581 closed

[2019-01-24 03:04] eonarheim commented on #548
@pathurs had a great name suggestion here, I really like the name `ScreenElement` @excaliburjs/core-contributors  thoughts?

ScreenElement extends Element - The screen element has a location on the screen, and some kind of display (text or image)
ActorElement extends ScreenElement - The actor element is essentially what the actor is, except stripped down to be more basic, having to add "modules" o

[2019-01-24 03:04] eonarheim commented on #592
Closing in favor of the ECS milestone planning which will make this obsolete

[2019-01-24 03:04] #592 closed

[2019-01-24 03:13] eonarheim commented on #16
Can't reproduce

[2019-01-24 03:13] #16 closed

[2019-01-26 01:43] eonarheim opened #1091 "Collision Groups Re-implementation"
### Context
Depends on #1119

The previous implementation of collision groups was meant to describe groups that an Actor could collide with at once. This implementation was not efficient and was fairly brittle, and doesn't really match with what others are doing with collisions in industry.

In other engines, groups indicate like members that do not collide with each other. For example:
* Players

[2019-01-26 02:28] eonarheim opened #1092 "Implement Draggable Helper on Actors"
### Context
In order to properly implement drag and drop on an actor, it takes a lot of ceremonies to make it work. There should be a simpler way to enable actor drag and drop for actors.

Currently this:

[code]

### Proposal

Add a `ex.Actor.draggable = true` utility gettter/setter/method to help remove this boilerplate

[2019-01-26 15:11] #1087 closed

[2019-01-28 03:38] eonarheim commented on #1091
Add a constant to the effect "CollideWithAll = -1"

[2019-01-28 03:38] eonarheim commented on #1091
Cover common cases when supplying own custom bitmask

[2019-01-28 03:45] kamranayub commented on #395
Check this out, we can enable this right now!

https://palantir.github.io/tslint/rules/completed-docs/

[2019-01-28 03:48] #1085 closed

[2019-01-28 03:53] kamranayub commented on #395
I think we want:

[code]

And we should start out with this rule as a warning, not error, while we work to address the documentation.

[2019-01-28 03:56] #1079 closed

[2019-01-31 13:50] eonarheim opened #1093 "Implement Multi-Contact Style Collision Resolution"
### Context
Currently Excalibur uses only single-contact style collision resolution, this comes with known stability problems such as collision oscillation yeilding confusing results (#1072 ) or large amounts of wobbling. This makes it difficult to use excalibur rigid body collision to do any kind of stacking game.

### Proposal
Implement multi-contact using a single contact memory strategy
   * R

[2019-01-31 13:59] eonarheim opened #1094 "Implement Rigid Body sleeping in Collision System"
### Context
Currently no rigid bodies in Excalibur sleep when collision resolution motion is very small. This wastes a lot of cycles computing collision information.

### Proposal
* Implement rigid body sleeping in excalibur
  - Have a way to prevent objects from sleeping for certain games
  - Implement collision resolution chaining, where the order of resolution is determined to produce the most

[2019-02-02 02:42] eonarheim opened #1095 "[Proposal] OffscreenCanvas implementation in Excalibur"
### Context
[OffscreenCanvas](https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas) is a new api that is available in Chrome and in Firefox behind a flag. This API allows you to draw using a web worker using a separate thread. This could give use extra time per frame, and boost our FPS.

### Proposal
Switch out the HTML5 canvas context draw calls to use an abstraction that will marshal

[2019-02-02 06:12] eonarheim opened #1096 "Add flag to IEngineOptions to set canvas transparency"
### Context
Currently excalibur does not expose a way to enable/disable canvas transparency, see https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Optimizing_canvas#Turn_off_transparency.

We can save some processing by defaulting to a non-transparent canvas (which is a rare case)

### Proposal
* [ ] Add an additional property to `IEngineOptions` called `enableCanvasTransparency

[2019-02-02 06:26] eonarheim opened #1097 "[Proposal] Implement Texture Atlasing in Excalibur"
### Context
Sprites can be easily duplicated in Excalibur, and individual sprite have their own backing canvases which is very inefficient from a browser memory perspective. Additionally having canvases not part of the DOM requires a texture copy to the GPU every time such a sprite is uses.

### Proposal
* [ ] After sprites load store the resulting pixels packed into a shared single offscreen text

[2019-02-06 11:58] edualb commented on #1096
Hello,  i get this issue, but I can not create tests. Have something wrong with my test code, can you(@eonarheim)  help me pls?

[051b0ef](https://github.com/edualb/Excalibur/commit/56a10e2e038061f5cdf22e6b2eb0999b94d906f4)

[2019-02-07 20:22] jedeen commented on #1096
Hello! Thanks for contributing! We'll take a look at your fork and get back to you within the next day!

[2019-02-09 20:17] jedeen commented on #1096
Hello @edualb!

At least initially, disabling the canvas transparency by default is causing failures in some of our existing tests (image-matching) because canvas transparency was not disabled when they were configured. We can adjust those tests to account for the change.

Please open a pull request for your changes so we can continue to work with you and provide better visibility. Thanks!

[2019-02-18 14:39] #1096 closed

[2019-02-27 01:29] eonarheim opened #1102 "Update Excalibur to follow styleguide"
### Context
Some of the codestyle in Excalibur is not consistent. The team has drafted a new styleguide to help guide development

### Proposal
In several PRs update Excalibur with deprecation warnings where possible

* [x] PR to add STYLEGUIDE.md + update PR template for Excalibur
* [x] PR to update interface naming
* [x] PR to update method naming 1 commit per file
* [x] PR to update to modern E

[2019-02-27 01:58] eonarheim opened #1105 "Remove extraneous TODOs"
### Context
There many todos in Excalibur that are no longer applicable or non-actionable

### Proposal
Remove todos that are no longer applicable or non-actionable, create GH issues for all others.

[2019-02-27 02:15] eonarheim opened #1107 "[chore] Write test to confirm event handlers execute in order of subscription"
### Context
This was an existing TODO see #1105

Currently we dont have a test that shows handlers execute in the same order as subscription.

### Proposal
Write a test in `EventSpec.ts` that registers `n` number of handlers in a certain order and tests that those handlers execute in the same order.

[2019-02-27 02:26] eonarheim opened #1108 "[chore] Check that spritesheet is valid given source texture dimensions"
### Context
Was a TODO #1105

It is currently possible to create a spritesheet that is invalid given it's source texture dimensions
See https://github.com/excaliburjs/Excalibur/pull/1106/files#diff-c3d2f62c7d54f809d5dc0e29d6e45f7dL62

### Proposal
* [ ] Validate spritesheet against the texture's loaded dimensions.
* [ ] Write a test that checks this validation works

[2019-02-27 05:45] agrgic16 commented on #1107
Hi guys, I'm interested in helping with this if nobody is working on it already.

[2019-02-27 22:55] eonarheim commented on #1107
@agrgic16 Excellent, I'll review the PR tonight

[2019-02-28 05:10] agrgic16 commented on #1063
Is anyone working on this one? I'd be happy to give it a try

[2019-02-28 13:17] #1107 closed

[2019-02-28 14:07] eonarheim commented on #1063
Go for it! All yours!

On Wed, Feb 27, 2019, 23:10 Ante Grgic <notifications@github.com> wrote:

[2019-03-01 06:16] agrgic16 commented on #1063
@eonarheim just to be clear - I see the workaround is intercepting window and document `.addEventListener()`. Would we prefer to manage via the internal EventDispatcher instances in the real implementation?

[2019-03-02 00:17] eonarheim commented on #1063
@agrgic16 Correct, it would be prefered to handle the cleanup using Excalibur's internal machinery and calling the appropriate browser APIs. Defining a custom override to the builtin `addEventListener` could be dangerous.

[2019-03-08 01:44] #1105 closed

[2019-03-08 02:05] #1052 closed

[2019-03-18 17:00] alanag13 commented on #1102
we should consider adding ESLint rules for these items where possible.

[2019-03-18 17:24] eonarheim commented on #1102
@alanag13 good call, I've updated the issue to reflect that

[2019-03-21 04:38] alanag13 opened #1111 "[chore]Update vscode recommended extensions"
The [tslint extension we recommend](https://marketplace.visualstudio.com/items?itemName=eg2.tslint) is now deprecated in favor of [an officially MSFT backed one](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin).

[2019-03-23 13:26] #1111 closed

[2019-03-25 13:30] #1108 closed

[2019-04-06 02:15] DavidLi119 commented on #1102
Hi, are there still any files to update to modern ES features `let` and `const`? I was thinking of doing ActionSpec.ts. Is that fine?

[2019-04-06 14:35] eonarheim commented on #1102
@DavidLi119 That would be awesome, open a PR!

[2019-04-07 05:58] DavidLi119 commented on #1102
@eonarheim Quick question before I get started, what module do I install, when I open VSCode, every single method has red underline and it says it cannot find module `'../../build/dist/excalibur'`

[2019-04-13 13:58] eonarheim opened #1119 "[Refactor] Decouple the Collision system from Actor"
### Context
Currently the colllision system has references to actor all throughout. This makes it difficult to make changes and test the collision system, as well make changes to actor.

### Proposal
* [ ] Remove `Actor` from the collision system and replace with a new facade `Collider`
     * [ ] Move collision type properties to `Collider` from Actor i.e `CollisionType`
* [ ] Rename confusing va

[2019-04-13 16:14] radist2s opened #1120 "Wrong scaling on HiDPI screens with set suppressHiDPIScaling option"
### Context
On HiDPI screens option `suppressHiDPIScaling` of the `Engine` makes no effect for `Camera` and `Loader`.
### Proposal
Update Excalibur to use `pixelRatio` of the `Engine` for `Camera` and `Loader`.

[2019-04-14 01:49] SneakScrims opened #1122 "Create a SwipeTracker?"
It would be useful to have a feature that allows you to track swipes on a mobile device. I've created my own using Excaliburs' current features. I'm not sure if it's suitable for the engines' scope, however. The code is below for reference, but I believe that a utility for swipe gestures would be handy.

The math isn't fantastic in this Swipe Tracker either. I'm still playing around with it.

[cod

[2019-04-14 01:52] #1122 closed

[2019-04-14 01:53] justjoeyuk opened #1123 "Create a Swipe Tracker?"
I made this same issue previously, but on an alternate account where I would not be subscribed properly to this issue. I've remade it.

It would be useful to have a feature that allows you to track swipes on a mobile device. I've created my own using Excaliburs' current features. I'm not sure if it's suitable for the engines' scope, however. The code is below for reference, but I believe that a ut

[2019-04-14 10:58] justjoeyuk commented on #1069
This is a fairly big issue. It’s a non-issue for me because I’m making a messenger game. However, resizing a browser window is very common.

Is it only in Fullscreen mode that this happens?

[2019-04-14 13:13] eonarheim commented on #1069
@justjoeyuk I've only noticed it in fullscreen, but any viewport modification I suspect may cause similar issues. Correct this may be a difficult issue to solve, I took a stab at it earlier and got maybe 1/2 way https://github.com/excaliburjs/Excalibur/commit/d38ddd1a8b59de31376b5f86f60ad15efd8cd978 Definitely feel free to take or leave anything I've done if you work on fixing this.

The steps to

[2019-04-14 13:20] eonarheim commented on #1123
@justjoeyuk This is excellent! 100% want this in core excalibur.

The team has talked about implementing some form of gesture api like this #475, this would be an excellent start to this.

[2019-04-14 13:47] #1120 closed

[2019-04-14 14:20] justjoeyuk commented on #1123
@eonarheim That's brilliant to hear. However, I've began adding a "enableKeyboard" for the SwipeTracker (mainly to debug on Desktop). I've encountered an error with the imports and now it won't compile. When I add `import {KeyEvent, Keys } from "excalibur/dist/Input";`

I get the following compiler errors:

[code]

[code]

Any idea?

[2019-04-14 15:09] eonarheim commented on #1123
@justjoeyuk Sadly, loading individual types like `Import {KeyEvent, Keys } from "excalibur/dist/Input` from files isn't super friendly at the moment for excalibur and doesn't provide a lot of tree shaking benefits yet (we need more discipline in our `imports` in the core library).
* I recommend importing the whole library `import * as ex from 'excalibur'`, we have [sample](https://github.com/excal

[2019-04-14 15:43] justjoeyuk commented on #1123
Hey @eonarheim ,

I added the CSS file loader and that's fine, that error is gone. I'll start to use the imports as you described now.

However, I'm interested in contributing to this project and would like more information about how to do so whilst building a project I'm working on. Do you have Discord or anything along those lines? I'd love to be able to modify the engine directly whilst working

[2019-04-14 15:46] justjoeyuk commented on #1123
@eonarheim The directory only contains "Index.ts" but it looks like by default, `import x from y` looks for `index.ts` which seems accurate from my experience.

[2019-04-14 15:54] justjoeyuk commented on #1123
@eonarheim It works now, I used `import * as ex from 'excalibur';` instead. However, I do believe that all `Index.ts` should be `index.ts` which is the conventional way for module resolves to be handled. It can alternatively be fixed by doing `import {PointerEvent} from 'excalibur/dist/Input/Index'`.

[2019-04-14 16:01] eonarheim commented on #1123
@justjoeyuk Hmm good point, we should definitely open a bug on the capitalization of the `Index.ts` barrel. That import looks pretty un-ideal.

It may be a bigger question for the team, should we open an additional issue switch to all lowercase files in excalibur to match closer to node @excaliburjs/core-contributors?

[2019-04-14 16:09] eonarheim commented on #1123
@justjoeyuk As for working on the engine while building a game I've done a couple approaches
* Git submodule in your game project with a fork of excalibur included, then reference the build files in your game.
* [NPM file reference](https://stackoverflow.com/questions/14381898/local-dependency-in-package-json) in your game's package.json to a local build of excalibur on your machine

I'll make an

[2019-04-19 19:57] eonarheim opened #1126 "[Refactor] PointerEventName type location"
### Context
The PointerEventName type union is currently in an odd spot, they should be in Pointer.ts

### Proposal
Move this code to Pointer.ts
https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Actor.ts#L50-L60

[2019-04-19 20:00] eonarheim opened #1127 "[Refactor] Pointer.ts should use string constant enums where possible"
### Context
Constant enums can offer debugging productivity, robust type support, and robust refactorings.

### Proposal
Refactor Pointer.ts to use constant enums

[2019-04-20 00:23] justjoeyuk opened #1129 "Unclear Documentation Surrounding Physics"
The documentation isn't clear on letting the user know that Fixed-Fixed collisions aren't possible. I tried to *cheat* the system by using two fixed bodies and just moving them around. However, when looking through the source, I found:

[code]
I think this should be made explicit, or at least a small explanation of each type and their relationship. Happy to do this myself, just putting this here a

[2019-04-20 01:31] eonarheim commented on #1129
Good call out, this should be made explicit 👍

[2019-04-20 02:11] ColeyG opened #1130 "Physics on Different Framerates"
Hi, I was testing the engine on my linux machine, but when swapping to a different (more powerful) machine, I noticed that the physics were floatier and my characters slicker. This is weird since in my game the characters can jump higher and move faster with a higher framerate.

### Steps to Reproduce
Create a game in a slow framerate environment, then test it somewhere with high performance.

###

[2019-04-20 02:37] eonarheim commented on #1130
@ColeyG Thanks for opening and issue!

The `update` method is called once per frame, given the [implemenation](https://github.com/ColeyG/items-on/blob/master/game/player.js#L11-L26) `this.velY--` will be called less frequently on a lower framerate than a higher one, decreasing velocity slower than a higher framerate.

The trick is to scale your `update` method with delta, so that update distance/v

[2019-04-20 02:44] eonarheim commented on #1130
@ColeyG If you have any more questions, feel free to ask them in the forum

[2019-04-20 02:44] #1130 closed

[2019-04-20 06:25] magnusandy opened #1132 "undefined is not a constructor (evaluating 'new window.AudioContext') on Safari"
the error is `TypeError: undefined is not a constructor (evaluating 'new window.AudioContext')`

### Steps to Reproduce

I reproduced using a fresh clone of the example-ts-webpack, and tested with both 0.21.0 and 0.22.0 versions of excalibur. Start the running the project and press the play button and error will appear and the game will not start.

More specifically the error comes from calling `e

[2019-04-20 14:28] eonarheim commented on #1132
@magnusandy Good find, this is very odd. `Polyfill.ts` should be performing a similar function to your proposed solution, it is functionally the first import in engine and should have run before the static method call. I wonder if the polyfill is not working as we expect or webpack is producing a bundle in an unexpected order

https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Polyfil

[2019-04-20 14:59] eonarheim commented on #1132
I can reproduce this in latest safari in browserstack, very good find

![image](https://user-images.githubusercontent.com/612071/56458961-e8759980-6352-11e9-9d68-a01740d8df9d.png)

[2019-04-20 15:16] eonarheim commented on #1132
The plot thickens, using un-minified excalibur seems to work no issues 😢

![image](https://user-images.githubusercontent.com/612071/56459160-4905d600-6355-11e9-96c2-9bc318f621bd.png)

[2019-04-20 15:27] eonarheim commented on #1132
Minification seems to have re-ordered the definition of the polyfill. We can address this in 2 ways, export a polyfill applier function that can be called (currently it's a side effecting import in `Engine.ts`), update webpack configuration to produce the correct ordering.

![image](https://user-images.githubusercontent.com/612071/56459211-f2e56280-6355-11e9-8af6-3010045f54da.png)

[2019-04-20 18:26] magnusandy commented on #1132
Interesting, I didn't even think of the build process. I tried messing around here with the webpack config to try get the polyfill to be applied earlier without much success (but I am not too familiar with webpack). I think your proposed code and solution makes more sense in the long run, as it doesn't rely on tweaking the build process to work properly.

Thanks for the speedy response! I have rea

[2019-04-24 00:42] #1132 closed

[2019-04-24 02:38] eonarheim opened #1134 "[Proposal] Add ability to flip spritesheets and animations without worring about cloning"
### Context
It would be useful to flip spritesheet, and animations without worring about cloning. Currently it is difficult to flip animations, but it is easy to accidentally share references to sprites which cause bugs.

https://codepen.io/eonarheim/pen/LvgNye?editors=0010

### Proposal

Create a new method to flip and clone animations and spritesheets.

[code]

### Open questions

* How should w

[2019-04-27 00:14] eonarheim commented on #989
Closing in favor of #1102

[2019-04-27 00:14] #989 closed

[2019-04-27 21:42] yammik commented on #396
Hi! I'd like to work on this if it's still up for grabs 🙏

[2019-04-28 15:38] eonarheim commented on #396
All yours! 👍

On Sat, Apr 27, 2019, 16:42 May Kim <notifications@github.com> wrote:

[2019-05-01 11:57] eonarheim opened #1137 "Wire CI/CD to automatically run browserstack tests"
### Context
Bugs can go unnoticed in other browsers given our normal development is in Firefox and Chrome. We have a full browserstack subscription at our disposal, and up to now have only been running tests and finding bugs manually.

### Proposal
Wire up browserstack to run on every commit on our supported desktop and mobile browsers via their Karma plugin.

* [ ] Build our official browser list

[2019-05-01 12:01] eonarheim opened #1138 "Update readme to document with more local dev advice"
### Context

Currently it is unclear to the community how to do local development on Excalibur while also working on a game. @justjoeyuk brought this issue up in the discussion for #1123

### Proposal

Add documented steps either directly in the readme or in a link to another markdown file describing local development while building a game.
* [ ] Local NPM method
* [ ] Git Submodule method
* [ ] T

[2019-05-01 12:05] eonarheim opened #1140 "Modernize Excalibur-Pack plugin"
### Context
[Excalibur-pack](https://github.com/excaliburjs/excalibur-pack) is used to bundle excalibur resources into one file, it is currently out of date and needs to be updated to match modern excalibur.

### Proposal
* [ ] Update package.json to include lib dependencies
* [ ] Avoid using typescript namespaces
* [ ] Build with modern webpack

[2019-05-01 13:21] djcsdy commented on #1102
Hi. Heads up: I am working on replacing all remaining instances of `var` with `let`/`const`.

[2019-05-01 13:24] eonarheim commented on #1102
@djcsdy Thanks! Please split with one commit per updated file as best you can

[2019-05-01 14:27] djcsdy commented on #1102
Oops. Sorry. I didn’t mean to spam this issue with every commit. I was trying to follow the style I observed in previous commit messages, and I forgot that GitHub would helpfully cross-reference the commits.

[2019-05-02 11:54] #1129 closed

[2019-05-02 13:11] eonarheim opened #1143 "Update Excalibur compilation to enable full TS strictness"
### Context
As the typescript compiler has evolved it has brought new stricter safe-guards like "no implicit any", this enhances our ability to reason about types.

### Proposal
Turn up the compiler strictness flags as far as is reasonable and fix any associated errors in Excalibur.

[2019-05-03 21:10] eonarheim opened #1144 "Playing non-actor animations does not work, remove feature?"
### Open Question to @excaliburjs/core-contributors
Should we remove this implementation in favor of something more like [this](https://github.com/excaliburjs/sample-shootemup/blob/master/src/actors/animation-manager.ts)? It feels awkward hanging off of engine, very much the wrong place for this.

### Steps to Reproduce
Attempt to play an animation via the ex.Engine.playAnimation

https://github.c

[2019-05-03 21:29] eonarheim opened #1145 "[Proposal] Remove event boilerplate from Actor, Engine, Scene and other types with composition"
### Context
Currently the are hundreds of lines of event boilerplate crowding files

https://github.com/excaliburjs/Excalibur/blob/3c0e62a6408636b311b2b1e1bf9c74239aeca2df/src/engine/Actor.ts#L561-L804

https://github.com/excaliburjs/Excalibur/blob/3c0e62a6408636b311b2b1e1bf9c74239aeca2df/src/engine/Scene.ts#L98-L138

https://github.com/excaliburjs/Excalibur/blob/3c0e62a6408636b311b2b1e1bf9c74239a

[2019-05-03 22:13] eonarheim opened #1146 "Update actions moveBy, rotateBy, and scaleBy to use relative positioning"
### Context
Currently the actions `moveBy`, `rotateBy`, and `scaleBy` are confusing, they move a certain quantity in a certain time. They should instead move a quantity relative to the current quantity, this is more expected.

### Proposal

The method signature should also hint that things are moving by an offset `moveBy(offsetX: number, offsetY: number, pixelsPerSecond: number)`

`moveBy(10, 10,

[2019-05-04 12:35] kamranayub commented on #1144
Yeah I think it makes sense to remove and replace with a manager

On Fri, May 3, 2019, 4:10 PM Erik Onarheim <notifications@github.com> wrote:

[2019-05-05 13:53] eonarheim opened #1147 "Excalibur event handlers are not contravariantly or strict null check safe"
Related to #1143

### Steps to Reproduce
1. Enabled strict null checks and stict function checks in tsconfig.json
2. Define a resonable handler

### Expected Result
There should be no error when defining a handler like so
![image](https://user-images.githubusercontent.com/612071/57195020-340f7200-6f13-11e9-9457-e6448c3e1fda.png)

### Actual Result
Compilation error

### Environment
- operating sys

[2019-05-11 01:16] #1126 closed

[2019-05-11 01:16] #1127 closed

[2019-05-11 02:00] #1147 closed

[2019-05-20 02:51] UmangThapliyal commented on #805
Hello, I want to contribute to the project can I work on it if it is still open

[2019-05-20 12:43] eonarheim commented on #805
@UmangThapliyal All yours, there is a test utility to return a real Engine configured for testing `TestUtils.engine();` UIActorSpec.ts is a good example.

[2019-05-20 12:44] #1084 closed

[2019-05-21 01:25] eonarheim opened #1150 "Setup Renovate Bot on Excalibur repos to manage dependencies"
### Context
Currently for our samples and plugins we need to manually update our dependencies (including plugin dependencies on Excalibur). It would be awesome if we could automate and customize this process.

### Proposal
Look into and implement [Renovate Bot](https://renovatebot.com/)

Requirements
* [x] Wire up to main Excalibur
     * Exclude or only allow patch updates to typescript
* [x] Wir

[2019-05-21 01:39] eonarheim opened #1151 "Update ex.BoundingBox to have an additional option based constructor"
### Context
Currently, `ex.BoundingBox` has a 4 arg parameter list constructor which technically violates the [styleguide](https://github.com/excaliburjs/Excalibur/blob/master/STYLEGUIDE.md#dont-2)

### Proposal
Create an option back constructor for `ex.BoundingBox` and preserve the **old** constructor for **backwards compatibility**.

[code]

### Acceptance Criteria

* [ ] Existing tests pass
* [

[2019-05-22 00:53] djcsdy commented on #1143
FWIW I have been working on this in https://github.com/djcsdy/Excalibur/commits/better-types

I will be working on this again in a few weeks, but if someone else wants to pick it up in the meantime, they’re welcome to use my work as a starting point.

[2019-05-22 22:20] eonarheim commented on #1143
Excellent 👍 go for it

On Tue, May 21, 2019, 19:53 Daniel Cassidy <notifications@github.com> wrote:

[2019-05-23 01:22] eonarheim opened #1152 "Excalibur play button can be inadvertently hidden"
### Steps to Reproduce
It is possible when defining screen overlays that the excalibur play button is hidden from view.

See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/excaliburjs/D5lmwHWNxt0

### Expected Result
Excalibur play button should not be hidden

### Actual Result
Excalibur play button is hidden

### Environment
- browsers and versions: Chrome
- operating

[2019-05-24 02:19] eonarheim opened #1153 "Pointer mapping broken in prerelease"
### Steps to Reproduce
Listen to any pointer event, if any event happens that is not a button the mapping will fail with `-1`

We need to update the mapper to handle the no button identifier in the native event which is `-1`.

![image](https://user-images.githubusercontent.com/612071/58298150-06924780-7da0-11e9-87fa-03ab1d10091d.png)

### Expected Result
There should be no error

### Actual Result

[2019-05-28 22:34] #1119 closed

[2019-05-29 22:54] #1152 closed

[2019-05-29 23:03] #1153 closed

[2019-06-06 22:57] #1146 closed

[2019-06-08 02:24] #862 closed

[2019-06-08 02:24] #1091 closed

[2019-06-08 02:41] jedeen commented on #496
Closed because child actors will be removed in a future release.

[2019-06-08 02:41] #496 closed

[2019-06-08 02:52] #1026 closed

[2019-06-08 02:53] kamranayub opened #1160 "[Proposal] Alternative Functional API"
### Context

We have different mechanisms in Excalibur to add functionality to actors/objects ranging from constructor params, traits, public properties, etc. To make it a bit more confusing, some things can be overridden or provide class hooks (`onPostUpdate`) while others need to be subscribed to with events (`onpostcollision`). Further, some things only work when done in specific places (`onIni

[2019-06-08 03:35] #1071 closed

[2019-06-08 13:43] eonarheim opened #1161 "Tentative Excalibur v1.0.0 Roadmap"
## v1 Roadmap

Roadmap is subject to change and not 100% complete

### v0.23.0 - Collision Refactor and Enhancements
* [x] Collision Refactoring #1119
* [x] Within/closestLine implementation #1071
* [x] Re-implement collision groups #862 #1091
      * [Collision Group Sample Platformer](https://github.com/excaliburjs/sample-platformer)
* [x] Bugs, bugs, bugs

### v0.24.0

* [ ] ECS foundations
* [

[2019-06-08 14:04] #1063 closed

[2019-06-09 16:55] JeTmAn1981 commented on #1151
Is it ok for me to make this change?

I don't have a ton of TS experience, but doing a bit of research it's really too bad it can't allow multiple constructor implementations, that's definitely the way I would go in another language to avoid the awkward use of the union typed leftOrOptions.

[2019-06-09 16:59] eonarheim commented on #1151
@JeTmAn1981 all yours!

[2019-06-09 19:50] JeTmAn1981 commented on #1151
I've written the new constructor.  Regarding tests, the bounding box spec is prefacing all the tests with a call to the old-style constructor:

describe('A Bounding Box', () => {
  // left, top, right, bottom
  let bb: ex.BoundingBox;
  beforeEach(() => {
    bb = new ex.BoundingBox(0, 0, 10, 10);
  });

Would you like all the subsequent tests to be run for both construction styles (options parame

[2019-06-09 21:44] JeTmAn1981 commented on #1151
Another couple of questions:

1.  I need to test the constructor function on its own.  When I run the test suite I get a million errors because something is obviously not working right in the constructor, and that creates a bunch of other failing tests.  Buried in all the various errors I'm not seeing anything clues me in to the actual problem; what's wrong with the new constructor.  Is there a wa

[2019-06-10 05:02] JeTmAn1981 commented on #1151
Ok, I went ahead and created a pull request for what I came up with on this.  Let me know how it looks!

[2019-06-11 02:07] #1151 closed

[2019-06-11 05:34] JeTmAn1981 commented on #1151
Huzzah! So nice to find something small to make a contribution with that gets accepted quickly :)

[2019-06-15 00:12] eonarheim opened #1170 "Add Engine frame step debugging feature"
### Context
Currently it can be difficult to debug complex interactions in Excalibur, some guess work and experience is required. It can also be difficult to simulate issues that only occur at high speed.

### Proposal
Add a new frame stepping API on the `ex.Engine.debug` component. This can be accomplished by providing new implementations of the `frameStep()` and `now()` which is currently provid

[2019-06-15 00:39] eonarheim commented on #1150
Implemented

[2019-06-15 00:39] #1150 closed

[2019-06-16 03:41] gargrave opened #1172 "Animation.flipHorizontal can only be set to true"
I believe this is the cause of the issue I am describing below: https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Drawing/Animation.ts#L276

Animation simply passes `flipHorizontal` onto its sprite, but it's doing a truthy-only check, so a `false` value will never be passed on, and thus never get "unset". I believe we would more or less want to pass on any value here, as it seems lik

[2019-06-16 13:53] eonarheim commented on #1172
@gargrave Good find, please do open a PR. This is definitely a bug in flipping.

@gargrave We have a separate [dist repo](https://github.com/excaliburjs/excalibur-dist/blob/master/package.json) from our our main source, it's probable the main source package.json has languished (npm link/yarn link isn't a usual part of our workflow for local integration testing, but it probably should be). We defin

[2019-06-16 17:02] gargrave commented on #1172
Ah, that makes sense. For a non-core maintainer, just trying to test/confirm a quick bug, it's super quick for me to just `yarn link` it and run my local changes immediately, which does require the "main" attribute to be set. No big deal, though--it's easy enough to add on my own. I was just curious. :)

Anyway, I'm going to try to whip up a quick PR this morning. It's a pretty simple fix, so I'm

[2019-06-16 17:48] gargrave opened #1173 "VSCode config (.vscode) should be ignored or fixed"
Just a little third-party perspective from a non-core dev.

This is more a "developer experience bug" than a production bug, but when working on https://github.com/excaliburjs/Excalibur/issues/1172, I noticed I was having some issues getting VSCode to indent correctly, and ultimately it was because the `.vscode` config directory has been committed to the repo.

There are a couple things I noticed

[2019-06-16 17:52] gargrave commented on #1172
PR: https://github.com/excaliburjs/Excalibur/pull/1174

[2019-06-16 21:42] kamranayub commented on #1173
I believe this was added before we added Prettier. We should be able to
remove the settings, though we may need to document the extension settings
for them to work properly in the CONTRIBUTING doc.

On Sun, Jun 16, 2019, 12:48 PM Gabe Hargrave <notifications@github.com>
wrote:

[2019-06-17 12:39] #1172 closed

[2019-06-17 12:47] eonarheim commented on #1173
@gargrave Agreed, lets remove the mentioned settings and remove extension specific settings

[2019-06-17 15:51] eonarheim opened #1175 "Lowercase all files/folders in excalibur"
### Steps to Reproduce
Issue is detailed here #1123, default semantics for imports.

Specific comment https://github.com/excaliburjs/Excalibur/issues/1123#issuecomment-483004520

Importing a barrel is clumsy because of the capitalization. This will cause breaking changes in folks using capitalized import paths. Also this tricky to change on windows because of it's case  insensitivity in the file s

[2019-06-17 16:02] eonarheim opened #1176 "Collision side is ambiguous in ex.PostCollisionEvent"
### Context
Currently when listening to `ex.PostCollisionEvent` the side refers to the side of the **other** actor when colliding, the documentation doesn't really help https://excaliburjs.com/docs/api/v0.23.0/classes/_events_.postcollisionevent.html#side

This is odd because I would have expected the side to match from the reference of the actor where the handler is declared, instead it is the ot

[2019-06-17 16:19] eonarheim opened #1177 "[Proposal] Refactor Actions to make use of async/await for greater composibility"
### Context
Currently the Actions API uses a fluent API that doesn't easily allow the user to compose simultaneous actions or to know when they are completed.

### Proposal
Taking inspiration from Xamarin.Forms, thanks @alanag13 https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/animation/simple#composite-animations

I propose a new Action API

Actions would still be accessed of

[2019-06-17 17:59] gargrave commented on #1173
Sounds good! If nobody beats me to it, I will try to submit a PR in the next day or so. Should obviously be super small and simple. :)

[2019-06-25 09:22] kktos opened #1188 "Question: How to use a Tilemap ?"
Hi,

I'm trying to have a board with walls around and some inside. I use TiledEditor to make the levels.
There are also parts which can be destroyed to reveal bonuses.
I used a TileMap for the different layers..... but there is no collision mechanism with the TileMap...... oooch.
So what is the correct way to do this ?
Process specific layers to create Actors rather than sprites in the TileMap ?
C

[2019-06-25 09:28] kktos commented on #1188
Okay, my bad.... Looks like there is a forum for this...
And I found an answer too:
https://groups.google.com/forum/#!topic/excaliburjs/xKsPtDq5U5Y

[2019-06-25 09:28] #1188 closed

[2019-06-27 21:46] HParker opened #1191 "PointerDragMove event always binds to first actor initialized"
### Steps to Reproduce
[code]

### Expected Result
Actor being dragged would turn black then yellow, then green.
![correct-behavior-draging](https://user-images.githubusercontent.com/4482399/60302829-b734bf00-98e9-11e9-8ae4-5ac31dea8cfa.gif)

### Actual Result
When dragging on the second object that was initialized, the second object turns black, the first object turns yellow and finally the secon

[2019-06-27 22:25] HParker commented on #1191
Possible helpful information:
- PR introducing dragging: https://github.com/excaliburjs/Excalibur/pull/933
- Removing the `on` calls from the constructor does not change the behavior
- logging `this` from the `EventTypes.PointerDragMove` callback always returns object with id 0.
- the callback in `PointerDragMove` is aware that the object is not under the cursor, but still emits the event for it.

[2019-06-28 01:08] eonarheim commented on #1191
@HParker Good find, that is really odd. This will need some investigation, I can't tell why either.

[2019-06-28 03:57] HParker commented on #1191
@eonarheim Thanks for the quick response! Yeah, I'll keep looking as well.

I am trying to understand the eventing system a bit especially as it relates to actor events. My only theory right now is that the actor that gets called in the `Pointer.ts` code that emits the events just isn't getting all the actors and is just getting the first one.

That idea lead me back to this code: https://github.c

[2019-07-03 20:36] eonarheim commented on #1191
@HParker it is very confusing, I spent a good chunk of today deciphering it :(

I think your intuition on `eventPath` is right on the money, I think the bug is that `eventPath` is shared mutable state and is getting mangled. `Pointer` seems to have the right `actorsUnderPointer` recorded, but at the time of dispatch `eventPath` does not match this causing a dispatch to the wrong actor.

The way I

[2019-07-06 18:38] jlennox opened #1195 "Scroll wheel causes "Unable to preventDefault inside passive event listener due to target being treated as passive.""
### Steps to Reproduce
With Chrome 75.0.3770.100 use the mouse scroll wheel while the mouse hovers over an exaliburjs canvas.

The following error will appear in the console:

The code that this is referencig is:
[code]

### Expected Result
n/a

### Actual Result
n/a

### Environment
Chrome 75.0.3770.100

### Current Workaround
n/a

[2019-07-07 03:15] eonarheim commented on #1195
@jlennox Good find, I've added this to the 0.24.0 milestone. I've spoken with the team, we may make a point release v0.23.1 for this bug and #1191

Looks like it might be a simple fix to the wheel event listener
[code]

[2019-07-12 00:04] eonarheim opened #1197 "Update Excalibird repo to latest excalibur"
### Context
Excalibur sample "excalibird" is using a super old version of excalibur (v0.2.5), it should be updated to reflect current excalibur.

https://github.com/excaliburjs/excalibird

### Proposal
* [ ] Update to use typescript
* [ ] Update to use webpack build
* [ ] Update to the lastest excalibur
* [ ] Add to CI
* [ ] Add to Renovate

[2019-07-12 00:17] eonarheim opened #1198 "Implement Pointer Lock API"
### Context
Sometimes when building games you want to prevent the cursor from leaving the game viewport and hide the cursor from view

See [demo](https://mdn.github.io/dom-examples/pointer-lock/)

From MDN

### Proposal

Possible Excalibur API sketch

[code]

While in this mode we'll need to think about the normal pointer events `(x, y)`position, since pointer lock is not bounded by an absolute co

[2019-07-12 01:53] eonarheim opened #1199 "Flakey test: A spritesheet should getSprite at an index with spacing"
### Steps to Reproduce
Sometimes when running the test suite this test will fail, it seems to have become more frequent. The test seems to pass after restarting the build. I suspect there is a subtle order difference or some hidden state that is sometimes different/wrong.

https://travis-ci.org/excaliburjs/Excalibur/builds/557627603#L1683

### Expected Result
Test should pass consistently

### Act

[2019-07-20 14:38] renovate[bot] opened #1210 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-07-22 14:58] #1199 closed

[2019-07-22 16:38] eonarheim opened #1212 "TSLint is deprecated switch to ESLint"
### Context
TSLint is being deprecated in favor of ESLint, Excalibur should switch over

https://medium.com/palantir/tslint-in-2019-1a144c2317a9
https://github.com/Microsoft/TypeScript/issues/29288

### Proposal

Switch Excalibur over to using an near equivalent ESLint ruleset to the existing TSLint ruleset

Possibly make use of existing migration guides and tools

* https://github.com/typescript-

[2019-07-22 16:50] eonarheim opened #1213 "Update Excalibur to use TypeScript `strict:true`"
### Context

The TypeScript compiler now offers a wide range of strictness, `tsconfig.json` offers a full strictness `strict: true` flag which helps guard against runtime error at the cost of compiler complaints.

### Proposal

Switch Excalibur to full strictness if possible, this may require some heavy refactoring.
* Limit the scope of this issue to minimal refactoring/no-breaking changes
* Creat

[2019-07-22 16:59] eonarheim opened #1214 "Switch Excalibur polyfils to core-js"
### Context
In the past we've used hand written polyfills, or polyfills sourced from MDN.

The [core-js polyfills](https://github.com/zloirock/core-js) are better maintained, patched, and up to date. This will also give us a mechanism to easily add polyfills as the browser landscape changes and evolves.

### Proposal
* Remove existing polyfill file
* Compile required core-js polyfills into the Exc

[2019-07-22 18:02] eonarheim commented on #1212
Output from running the conversion tool

[code]

[2019-08-06 17:12] DProBoy commented on #875
@eonarheim Can i handle this issue ?

[2019-08-06 17:44] DProBoy commented on #548
How about Slate or Drawable ? ScreenElement also sounds good...

[2019-08-06 17:46] DProBoy commented on #396
Is this still up for grabs ?

[2019-08-06 19:14] eonarheim commented on #396
@DProBoy All yours, I've added the in-progress label

[2019-08-06 19:15] eonarheim commented on #548
@DProBoy I'm leaning towards `ScreenElement` as the desired name

[2019-08-07 16:57] DProBoy commented on #396
@eonarheim Can i (or Should I?) add new sandbox tests for the Random Timer ? I've committed the changes to my fork of Excalibur and i'm about to submit a pull request for #875 and #396 . (hehe ... still haven't gotten used to Git, as I was a Perforce user before ...)

[2019-08-07 17:26] kamranayub commented on #396
It may be good to add some visual tests to the sandbox/tests/timers
directory (which doesn't exist yet but feel free to follow an existing
example).

On Wed, Aug 7, 2019, 11:57 AM DProBoy <notifications@github.com> wrote:

[2019-08-19 16:21] Nexucis opened #1240 "Question: How to re size a spritesheet according to the size of an Actor ?"
Hello,

I'm trying to match the size of an animation with the actor size. I'm sure I just miss something, but I don't get at what step.

So I created a class Player like that :

[code]
As you can see, My sprite is quite huge. I just would like to re size it according to the size of the actual player.

Can you tell me how I can achieve it ?

Thanks by advance.

By the way, I'm using the last versio

[2019-09-11 11:58] Darker7 opened #1253 "[Nitpick] Broken link on website"
The link to typescriptlang.org on the website is https://typescriptlang.org but should be https://www.typescriptlang.org/