[2019-09-11 13:07] eonarheim commented on #1253
@Darker7 Thanks, we'll take a look ASAP

[2019-09-18 00:45] jweissman opened #1258 "flipHorizontal should work for actors whose current drawing is an animation"
### Steps to Reproduce

`flipHorizontal` doesn't seem to correctly flip the underlying sprites `flipHorizontal` values.

1. Extend a class from Actor. In my example it's a `Player` class.
2. Setup some drawings with animations
3. Set one of these animations to the current drawing
4. Call `.flipHorizontal = true` on the `currentDrawing`

[code]
### Expected Result

When `currentDrawing` is an anima

[2019-09-18 15:12] eonarheim commented on #1258
@jweissman Thanks for finding this, we'll take a look as soon as we can!

[2019-10-02 04:38] jpninanjohn commented on #548
Is this still an issue?

[2019-10-02 16:26] eonarheim commented on #548
@jpninanjohn Definitely all yours if you want it!

`ScreenElement` is the new desired name. In addition please locate and update docs to use the new name.

[2019-10-03 16:29] chris-bingham commented on #395
@eonarheim okay to handle this one?

[2019-10-03 16:59] eonarheim commented on #395
@chris-bingham Actually we are recently switching to eslint given the eventual deprecation of tslint #1217 (apologies this issue lagged behind), however we would still like a similar feature in eslint if possible. If you base a branch on #1217, we'll merge your PR after #1217.

If you'd like to figure out an equivalent eslint rule to completed-docs that would be awesome! We'll update the issue to

[2019-10-03 19:00] chris-bingham commented on #395
Oh no I just opened a PR for tslint. But sure I'll have a look for the eslint equivalent

[2019-10-03 19:02] eonarheim commented on #395
This branch has our basic eslint changes `feature/1212-tslint-to-eslint`, if you base off of this branch we'll merge your PR next 👍

[2019-10-03 21:38] c3ho commented on #396
Hi, is this issue still open?

[2019-10-04 08:21] jpninanjohn commented on #548
Ill take it up.

[2019-10-04 15:31] SirKitboard commented on #875
Is this issue still open?
I see that there were commits related to it but the issue is marked as openn

[2019-10-04 15:42] eonarheim commented on #875
@SirKitboard It is! All yours!

There are a couple approaches, hooking into the internal [_postupdate](https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Actor.ts#L1544) and checking the Actor's color opacity then setting visible or not may make the most sense.

[2019-10-04 21:56] eonarheim commented on #1253
Link locations https://github.com/excaliburjs/excaliburjs.github.io/search?q=https%3A%2F%2Ftypescriptlang.org&unscoped_q=https%3A%2F%2Ftypescriptlang.org

[2019-10-04 21:59] eonarheim commented on #959
@excaliburjs/core-contributors Have we reached consensus?

[2019-10-04 22:47] eonarheim commented on #396
@c3ho I haven't seen any work on it, all yours!

Excalibur has a built in seeded `ex.Random` implementation that we should use to do the random calculations.

It may be worth while to rethink the constructor and the Timer interface as well.

Perhaps something along these lines? If possible we should allow the previous constructor to be used as well avoid a breaking change

[code]

// Example new u

[2019-10-04 22:48] eonarheim commented on #61
This will not be in scope any time soon

[2019-10-04 22:48] #61 closed

[2019-10-04 22:49] eonarheim commented on #107
Not worth fixing at this point

[2019-10-04 22:49] #107 closed

[2019-10-05 12:26] #1253 closed

[2019-10-05 19:23] eonarheim commented on #395
Hi @chris-bingham, I've made some updates to the branch `feature/1212-tslint-to-eslint`, there was some more work to be done on this PRhttps://github.com/excaliburjs/Excalibur/pull/1217 apologies if this adds some more challenge.

I did a little more digging, I think this plugin may be what you need to complete this story, it looks like it has all the things that we want 👍
https://www.npmjs.com/pa

[2019-10-07 13:37] #1212 closed

[2019-10-07 23:37] eonarheim opened #1276 "Remove obsolete .extend() semantics in Excalibur"
### Context
Browsers natively support ES6 classes, there is no need for a custom inheritance scheme in Excalibur. For any future down level support we should point people to tools like babel/TypeScript.

### Proposal

Remove these lines of code
and any associated tests or documentation around it.
https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Class.ts#L60-L122

[2019-10-08 00:14] eonarheim opened #1277 "Add utility to get/set ex.Vector size"
### Context
It would be useful to set the magnitude of a vector, this allows easy scaling or capping at a maximum value. This is especially useful in physics simulations.

### Proposal

I propose something like the following (there is probably a more efficient method of changing the size of the vector)

[code]

Usage:

[code]

[2019-10-08 09:08] Guzzler commented on #1276
Hey I would like to claim this. WIll make a PR soon!

[2019-10-08 19:58] Guzzler commented on #1276
This has been completed in the above PR and can be reviewed. Hope this helps! @eonarheim

[2019-10-08 22:27] #875 closed

[2019-10-08 22:39] #548 closed

[2019-10-08 23:03] eonarheim opened #1281 "Log limit @obsolete decorator"
### Context
Currently the `@obsolete` decorator will log every time a method, getter/setter, or class is called. This can cause the browser to lock up, or test result logs to be filled with obsolete messages.

### Proposal
Log limit the `@obsolete` decorator so that the same message from a method can only be logged 5 times.

[2019-10-09 06:23] saahilk commented on #1277
Hi, I'd like to work on this issue.

[2019-10-09 12:00] eonarheim commented on #1277
@saahilk All yours! I've added the community in-progress label for you

[2019-10-09 12:06] #1276 closed

[2019-10-09 12:58] saahilk commented on #1277
@eonarheim Alright let me get started then!

[2019-10-09 13:21] saahilk commented on #1277
@eonarheim Is there a doc where I can find how to setup the environment? I only found [this](https://github.com/excaliburjs/Excalibur/blob/master/.github/CONTRIBUTING.md). Also could you point me to the files I should look through to get started?

[2019-10-09 13:26] eonarheim commented on #1277
@saahilk Let me know if this doesn't cover everything https://github.com/excaliburjs/Excalibur#environment-setup, please let me know if there are any gaps in the readme 👍

[2019-10-09 13:26] eonarheim commented on #1277
We'll want to fix the readme if any steps are ambiguous, missing, wrong, or poorly written

[2019-10-09 16:33] chris-bingham commented on #395
Thanks for this @eonarheim, my research led me to the same plugin :)

[2019-10-16 11:30] saahilk commented on #1277
@eonarheim Hi which files do I look at to start with?

[2019-10-17 14:41] #1214 closed

[2019-10-19 14:49] eonarheim opened #1292 "Update TypeScript to 3.6.4"
### Steps to Reproduce
Renovate cannot automatically update TypeScript to 3.6.4 due to an incompatibility with the `@types/nodes` peer dependency, see #1246

### Expected Result
It should be possible to upgrade to latest TypeScript

### Actual Result
Type error

### Environment
N/A

### Current Workaround
None

[2019-10-19 15:03] eonarheim opened #1294 "Excalibur does not respond to browser events when embedded in an iframe"
### Steps to Reproduce
See https://github.com/excaliburjs/Excalibur/pull/1248

Embed a small excalibur game in an iframe

### Expected Result
Excalibur should respond to browser key events and other events when embedded

### Actual Result
Excalibur does not capture these events

### Environment

- browsers and versions: N/A
- operating system: N/A
- Excalibur versions: master

### Current Workarou

[2019-10-19 18:51] #1294 closed

[2019-10-20 10:39] saahilk commented on #1277
@eonarheim Do I keep the existing magnitude function marking it as obsolete or just remove it adding the size() function?

[2019-10-20 13:39] eonarheim commented on #1277
Good question, lets keep the existing magnitude function with an `@obsolete` in the JSDoc comment. We'll remove it in the future v0.25.0 release.

[2019-10-22 02:49] kamranayub opened #1299 "Using Scene.camera.pos.setTo doesn't work"
### Steps to Reproduce

In your game, place the following code before `game.start()`:

[code]

### Expected Result

It should center camera in game coordinates

### Actual Result

It remains in its default position

### Environment

- browsers and versions:
- operating system:
- Excalibur versions:
- (anything else that may be relevant)

`master`, see `sandbox\tests\anchors\anchors.ts` for an exam

[2019-10-22 12:38] saahilk commented on #1277
Hi @eonarheim the comments in the usage you have mentioned in the above issue is incorrect. When you set vel.size=13 the unit vector is (0.6, 0.8) and the scaled vector will be (7.8, 10.4) and not (5, 12).

[2019-10-23 12:17] saahilk commented on #1277
@eonarheim Could you check the modified pull request [here](https://github.com/excaliburjs/Excalibur/pull/1298).

[2019-10-23 12:33] #1277 closed

[2019-10-24 01:50] #1299 closed

[2019-10-28 14:19] MaanasArora commented on #1092
Can I work on this issue?

[2019-10-28 14:28] eonarheim commented on #1092
@MaanasArora All yours! I've put the community in-progress label on the issue. Please open a draft PR as soon as you can.

[2019-10-28 22:35] djcsdy opened #1309 "Travis builds require GH_TOKEN to be set for no good reason"
### Steps to Reproduce
 1. On GitHub, fork Excalibur to your own account or to an organization other than excaliburjs.
 2. Commit some minor change to trigger a Travis CI build.

### Expected Result
Travis CI should successfully build Excalibur.

### Actual Result
Build scripts complain that `GH_TOKEN` is not set and exit, causing the build to fail. This is annoying because it makes it difficult f

[2019-10-29 12:16] #1309 closed

[2019-10-30 14:09] #1281 closed

[2019-10-30 21:06] djcsdy opened #1317 "Sound starting volume behaves incorrectly"
### Steps to Reproduce
[code]

### Expected Result
Sound plays at 10% gain.

### Actual Result
 * On platforms that support Web Audio: Sound starts playing at 100% gain, then ramps down to 10% over the course of around 0.2 seconds.
 * On other platforms: Sound plays at 10% gain as expected.

### Environment
- browsers and versions: Chrome 77
- operating system: Windows 10
- Excalibur versions: 0.2

[2019-10-30 21:11] eonarheim commented on #1317
@djcsdy Interesting, good find. I wonder if there is something wrong with how the audio nodes are setup at constructor time with `setValueAtTime` probably a misunderstanding of the WebAudio API

![image](https://user-images.githubusercontent.com/612071/67899221-d65d8a80-fb2f-11e9-9c20-3f9aec7b04f1.png)

[2019-10-30 21:12] djcsdy commented on #1317
@eonarheim I found the cause, I’m about to submit a PR.

[2019-11-02 10:48] MaanasArora commented on #1092
@eonarheim I have created a draft PR—sorry for the time taken! I was making sure I did everything correctly (I'm new to open source)

[2019-11-05 02:06] #1317 closed

[2019-11-05 02:22] #839 closed

[2019-11-07 08:53] Darker7 opened #1324 "Massive overuse of private modifiers"
## Context

I was trying to do more complex things with sprites but the API didn't provide me with what I wanted, so I decided to take a look at the source code to try and see if I could find some workaround by copying and changing some of excalibur's code, where I found that most of what I want would already be possible if I simply extended Sprite were it not for the fact that all of it is locked

[2019-11-08 02:43] jedeen commented on #1324
Thanks for opening an issue! Could you please describe your use case for modifying Sprites? It would make it easier for us to help if we a bit more context. If there’s functionality that’s currently missing or unavailable from the API that makes sense for us to provide, we’d love to hear about it!

We strive to make Excalibur reasonable to use and extend, and API accessibility helps manage those g

[2019-11-08 14:54] MaanasArora commented on #534
Can I work on this feature?

[2019-11-08 14:56] eonarheim commented on #534
@MaanasArora all yours! I've added the community in progress label.

Take a look at the other existing `CameraStrategy` implementations for an example of how to proceed.

[2019-11-09 05:25] #1092 closed

[2019-11-09 05:35] #1191 closed

[2019-11-09 05:35] #1195 closed

[2019-11-09 05:37] eonarheim commented on #1292
Closed with #1293

[2019-11-09 05:37] #1292 closed

[2019-11-12 08:48] MaanasArora commented on #534
I'm sorry; could I have a bit of clarification as to what is exactly required? By inching forward on a path, do you mean an arbitrary vector path? What do you mean by the edges of the screen? I tried researching the relevant mario levels but couldn't pinpoint the behavior you mentioned.

[2019-11-13 12:48] eonarheim commented on #534
Hi @MaanasArora Apologies the issue is not written very clearly. This issue doesn't have a proposed api either.

The idea behind this issue is to create a new `CameraStrategy` that will allow cameras to follow a pre-set path (using vectors) at some velocity. Similar to some of the games on this list https://tvtropes.org/pmwiki/pmwiki.php/Main/AutoScrollingLevel?from=Main.FixedScrollingLevel

Defin

[2019-11-14 14:09] eonarheim commented on #534
It may be nice to know when the camera is done following the path and return a promise that resolves when `followPath` is complete

[2019-11-24 16:37] eonarheim commented on #395
@chris-bingham Are you still working on this? If you need any help let us know.

[2019-11-24 17:01] kamranayub opened #1340 "Shorthand `vec()` for initializing vectors"
### Context

Consider the following case that will be done a lot within an Excalibur codebase:

[code]

Having to constantly type `new Vector` is a bit of a drag since it'll be typed a LOT.

### Proposal

We were discussing some alternatives in person, such as a shorthand function:

[code]

~~Or maybe a tuple type:~~

[code]

[2019-11-24 19:07] gargrave commented on #1173
I obviously totally slipped on this, and my apologies for that. I got tied up with other things and then completely forgot about this request. :(

That said, it looks like you have updated this accordingly in the meantime, so I will close this issue. Thanks, and sorry for any inconvenience!

[2019-11-24 19:07] #1173 closed

[2019-11-25 09:25] chris-bingham commented on #395
@eonarheim I do still intend to do this, but have been absolulely stacked since i took it on. If anyone else wants the ticket they're welcome to it but if its not been done when I get some time I'll do it :)

[2019-11-30 10:55] jurca commented on #1213
Hello,

would you be willing to accept pull requests for this issue? I would like to use Excalibur in my project, I do prefer full strictness in my TS projects, and I do like a challenge :).

If you would agree to this, I propose enabling one strictness option at a time, fixing all issues it reveals, and then moving to enabling another until we'll be able to enable the `strict` flag.

[2019-11-30 23:46] eonarheim commented on #1340
Lets create an exported function in `Algebra.ts` to do the `vec(...)` shorthand for now, the tuple will take a larger lift in the engine.

Something like this, with some tests
[code]

[2019-11-30 23:50] eonarheim commented on #1213
Hi @jurca,

Thanks for asking! Unfortunately no, we want a core team member to make this change.

This issue is very involved it will touch nearly every file in Excalibur. It potentially affects core engine behavior when resolving strictness.

We do have a new issue for vector shorthand if you are interested in getting started there https://github.com/excaliburjs/Excalibur/issues/1340

[2019-12-01 14:08] lordnox opened #1345 "class Pointer does not have class Pointers events"
### Steps to Reproduce
[code]
### Expected Result
I did expect that a specific Pointer does have the PointerEvents associated

### Actual Result
PointerEvents are not correctly Typed for class "Pointer"

### Current Workaround
See code above

[2019-12-01 14:23] eonarheim commented on #1345
@lordnox Thanks for the find! This was an oversight during a recent refactoring. We'll get this resolved asap.

[2019-12-01 17:22] jurca commented on #1213
@eonarheim

Thank you for you kind reply. I understand and respect your reasons for this.

Well, if that's what it takes to get to the fun stuff... here you go: https://github.com/excaliburjs/Excalibur/pull/1346 :)

[2019-12-01 17:48] #1340 closed

[2019-12-01 17:56] eonarheim commented on #1324
Will open when we have more context about the issue.

[2019-12-01 17:56] #1324 closed

[2019-12-03 19:30] #1345 closed

[2019-12-03 19:31] #1258 closed

[2019-12-04 19:50] jurca opened #1348 "Add chunk system for tile maps with procedural content generation support"
### Context
Some projects require a much larger map and/or would prefer to use procedural content generation for seemingly infinite worlds.

### Proposal
Implement an extension of the `TileMap` class that manages relatively small rectangular chunks of tiles, allowing for the required chunks to be generated on-demand once they are needed.

Chunks size, the maximum expected size of the world and the

[2019-12-04 21:47] kamranayub commented on #1348
This would be an awesome feature 🤘

[2019-12-08 21:33] jurca commented on #1348
Just to give you a status update, I have started to work on this, but I will need to do some changes to the API I proposed in this issue:

1. The `ChunkSystemTileMap` cannot extend the `TileMap` class due to events fired by `TileMap`. I will, however, do my best to have the public API match the API of `TileMap`
2. An `emptyCell: Cell` option will be required in the `ChunkSystemTileMapArgs` so that

[2019-12-12 20:55] jurca commented on #1348
@kamranayub I've started a work-in-progress PR to get your feedback on the code so far here: https://github.com/excaliburjs/Excalibur/pull/1355

Any feedback would be greatly appreciated :).

I'll keep working on what's missing in the meantime whenever I have the time.

[2019-12-22 16:17] eonarheim opened #1361 "Excalibur ECS Implementation Goals and Guide"
## Goals

* Break behavior out of Actor and other types into Components/Systems for:
   * Maintainability of the code base
   * Testability of the code base (new components/systems need high test coverage)
   * De-duplication
   * Tree shaking ability
* Excalibur should where possible maintain
   * The easy to use property
   * It should "just work" property
   * It should not surprise users
* Goa

[2019-12-26 21:44] eonarheim opened #1363 "Scene constructor documentation is confusing/inconsistent"
### Steps to Reproduce
https://codesandbox.io/s/excaliburjs-reproduction-01-pezj9

[code]

### Expected Result

The typings for new ex.Scene indicate that it requires an Engine object to be passed in, yet it actually does not. Why is this? I see that the argument is labeled in the Typescript idiom which indicates an unused variable (leading underscore).

### Actual Result

Engine is not actually r

[2019-12-26 21:48] eonarheim opened #1364 "Label's non-object constructor does not seem to respect font family"
### Steps to Reproduce
Build a font using the non-object configuration constructor.

### Expected Result

The `Label` constructor (non-object configuration) accepts a string for the 4th argument fontFamily which the documentation indicates (https://github.com/excaliburjs/Excalibur/blame/master/src/engine/Docs/Labels.md#L11) can be a font size and a font family yet whenever I use a font size there

[2020-02-09 16:12] DaVince opened #1417 "Play button position cannot be set with CSS"
### Steps to Reproduce
Override the load button CSS by giving it the following properties:
[code]

### Expected Result
The button should be positioned at 25 pixels from the top of the game canvas.

### Actual Result
The  button is positioned 25 pixels down from the `_playButtonRootElement`, which is given a specific position and size, so the positioning happens relative to this element and the CSS

[2020-02-09 19:12] DaVince opened #1418 "Excalibur crashes when using tilemaps and actors together"
### Steps to Reproduce
[code]

### Expected Result
The map should display, along with any defined actors.

### Actual Result
The entire browser tab freezes and needs to be force closed.

### Environment
- browsers and versions: Chromium 79.0.3945.130, Firefox 72.0.2
- operating system: Ubuntu 19.10
- Excalibur versions: 0.23.0

### Notes
- UIActors are fine; the problem specifically seems to happe

[2020-02-09 19:24] DaVince commented on #1418
I've slightly modified the CodeSandbox sample to demonstrate the crash: https://codesandbox.io/s/excalibur-tiled-example-ev0mt

[2020-02-26 15:57] kamranayub opened #1431 "Play button is not cleaned up on stop"
### Steps to Reproduce

1. Create a game
2. Start the game
3. Stop the game

### Expected Result

Play button should disappear/be cleaned up

### Actual Result

Play button sticks around

### Environment

- browsers and versions: Chrome 79
- operating system: Mac OS
- Excalibur versions: 0.23.0
- (anything else that may be relevant)

### Current Workaround

Target HTML element manually and delete

[2020-02-27 14:10] kamranayub opened #1433 "Bug: getBounds() does not take scale into account"
I expected `Actor.getBounds()` / `Actor.body.collider.bounds` to take scaling into account. I am not sure if that _is_ what it should do but that's what I expected.

### Steps to Reproduce

1. Create an actor, 512x512, scale 2, center anchored 0,0
2. Call `actor.getBounds().left`

https://codesandbox.io/s/pedantic-ishizaka-pyjzn

### Expected Result

Should be `-1024`

### Actual Result

Returns `

[2020-02-27 14:22] kamranayub commented on #1433
Nevermind, it was an issue between the chair and keyboard. `-512` is correct (`1024` total width). 😬

[2020-02-27 14:22] #1433 closed

[2020-02-27 16:29] kamranayub opened #1434 "Bug: Loading an already-loaded resource throws Promise resolve error"
Using Excalibur within an app that has routing, when we route back to homepage the game is restarted but without a hard refresh (browser refresh). Excalibur starts but reuses an existing resource dictionary, and those resources have already been loaded previously.

### Steps to Reproduce

1. Set up loader
2. Add a resource (`Texture`)
3. Call `game.start(loader)`
4. Create a new game
5. Call `game

[2020-02-28 02:54] kamranayub opened #1439 "Bug: Engine pointer events are not emitted"
I was trying to subscribe to canvas pointer events via `engine.input.pointers` but it seems that they are no longer being emitted as I would expect

### Steps to Reproduce

[code]

https://codesandbox.io/s/pedantic-ishizaka-pyjzn

### Expected Result

Console log should display when canvas is clicked anywhere

### Actual Result

No event is emitted

### Environment

- browsers and versions: Chrome

[2020-02-28 04:47] kamranayub opened #1442 "Bug: Util.extend deep doesn't do what you expect"
I was writing a spec for `Util.extend` and noticed passing `deep` param wasn't actually doing a deep merge, it was just doing a nested shallow merge...

I think we could also evaluate whether we need this utility anymore now with ES2015 classes and spread support. I think this was mainly to enable vanilla JS `ex.Actor.extend(...)` syntax which can be replaced with proper ES2015 classes.

### Steps

[2020-02-28 15:25] kamranayub commented on #1439
Quick update to this: it's still an issue in master but only reproducible when you try to attach an event handler during Scene.onInitialize

[2020-02-28 16:02] eonarheim commented on #1439
Good find, this feels like a order of operations issue in the initialize
lifecycle

On Fri, Feb 28, 2020 at 9:25 AM Kamran Ayub <notifications@github.com>
wrote:

[2020-04-09 03:36] kamranayub opened #1476 "Sounds do not stop playing when game is stopped"
### Steps to Reproduce

1. Add sound
2. Play sound (loop for effect)
3. Call `game.stop()`

### Expected Result

The game should stop playing _and_ subsequent calls to `mySound.play()` should not begin playing.

### Actual Result

The sound keeps playing and you can keep calling `mySound.play()` to play more.

### Environment

- browsers and versions: All
- operating system: Windows
- Excalibur ve

[2020-04-11 03:58] kamranayub opened #1484 "Deploy Storybook and set up PR previews"
Deploy Storybook to `/examples` and set up `examples` repo.

- [x] Set up examples GH repo with GH pages on `master` set
- [x] Set up Travis step using `storybook-deployer` on `master` builds to deploy to `examples`
- [x] ~~Set up Travis step to build Storybook on PR builds~~ Netlify will do this
- [x] Set up Netlify Deployment Previews to work with PRs
- [x] Verify things are peachy 🍑

[2020-04-11 13:33] Qarasina opened #1486 "MMORPG Loading textures"
Hi, I'm trying to create a javascript MMORPG project via Excalibur right now, the main concern being that I'm not sure if it's possible to load the textures as we progress through the game? MMORPGs often use a lot of textures, so I don't feel like asking people to load everything and keep in mind from the start

[2020-04-11 14:12] eonarheim opened #1487 "Remove audio tag implementation"
### Context
We are dropping support for older browsers, with the wide-spread support of the WebAudio API the need for our own HTML5 tag based implementation of classes is gone.

### Proposal
* [ ] Remove `AudioTagInstance`
* [ ] Update `AudioInstance` implementation to use WebAudio only (perhaps even simplify)
* [ ] Update any affected tests to remove isseus

[2020-04-11 15:19] kamranayub commented on #1487
We should also have a wider IE11 tracking / planning deprecation issue, as this will effectively end support for IE11.

[2020-04-12 12:45] Qarasina opened #1490 "Draw left face and right face"
[code]

Error :
[code]
But why ?

[2020-04-12 15:22] eonarheim commented on #1490
Hi @Qarasina, in the current drawing system to add a drawing to an Actor it must be a `Drawable` type. I agree that `Texture` does seem like it should work, it has a slightly different responsibility to reference a loadable bitmap. `Sprite` is a drawable view into a bitmap (Texture). We are making some changes [soon in v0.24](https://github.com/excaliburjs/Excalibur/issues/1161)  to make this a be

[2020-04-12 15:27] eonarheim commented on #1486
Hi @Qarasina, textures can be loaded incrementally without using the main loader by calling the [`Texture.load()`](https://excaliburjs.com/docs/api/v0.23.0/classes/_resources_texture_.texture.html#load) which returns a promise like that resolves when the texture is loaded and the bitmap is ready for use. It is important to be sure a texture [is loaded](https://excaliburjs.com/docs/api/v0.23.0/clas

[2020-04-12 15:52] DaVince commented on #1418
I have done further testing by writing a map loader for an entirely unrelated map format (specifically, some entirely inconsequential DOS game which stores its maps as text files).

End result: the culprit does not seem to be the Tiled map loader, but possibly something in Excalibur's code itself that is causing the browser to lock up.

I'd like to try and contribute to the project and will be hun

[2020-04-12 15:59] eonarheim commented on #1418
Thanks for digging into this!

Master is the best place to work against for fixes, if you want to test a
specific version of excalibur when released we have git tags that
correspond to the release number.

Please open a PR as soon as you can to discuss your fix/findings

Thanks again!

On Sun, Apr 12, 2020 at 10:53 AM Vincent Beers <notifications@github.com>
wrote:

[2020-04-12 20:12] kamranayub commented on #1484
Excalibur examples are live now: https://excaliburjs.com/examples/

[2020-04-12 20:26] kamranayub commented on #1484
Deploy previews working: https://deploy-preview-1474--excaliburjs-examples-preview.netlify.com/?path=/story/audio--playing-a-sound

[2020-04-12 20:26] #1484 closed

[2020-04-12 23:07] DaVince commented on #1418
Found the method that caused the lockup: stub out method `TileMapImpl.collides()` and the browser doesn't freeze anymore.

Will attempt a fix and send a PR tomorrow.

[2020-04-13 08:35] Qarasina commented on #1490
Thanks :)

[2020-04-13 08:35] #1490 closed

[2020-04-13 08:36] Qarasina commented on #1486
Thanks :)

[2020-04-13 08:36] #1486 closed

[2020-04-13 13:23] #1476 closed

[2020-04-14 13:20] Qarasina opened #1492 "Why spritefont crash ?"
I have this code but it just tells me that the "new SpriteFont" line crashes but no more information.

[code]

[2020-04-15 12:24] #1418 closed

[2020-04-15 12:29] DaVince commented on #1418
https://github.com/excaliburjs/excalibur-tiled/issues/87 is a duplicate of this and can also be closed :)

[2020-04-16 14:47] DaVince commented on #626
I'm running into a weird collision bug between an Actor using physics and solid tiles in a TileMap. Specifically, the velocity doesn't seem to be reset so an Actor tries to force their way around the tilemap collisions until they fall through.

I imagine this issue is related, as it would probably fix the bug. Or am I better off filing a separate bug for now, considering implementation of this see

[2020-04-16 17:44] Osthekake opened #1493 "Pointer events on child actors after moving"
I am having a problem with pointer events on child actors, where the area that triggers them, seem to be based on the original position of the child, rather than their current position.

I have this problem reliably in a game I made for a jam way back that I have recently been trying to refurbish. I am pretty certain that this is a problem with excalibur, but I have not attempted making a smallest

[2020-04-17 09:59] #1492 closed

[2020-04-17 10:02] rayandfz opened #1497 "Tilemap bug"
[code]
Error :
[code]

I use : https://github.com/excaliburjs/excalibur-tiled

[2020-04-17 15:15] DaVince commented on #1497
I don't know if this will solve your problem, but you don't have to require the json file. Instead, try passing the path to the json file to TiledResource:

[code]

[2020-04-17 16:15] DaVince opened #1498 "Allow for camera constraints"
### Context
Right now, a camera can move anywhere and everywhere. In the context of showing a map, this will mean that when bound to an Actor, the camera moves beyond the limits of the map and shows sudden emptiness.

### Proposal
I propose to add an extra constraints property to the CameraStrategy class, that, when set, will stop the camera once it goes beyond the defined constraints.

Example:
[

[2020-04-17 16:56] Qarasina commented on #1497
Hello, ty but i've another error :
[code]

[2020-04-17 17:01] DaVince commented on #1497
That's an unrelated error. You can't run Excalibur directly from a local HTML file -- you need to host it on some sort of local server. This has to do with restrictions on local files that are blocked by browsers for security reasons.

[2020-04-22 12:53] Xstoudi commented on #1015
Any update ?

[2020-04-24 07:48] DaVince commented on #1497
Hi @Qarasina, did you manage to get things working? 😃

[2020-04-24 21:30] jedeen opened #1503 "Add Conventional Commit tooling"
### Context
Currently, we have guidelines for how to format commit message in general, but do not have enforced standards for how to add commit metadata (is this a breaking change, is this a bugfix, other changes adjacent to semantic versioning concerns, etc.) We stopgap some of that with Github labels, but those do not exist in the Git commit history.

### Proposal
- enforce the Conventional Comm

[2020-04-25 00:31] kamranayub commented on #1503
We use a GitHub app called Semantic Merge I think that ensures PR titles
are consistent with CC and then can auto merge them. This would be great!

On Fri, Apr 24, 2020, 4:31 PM jedeen <notifications@github.com> wrote:

[2020-04-25 00:31] kamranayub commented on #1503
Here it is:

https://github.com/zeke/semantic-pull-requests

On Fri, Apr 24, 2020, 7:31 PM Kamran Ayub <kamran.ayub@gmail.com> wrote:

[2020-04-25 00:40] jedeen commented on #1503
Other options to consider/combine:

- https://github.com/conventional-changelog/commitlint
- https://github.com/conventional-changelog/conventional-changelog
- https://www.npmjs.com/package/semantic-release
- https://www.npmjs.com/package/standard-version

[2020-04-25 20:04] thomergil opened #1504 "Bad link in docs"
On the main docs page [https://excaliburjs.com/docs/api/edge/?no-cache=1] there is a link to "Working with Scenes", currently pointing at [https://excaliburjs.com/docs/api/edge/modules/_index_.html#scene], which should probably be pointing at [https://excaliburjs.com/docs/api/edge/classes/_scene_.scene.html]

[2020-04-26 02:40] eonarheim commented on #1504
@thomergil Thanks for spotting, seems like typedoc changed a few months back and links started breaking

[2020-04-26 02:53] #1504 closed

[2020-04-26 02:55] eonarheim commented on #1497
@Qarasina can you post a small example of your .json file from tiled that fails? Or link to a repo with a reproduction of the issue?

[2020-04-26 03:00] eonarheim commented on #1498
I think this is a great idea, it may be possible to create a new implementation of the `CameraStrategy` interface to bind the camera viewport to a bounding box area.

[2020-04-26 03:25] eonarheim commented on #1504
Looks like the doc site links are working as expected now, let me know if you see any other oddness 👍

[2020-04-26 12:43] DaVince commented on #1498
Good thinking, that's much cleaner. I'm implementing such a strategy right now and will start a merge request for it.

[2020-04-26 14:10] jedeen opened #1508 "Change dependency renovation bot commits to use Conventional Commit format"
### Context
It would be helpful if our Renovate (and Dependabot, in some of our other repositories) configurations created commits that followed the Conventional Changelog specificiation, because we will eventually need to update the commit messages once issue #1503 is implemented.

### Proposal
Update our dependency renovation bot commits to use Conventional Commit format.
- change the commit pre

[2020-04-26 21:44] thomergil opened #1509 "Timer documentation is incomplete"
Timer documentation [https://excaliburjs.com/docs/api/edge/classes/_timer_.timer.html] would greatly benefit from a sample that, at the very least, illustrates that it needs to be added to a scene before it does anything.

[2020-04-26 21:48] thomergil commented on #1509
For example, what unit is `interval` in `TimerOptions`? All other members could use some explanation, also. Thank you.

[2020-04-26 22:23] Carghaez commented on #1497
Hello guys, I don't know if it is related to the same cross-origin issue, but I notice that on https://codesandbox.io/ if you try to use a version of excalibur above 0.23.0 (i.e. 0.24.x) you get
<< Error: Blocked a frame with origin "...." from accessing a cross-origin frame. >>

I admit that this is a bit frustrating because I often used Excalibur and codesanbox to show my students the potential

[2020-04-27 03:22] kamranayub opened #1510 "Embedding a page with Excalibur in an iframe from another domain results in an exception"
### Steps to Reproduce

On Slides.com, try to embed a page with Excalibur running using the Iframe feature.

For example, https://excaliburjs.com/ludum-46/

### Expected Result

The game should start.

### Actual Result

You get an exception due to Keyboard (I think) attempting to access the parent frame (which is cross-origin) and fails.

![image](https://user-images.githubusercontent.com/563819/

[2020-04-27 03:24] kamranayub commented on #1510
Related to https://github.com/excaliburjs/Excalibur/issues/1294

How should we handle cross-origin embeds? 🤔

[2020-04-27 03:27] kamranayub commented on #1497
@Carghaez I think this is what I just filed #1510

[2020-04-27 08:02] Qarasina commented on #1497
Hello

I did have a web server up and running, though.

JSON File : https://hastebin.com/exazezuzab.json

[2020-04-27 13:09] thomergil commented on #1509
It might also be worth mentioning in the documentation that `Timer` is computationally expensive. A version of breakout that allows hundreds of simultaneous balls becomes unplayable if there is a `Timer` with each of them. Optimizing the `Timer` away (e.g., when the interval is 0, preventing a needless `Timer` to be set) makes a huge difference.

[2020-04-28 04:05] kamranayub opened #1512 "Proposal: Add KeyboardScope option"
### Context

There are some issues using Excalibur in cross-origin iframes, see #1294 and #1510

What happens is that event listeners cannot listen on the top frame. In order to provide a fallback, we specific `window` as the target to listen to key events _but that doesn't work either_ (according to our code, it never did).

There are some approaches we can try that will enable keyboard events wh

[2020-04-28 07:25] Xstoudi opened #1513 "Test fail on fresh clone"
### Steps to Reproduce
[code]
### Expected Result
Run without failing

### Actual Result
16 FAILED

### Environment

- browsers and versions: test runner
- operating system: Windows 10
- Excalibur versions: master branch

[2020-04-28 07:33] Xstoudi commented on #1513
Ok seems, like it is flacky tests : images diff often fail (between 96% and 99.50%) because it attempts 99.5% match.

[2020-04-28 09:36] Xstoudi commented on #390
@eonarheim I can implement the flags.
Considering your implementation, it will create 6 functions (two for each color blindness). Could we consider doing the following:
[code]

[2020-04-28 12:21] eonarheim commented on #1513
@Xstoudi which tests in particular are failing for you? Definitely not ideal if tests are failing on one machine and not another.

[2020-04-28 12:24] #1510 closed

[2020-04-28 12:28] eonarheim commented on #1509
@thomergil Thanks for the note, this is definitely a piece of documentation that can be made better with more explanation and examples.

We've had some discussions offline about building a more lightweight timer (similar to setTimeout) to work with engine elapsed time.

[2020-04-28 12:56] thomergil commented on #1509
For what it's worth, my general observation after using Excalibur for a week is that it is very well designed and thought through, the architecture and interfaces are clean and well designed. That being said, in 2 out of 3 cases I find myself have to dig into the (very readable!) source code to understand what it does and how I'm supposed to use it. If you are looking for less frustration and wide

[2020-04-28 13:46] eonarheim commented on #1510
@Carghaez We just published version v0.24.2 to address the cross origin

Serving from unpkg works in codepen again
https://unpkg.com/excalibur@0.24.2/dist/excalibur.min.js

https://codepen.io/eonarheim/pen/MWaoGyd

[2020-04-28 13:58] eonarheim commented on #390
@Xstoudi That looks great, proceed :+1:

[2020-04-28 14:44] Xstoudi commented on #1513
Ok, on Ubuntu everything seems to work correctly.

[2020-04-28 14:44] #1513 closed

[2020-04-28 16:08] eonarheim commented on #1513
@Xstoudi mine seem to pass on win10 running in chrome headless, what build do you have?

[2020-04-28 16:13] eonarheim commented on #1513
Run `winver.exe` to output build number

[2020-04-28 20:01] Xstoudi commented on #1513
Windows 10 - Version 1909. I figured out that `npm install` wasn't downloading Puppeteer's Chromium binary. More exactly, it downloads it but it doesn't unzip it.

[2020-04-30 12:27] #390 closed

[2020-05-01 16:25] DaVince opened #1527 "Allow scaling drawable object by absolute resolution"
### Context
Drawable objects (like actors) can be scaled by a ratio, but not by an exact pixel value. In some cases, I'd like to be able to set the size of an actor to something very specific (like the size of the game screen).

### Proposal
It would be nice if we could not just read, but also set the `drawWidth` and `drawHeight` properties. Excalibur should scale the graphical content appropriate

[2020-05-01 16:30] DaVince opened #1528 "Allow pixel-perfect screenshot capturing"
### Context
When using `Engine.screenshot()`, you get a screenshot of the game at its canvas size.

If, for any reason, someone would want to use this function to reuse the image data in-game, the contents returned by screenshot() cannot be used when the canvas is scaled in any way. This includes the situation where on HiDPI displays the canvas is naturally upscaled.

### Proposal
I propose that h

[2020-05-01 16:59] DaVince opened #1529 "Opacity on drawables does not propagate to children"
### Steps to Reproduce
- Create an Actor or ScreenElement. Add some children to it.
- Change the opacity of the parent object.

### Expected Result
I expected the opacity of all children objects to be changed accordingly to its parent.

### Actual Result
The children display at full opacity regardless of the parent.

### Environment
- browsers and versions: N/A
- operating system: N/A
- Excalibur

[2020-05-04 02:24] kamranayub commented on #635
This also applies to `moveTo`, `moveBy`, and `easeTo` (the first time it repeats)

[2020-05-04 03:15] kamranayub opened #1533 "bug: Automated release tooling does not add GH release assets"
The automated release script isn't adding the dist files automatically to tagged releases in GitHub:

![image](https://user-images.githubusercontent.com/563819/80933955-728c7680-8d8b-11ea-8e8d-3eb02944db3c.png)

(I added the JS manually to 0.24.2)

Should prioritize this.

[2020-05-06 15:43] DaVince opened #1535 "Actor without a drawing doesn't set anchor properly"
I use some actors without graphics as trigger areas for the game to act on, but they don't get positioned properly.

### Steps to Reproduce
Try the following code:

[code]

### Expected Result
The full actor should be visible, with the very top-left of the actor displaying at position 0,0.

### Actual Result
Only a quarter of the actor is visible. The anchor is ignored and so 0,0 is where the midd

[2020-05-06 15:47] DaVince commented on #1535
Expected result:
![image](https://user-images.githubusercontent.com/105533/81198288-976a2f00-8fc1-11ea-9169-edaee13587c7.png)

Actual result:
![image](https://user-images.githubusercontent.com/105533/81198021-48bc9500-8fc1-11ea-8d22-6cf01dd2b495.png)

[2020-05-06 16:46] kamranayub commented on #1535
Yeah that's a regression for sure, yikes!

On Wed, May 6, 2020, 10:47 AM Vincent Beers <notifications@github.com>
wrote:

[2020-05-06 18:17] DaVince commented on #1497
If I'm not mistaken this is now solved in 0.24.2 through issue #1510.

[2020-05-07 04:26] DaVince commented on #1533
Does this include the release notes? Both are missing for 0.24.2 on both this repo and the dist repo.

[2020-05-07 11:33] eonarheim commented on #1533
I think it should include both the dist files and release notes

[2020-05-07 23:22] kamranayub commented on #1529
This may turn out to be a non-issue once we remove child actors soon. There's a lot wrong with them 😬 @eonarheim thoughts?

[2020-05-07 23:41] eonarheim commented on #1529
We plan to remove child actors soon in favor of the new graphics api for heirarchical drawing. I'm not sure it makes sense to fix this.

[2020-05-07 23:42] eonarheim commented on #1529
A case could be made to fix it for now until the new api is ready, thoughts?

[2020-05-08 05:43] DaVince commented on #1529
I'd say only if the time is worth the effort. I'm able to work around it right now by looping through all the children and setting their opacity to the parent's.

If the feature is going away anyway it makes more sense for me to stop using them and eventually switch my HUD class, which makes heavy use of the feature, to use the planned GraphicsGroup and Layer features.

[2020-05-09 01:15] jedeen opened #1536 "Convert Excalibur Particle Tester into a Storybook story"
### Context
We currently have a particle system demo in [a separate repository](https://github.com/excaliburjs/particle-tester). Now that we support Storybook, we can import it into the main repo as a Storybook story.

### Proposal
- convert the existing particle system demo into a Storybook story
  - add all of the sliders in the old demo with the Storybook knobs plugin
- mark old particle tester

[2020-05-09 04:13] jedeen opened #1538 "Update the Code of Conduct to Contributor Covenant 2.0"
### Context
Our Code of Conduct based on version 1.4 of the [Contributor Covenant](https://www.contributor-covenant.org/). The newest version (2.0) includes:
- updated examples of positive community behavior
- updated examples of unacceptable behavior
- clarifications about the scope of the Code of Conduct
- updates to the Enforcement policy

### Proposal
1. review [version 2.0 of the Contributor

[2020-05-10 16:00] eonarheim commented on #1533
Partially fixed with 086b970f

We'll need some more robust automation that @jedeen is working on to get the full release notes

[2020-05-11 13:44] #1508 closed

[2020-05-11 21:03] thomergil opened #1541 "Actor documentation points to the wrong page"
On page https://excaliburjs.com/docs/api/edge/?no-cache=1 , "Working with Actors" should be pointing at https://excaliburjs.com/docs/api/edge/classes/_actor_.actor.html but it's not.

[2020-05-11 21:04] thomergil commented on #1541
The same bug is true for "Working with Scenes".

[2020-05-12 13:09] #1498 closed

[2020-05-12 13:20] eonarheim opened #1542 "Setting up Colliders in Actor onInitialize() does not work"
### Steps to Reproduce
Setup a new collider in an actor onInitialize and collide with another actor
[code]

### Expected Result
Precollision event should fire

### Actual Result
Precollision event does not fire

### Environment
- operating system: N/A
- Excalibur versions: master

### Current Workaround
Moving the collider setup to the constructor seems to work around the issue

See: ttps://groups

[2020-05-12 13:43] DaVince commented on #1498
Example usage:

[code]

[2020-05-12 23:18] thomergil opened #1543 "Passing a Data URI to Texture constructor hangs Loader (and isLoaded() never returns true)"
If I'm reading the `Texture` constructor correctly, it should be able to handle Data URI as `path`. However, this hangs the loader forever.

[code]

Invoking `.load()` on a `Texture` object that was constructed with a Data URI never returns `true` for `.isLoaded()`.

One thing that catches my attention in `Texture`'s constructor is that it appears that:

[code]

...is called for `path` that is *no

[2020-05-12 23:20] eonarheim commented on #1543
Good find, that shouldn't happen

[2020-05-12 23:22] thomergil commented on #1543
I believe the fix might be adding `this._isLoaded = true;` in the part of the constructor that deals with a Data URI path. (Though I don't have enough understanding of the code yet whether that will resolve the hanging Loader; I have to assume that something polls all resources until `isLoaded() == true`, though?)

[2020-05-13 15:34] thomergil commented on #1543
My suggested fix does not, in fact, resolve the hanging loader problem.

[2020-05-13 15:54] eonarheim commented on #1543
I wonder if it's a missing promise resolve() that should fire when a data
URI is passed

On Wed, May 13, 2020 at 10:34 AM Thomer Gil <notifications@github.com>
wrote:

[2020-05-13 16:38] thomergil commented on #1543
I think it's there: https://github.com/excaliburjs/Excalibur/blob/master/src/engine/Resources/Texture.ts#L64

[2020-05-14 03:23] eonarheim opened #1547 "Flakey Sound test sometimes fails in CI"
![image](https://user-images.githubusercontent.com/612071/81888903-ec7ce680-9567-11ea-8b94-67e299530e05.png)

### Steps to Reproduce
Every once in a while this test will fail. I suspect the setTimeout is the source of the flakiness

https://github.com/excaliburjs/Excalibur/blob/ea301f7d009cb46a8910122a5c70aeb6698ed4a0/src/spec/SoundSpec.ts#L263-L281

### Expected Result
The test should always pass

[2020-05-14 05:27] electro75 commented on #1487
I am looking to get started on open source contribution. Shall I take this issue up?

[2020-05-14 07:02] thomergil commented on #1543
Awesome.

[2020-05-14 11:57] eonarheim commented on #1487
@electro75 all yours!

[2020-05-15 04:13] kamranayub opened #1548 "Implement Scene activation context and data passing"
### Context

Thinking about usage of scenes as navigation structures, you go between scenes almost like a page router. Typically with navigation APIs, you can pass data (like a URL or route data). In Excalibur, when you call `Engine.goToScene(sceneKey)` it might be nice to pass data to the `Scene.onActivate` hook.

### Proposal

We'd need to figure out a way to indicate to TypeScript how to type t

[2020-05-16 03:38] eonarheim opened #1549 "Opacity sprite effect is unnecessary and causes perf degradation"
### Steps to Reproduce
When adding a new drawing to excalibur it currently triggers sprite effect calculations on opacity (whether or not it needs it). Additionally there is no need to use sprite effects for opacity anymore.

![image](https://user-images.githubusercontent.com/612071/82109568-b4f37300-96fc-11ea-84ce-265733c3a922.png)

[2020-05-17 02:36] #1543 closed

[2020-05-21 14:47] eonarheim opened #1553 "Scene `onInitialize` does not fire before actor `onInitialize`"
This bug was discovered and fixed in Ludum 46

### Steps to Reproduce
Create a scene and override the `onInitialize`
Create an actor in that scene and override the `onInitialize`

Observe that the actor `onInitialize` fires before the scene's, which is unexpected and not according to the documentation

### Expected Result
Scenes must fully initialize before attempting to initialize their actors.

[2020-05-21 15:13] eonarheim opened #1555 "Actors not in Scene still receive pointer events"
This bug was found and fixed in Ludum 46

### Steps to Reproduce
* Create an actor in a scene and attach a pointer event to it.
* Remove it from the scene with `kill()`
* Click in the same area where the actor was and the pointer event still fires

### Expected Result
Pointer events should only fire on actors in scene

### Actual Result
Pointer events fire on all actors

### Environment
- browsers

[2020-05-23 01:54] #1417 closed

[2020-05-23 01:56] #1553 closed

[2020-06-07 02:02] eonarheim commented on #1538
I approve 👍 let's adopt

[2020-06-15 21:25] #1538 closed

[2020-06-15 21:28] #1555 closed

[2020-06-17 18:22] woutfeys commented on #1487
Me too! I was also thinking that this priject might be cool to work on!

[2020-06-18 22:39] #805 closed

[2020-07-11 02:24] kamranayub commented on #959
OK more now, let's take care of this!

[2020-08-08 01:50] eonarheim opened #1617 "Refactor Screen Logic to Support Independent Viewport and Resolution"
### Context
The Screen does not have a convenient single place for logic to live.

Currently it is difficult build a game that has a different resolution than the viewport, this make it difficult to build lofi art style games. Additionally the current "Fullscreen" only means dynamic aspect ratio taking up the available window, there is now the browser Fullscreen API

### Proposal

* [ ] Refactor s

[2020-08-08 02:01] #1617 closed

[2020-08-08 02:28] #1549 closed

[2020-09-05 02:25] eonarheim opened #1636 "Animation first frame glitch"
![anim-glitch](https://user-images.githubusercontent.com/612071/92295897-b2f43080-eef4-11ea-8419-8a5c48edeaea.gif)

### Steps to Reproduce
If the animation is using scaling, anchors, or rotation the first frame does not get the updated values until after the first draw causing an odd flicker.

### Expected Result
Animations should play without flickering

### Actual Result
First frame incorrect

#

[2020-09-05 02:40] eonarheim commented on #1636
GH must do some gif optimization :( the frame with the flicker is missing in the preview

[2020-09-05 02:48] #1636 closed

[2020-09-05 03:02] eonarheim commented on #1547
The flakey test returns :(

https://travis-ci.com/github/excaliburjs/Excalibur/builds/178988671#L1209

[2020-09-05 03:17] #1487 closed

[2020-09-08 11:24] DaVince commented on #1361
Nice, I've been waiting for this feature!

[2020-09-10 13:27] apaatsio opened #1638 "Velocity is always zero when using easeTo"
When using `easeTo`, the velocity of the body is not updated but it stays 0.

This behavior differs from `moveTo`. I would expect them to behave in a similar way. Moreover, the actor is clearly moving so it should have a velocity, right?

### Steps to Reproduce

See https://codepen.io/apaatsio/pen/bGpvvwr

Basically just call `this.actions.easeTo()` on any actor and observe `this.body.vel`.

### E

[2020-09-10 18:30] eonarheim commented on #1638
@apaatsio Good find, that is indeed inconsistent. Velocity is probably more ideal in general than altering position directly in the easing function...

[2020-09-12 01:25] #1638 closed

[2020-09-12 02:08] eonarheim commented on #1361
@DaVince let me know how it goes, it is missing some some convenience features at the moment. All systems need to be loaded in by hand for each Scene

[2020-09-23 00:33] eonarheim commented on #124
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:33] #124 closed

[2020-09-23 00:34] eonarheim commented on #133
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:34] #133 closed

[2020-09-23 00:35] eonarheim commented on #199
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:35] #199 closed

[2020-09-23 00:36] eonarheim commented on #206
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:36] #206 closed

[2020-09-23 00:36] eonarheim commented on #289
Closed in #1617

[2020-09-23 00:36] #289 closed

[2020-09-23 00:37] eonarheim commented on #234
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:37] #234 closed

[2020-09-23 00:37] eonarheim commented on #251
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:37] #251 closed

[2020-09-23 00:39] eonarheim commented on #339
Closed EaseTo action exists for this

[2020-09-23 00:39] #339 closed

[2020-09-23 00:41] eonarheim commented on #376
We should also allow scenes to be `.clear()`'ed as well

[2020-09-23 00:41] eonarheim commented on #408
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:41] #408 closed

[2020-09-23 00:42] eonarheim commented on #314
Closed feature already exists

[2020-09-23 00:42] #314 closed

[2020-09-23 00:45] eonarheim commented on #370
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:45] #370 closed

[2020-09-23 00:46] eonarheim commented on #551
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:46] #551 closed

[2020-09-23 00:48] eonarheim commented on #510
Closing needs more detail

[2020-09-23 00:48] #510 closed

[2020-09-23 00:49] eonarheim commented on #457
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 00:49] #457 closed

[2020-09-23 00:51] eonarheim commented on #357
Closing needs more detail

[2020-09-23 00:51] #357 closed

[2020-09-23 00:51] eonarheim commented on #359
Closing groups are deprecated

[2020-09-23 00:51] #359 closed

[2020-09-23 00:57] #1024 closed

[2020-09-23 01:02] eonarheim commented on #1102
Complete!

[2020-09-23 01:02] #1102 closed

[2020-09-23 01:06] eonarheim commented on #1541
@kamranayub This seems to have happened relatively recently, do you remember what the cause was?

[2020-09-23 01:11] eonarheim commented on #422
We are reducing the scope of features we are focusing on to core engine and feature improvements. We are still open to PRs and/or plugins for non-core features.

Spoke with @jedeen offline

[2020-09-23 01:11] #422 closed

[2020-09-23 01:12] eonarheim commented on #384
The new #1425 will assist with this

[2020-09-23 01:25] kamranayub commented on #1541
I think it's been like this? But regardless, these links need to point to the new user docs, not the API reference anymore as they are out of date.

Refer to https://excaliburjs.com/docs for the latest docs!

[2020-09-23 02:46] eonarheim commented on #1541
I think the "Working with Actors" link still doesn't work with the latest

On Tue, Sep 22, 2020 at 8:25 PM Kamran Ayub <notifications@github.com>
wrote:

[2020-09-25 17:41] fbuether opened #1642 "Non-repeating timer fires again when the corresponding scene is restarted"
### Steps to Reproduce

* Create a new scene
* Add a non-repeating timer, and start it
* Handle the timer execution
* `goToScene` to the same scene
* watch the timer firing again.

A scene could look like this:

[code]

Find the full source of my case here: https://github.com/fbuether/WeltraumEindringlinge/blob/master/src/scenes/ingame.ts#L75

I have another bit of indirection in the method `finis

[2020-09-25 17:52] fbuether commented on #1642
Oh my, this is embarassing. The event was indeed created several times, because for debug purposes I considered the game won when *any* enemy is killed, not when *all* of them are dead.

Sorry, I'll close this for now.

[2020-09-25 17:52] #1642 closed

[2020-09-30 12:55] #395 closed

[2020-09-30 12:58] eonarheim commented on #1030
This seems to have gone away for the most part (Chrome?) I cannot reproduce anymore

Additionally I think #1425 will solve some of the concerns

[2020-09-30 12:58] #1030 closed

[2020-09-30 13:01] eonarheim commented on #1497
I believe this has been solved, please let me know if it hasn't and we will re-open

[2020-09-30 13:01] #1497 closed

[2020-09-30 13:03] eonarheim commented on #1361
@DaVince WIP migrating existing draw to to ECS #1643

[2020-09-30 13:10] eonarheim commented on #136
There was an implementation of this put into #1425

[2020-09-30 13:19] DaVince commented on #1361
Thanks. I will check this out when I can, but time/energy has been scarce. It's been slow going as well as I've been running into having to figure out what goes where. Is it possible to add a very basic snippet containing the minimally required code to use it?

[2020-09-30 14:49] eonarheim commented on #1361
Good point @DaVince I'll get some documentation on ECS usage as a part of this PR

[2020-10-01 12:26] eonarheim opened #1654 "Add full ASCII printable set of keys and switch to KeyboardEvent.code"
### Context

Currently Excalibur does not have every printable ASCII character in it's constants and is using the deprecated `KeyboardEvent.keyCode`. We are no longer supporting IE11 so no need to support `keyCode`

### Proposal

* Add a constant for every ~~printable ASCII~~ physical key in Excalibur.
  * Current constants using deprecated keyCode property
        https://github.com/excaliburjs/E

[2020-10-01 12:35] eonarheim opened #1655 "Change `isDebug` to `showDebug(toggle: boolean)`"
### Context

Currently it is slightly odd to turn on debug drawing mode `isDebug = true`. We should switch this to a better named method.

### Proposal

Implement `showDebug(toggle: boolean)` which can toggle debug drawing mode `true` or `false`

Add tests to show it works as expected

[2020-10-01 12:36] eonarheim opened #1656 "Remove UIActor stub"
### Context

UIActor has been renamed, remove any remaining UIActor code

### Proposal

* Remove UIActor https://github.com/excaliburjs/Excalibur/blob/a462a5da218a493b0feccc2522f14da0bb21c558/src/engine/ScreenElement.ts#L58

* Ensure tests still pass

[2020-10-01 12:41] eonarheim opened #1657 "Remove use of WebAudio noteOn()"
### Context

Use `start()`, noteOn has been deprecated for some time

### Proposal

Remove noteOn code https://github.com/excaliburjs/Excalibur/blob/a462a5da218a493b0feccc2522f14da0bb21c558/src/engine/Util/WebAudio.ts#L49-L54

Ensure tests still pass

[2020-10-01 12:50] kala2 commented on #1657
Hello, would you mind if i take it? Could you please assign it to me?

[2020-10-01 13:06] eonarheim commented on #1657
@kala2 All yours!

[2020-10-01 18:02] MrBartusek commented on #1655
@eonarheim Can I work on that?

[2020-10-01 18:03] eonarheim commented on #1655
@MrBartusek all yours

[2020-10-01 21:46] #1655 closed

[2020-10-01 21:52] #1657 closed

[2020-10-03 03:38] rledford commented on #1654
@eonarheim some of the printable ASCII characters are only in `KeyboardEvent.code` on the `keypressed` event, but not the `keydown` and `keyup` event (e.g. `@` will emit code _50_ for `keydown`, _64_ for `keypressed`, and _50_ again for `keyup`). The engine is only listening for _keydown_ and _keyup_ and just wanted to make sure this is ok. I've forked the repo and added constants for all printabl

[2020-10-03 04:13] eonarheim commented on #1654
Hi @rledford thanks! Definitely, working within the current engine keyup/keydown handlers is okay.

Let's not be concerned with casing at the moment, the `KeyboardEvent.code` does not encode that information. Just enough enum to capture `KeyboardEvent.code` from a physical key on a keyboard. Use the common keys shared between firefox and chrome, we can ignore the ones that are not the same. https:

[2020-10-03 16:47] catrielmuller commented on #1536
I will take this.

[2020-10-03 16:52] eonarheim opened #1673 "Excalibur Feature Flags Implementation"
### Context

As part of our new rapid release strategy we need a way to merge experimental or preview features into the main line of code. This will allow us to build more confidence when building new core feature like the new WebGL Graphics API, Batch Renderer, and new ECS systems while minimizing risk to existing users.

### Proposal

Static flags implementation that allows users to toggle speci

[2020-10-03 17:05] eonarheim commented on #1536
@catrielmuller All yours! Let us know if you have any questions or run into any issues!

There are some examples of other stories here
https://github.com/excaliburjs/Excalibur/tree/main/src/stories

To run the stories locally, navigate to the root of the project
* `npm install`
* `npm run visual`

[2020-10-03 19:54] catrielmuller commented on #1536
@eonarheim I don't know if I followed the all Rules, lmk if miss something. It's my first PR on this project.

[2020-10-03 21:18] #1536 closed

[2020-10-04 00:50] djcsdy opened #1676 "Nearest-neighbour viewport scaling doesn't work in Firefox"
### Steps to Reproduce

[code]

Construct an engine as above, and then draw some sprites. Bitmap graphics are drawn at 320×240, and then scaled up to fill a 1280×960 viewport.

### Expected Result

On most browsers, graphics are upscaled from 320×240 to 1280×960 using a nearest-neighbour filter. This is the expected behaviour because `antialiasing: false`.

![image](https://user-images.githubuserc

[2020-10-04 06:10] djcsdy opened #1678 "Z-Index is broken since v0.24.5"
### Steps to Reproduce

1. Create some actors.
2. Set a different z-index on each actor.
3. Position the actors to overlap.

### Expected Result

Actors with a higher z-index should be displayed in front of actors with a lower z-index.

### Actual Result

Actors are displayed in no particular order.

### Environment

- browsers and versions: Firefox 80
- operating system: Windows 10
- Excalibur ve

[2020-10-04 13:05] eonarheim commented on #1678
@djcsdy Good find, definitely an issue

[2020-10-04 15:09] catrielmuller commented on #1542
I Will try to fix this @eonarheim , to get more knowledge about the core logic.

[2020-10-04 15:16] eonarheim commented on #1542
@catrielmuller all yours, let me know if you have any questions!

[2020-10-04 15:51] #1678 closed

[2020-10-04 15:51] #888 closed

[2020-10-04 15:57] eonarheim commented on #1676
@djcsdy Thanks for the issue, your proposed solution seems like the fix.

[2020-10-04 16:08] #1363 closed

[2020-10-05 02:00] catrielmuller commented on #1542
@eonarheim Well, I tried to reproduce this issue, but works as expected.

This is an example of my code:
https://gist.github.com/catrielmuller/72b3c8d2fea14bdc8cfba01d5c733d25
![image](https://user-images.githubusercontent.com/2272323/95032219-27ef8d00-0690-11eb-9da3-a729d194c332.png)
![image](https://user-images.githubusercontent.com/2272323/95032245-39d13000-0690-11eb-8f0b-5c19b22b0d32.png)

The

[2020-10-06 02:27] catrielmuller commented on #1656
@eonarheim -> https://github.com/excaliburjs/Excalibur/pull/1680 lmk if it's ok.

[2020-10-06 05:56] catrielmuller commented on #1535
@DaVince // @kamranayub  // @eonarheim , need to be tested but now look like it's doing that should be doing. :D

[2020-10-06 14:03] #1364 closed

[2020-10-06 15:08] #1656 closed

[2020-10-06 15:27] catrielmuller commented on #1542
👍

[2020-10-06 15:30] #1535 closed

[2020-10-06 16:04] #1654 closed

[2020-10-06 19:19] #1676 closed

[2020-10-07 07:29] DaVince commented on #1535
Couldn't get the opportunity to test, but it looks like that's been done already. Thanks for the fix!

[2020-10-12 20:06] AndrewCraswell commented on #1361
Hey! Just wanted to drop in and say this is amazing. I've been lurking watching this project for awhile. Built my first game last night in a few hours (first time reading the docs, they're awesome!) and it was such a breath of fresh air from other frameworks like Phaser.

The ECS change is also a key differentiator. Before I saw this, my plan had been to attempt to combine Excalibur with ECSY. I'm

[2020-10-17 01:32] #1673 closed

[2020-10-17 02:40] #1240 closed

[2020-10-25 16:21] eonarheim commented on #1361
@AndrewCraswell Thanks for checking us out! Please do send us any feedback you have in the discussions! And we'd love to see your game as well!

There are a few reasons we decided chart our own course on an ECS in TypeScript:
* We want it to be 100% suited for Excalibur, keeping that ease of use and keeping tight seamless integration first of mind (And not require users to necessarily be aware of

[2020-11-05 14:14] #1018 closed

[2020-11-14 21:09] #994 closed

[2020-12-21 02:56] #1434 closed

[2020-12-21 03:44] eonarheim opened #1731 "Unprocessed version constant in es module"
### Steps to Reproduce

When excalibur builds es modules, it does not inline the version. In the UMD bundle it does.

https://github.com/excaliburjs/Excalibur/discussions/1729#discussioncomment-228120

### Expected Result

Excalibur version should be present

### Actual Result

Invalid syntax for the browser is present

### Environment

- browsers and versions: N/A
- operating system: N/A
- Excali

[2020-12-21 03:47] eonarheim opened #1732 "`core-js` Dependency missing from npm pacakge"
### Steps to Reproduce

The core repo has `core-js` listed, but the `dist` repo does not https://github.com/excaliburjs/Excalibur/discussions/1729#discussioncomment-228137

This should resolve itself when we retire the `dist` repo in v0.25.0

### Expected Result

`core-js` should be listed as a dependency

### Actual Result

`core-js` is not listed as a dependency

### Environment
- browsers and v

[2020-12-22 20:00] eonarheim opened #1733 "DisplayMode FullScreen should match other browser APIs"
### Context

Currently the `DisplayMode.FullScreen` does not match the [browser fullscreen api]() where the aspect ratio is preserved while scaling to the available space.

### Proposal

Change `DisplayMode.FullScreen` to match the browser api behavior, move existing functionality to a new `DisplayMode.Dynamic`

[2020-12-22 20:03] eonarheim opened #1734 "Pointer coordinates are wrong in the browser fullscreen API"
### Steps to Reproduce

[code]

### Expected Result

Pointer actor should line up with cursor in fullscreen

### Actual Result

Pointer actor does not line up with cursor in fullscreen

### Environment

- browsers and versions: Chrome/Firefox Latest
- operating system: N/A
- Excalibur versions: Latest

### Current Workaround

None

[2021-01-01 16:12] #1733 closed

[2021-01-01 16:12] #1734 closed

[2021-01-01 16:30] eonarheim commented on #552
No plans to implement

[2021-01-01 16:30] #552 closed

[2021-01-01 16:30] eonarheim commented on #562
This is now supported with different collider shapes

[2021-01-01 16:30] #562 closed

[2021-01-01 16:34] eonarheim commented on #771
The jury is out on any meaningful performance gains here, closing for now

[2021-01-01 16:34] #771 closed

[2021-01-01 16:35] eonarheim commented on #976
Closed by #1733

[2021-01-01 16:35] #976 closed

[2021-01-01 16:40] #996 closed

[2021-01-04 01:27] AndrewCraswell commented on #1503
Perhaps worth mentioning an alternative for those who don't want the chore of enforcing and abiding by conventional commit standards. Beachball JS was developed and is used extensively throughout Microsoft. It's an alternative to Conventional Commits that solves the same problems in a more streamlined way without relying on commit messages. Only mentioning it because our projects recently shifted

[2021-01-06 00:49] AndrewCraswell commented on #573
ESLint has a Spellcheck plugin that I've used to scan our code. Can be toggled to search just comments if I recall. Not sure how this would scale to localized versions though, since code is assumed to always be in a single (usually english) language.

https://github.com/aotaduy/eslint-plugin-spellcheck

[2021-01-09 04:56] eonarheim commented on #171
Not in scope, this is better served by a third party tool or plugin

[2021-01-09 04:56] #171 closed

[2021-01-09 04:58] eonarheim commented on #275
SpriteSheet assets should come ready to use

[2021-01-09 04:58] #275 closed

[2021-01-09 04:59] eonarheim commented on #305
This is fairly out of date, and coverage is pretty good

[2021-01-09 04:59] #305 closed

[2021-01-09 05:17] eonarheim commented on #710
We spoke offline we are going to move this into a separate package

[2021-01-09 05:17] #710 closed

[2021-01-09 05:18] eonarheim commented on #1069
Fixed in #1733

[2021-01-09 05:18] #1069 closed

[2021-01-09 05:23] eonarheim commented on #154
Closing in favor of the existing camera strategies feature

[2021-01-09 05:23] #154 closed

[2021-01-09 05:24] eonarheim commented on #117
No longer needed, part of our code style

[2021-01-09 05:24] #117 closed

[2021-01-21 15:09] #1210 closed

[2021-02-03 05:11] kamranayub opened #1778 "enhancement: Custom spritesheet spacing dimensions"
### Context

Originally `spacing` was added in #1058

The issue is that for some sprites like ones from https://kenny.nl, the spacing is not on the left, right, top or bottom of the image, it's in-between sprites so SpriteSheet doesn't properly splice it up.

### Proposal

Use overloaded setter:

[code]

[2021-02-04 04:08] Kangaroux opened #1780 "Getting Started docs are outdated/broken"
I installed Excalibur v0.24.5 and started going through the [getting started tutorial](https://excaliburjs.com/docs/getting-started).

# Issue # 1 (`lastWorldPos` does not exist)

In this code, `evt.target.lastWorldPos` does not exist in the current version:

[code]

I replaced it with `paddle.pos.x = evt.pos.x` and it seems to work.

# Issue # 2 (confusing docs)

There are a few code blocks for t

[2021-02-05 14:46] #1778 closed

[2021-02-06 02:36] eonarheim commented on #1780
@Kangaroux Thanks for the issue, I'll be spending some time with the documentation soon.

1. Definitely needs updating
2. I like your suggestions around documentation
3. I'll look into this, collisions in theory are still working in the test suite. I'm wondering if something is typo'd in the sample that's gone unnoticed until now (Collision type Passive without an event handler is looking suspicio

[2021-02-15 22:27] #136 closed

[2021-02-16 02:29] eonarheim commented on #1732
Already merged to main and is part of the current alpha packages, will be released with v0.25.0

[2021-02-16 02:29] #1732 closed

[2021-02-26 22:00] Jvkassel opened #1787 "Actors get added multiple times as ActorsUnderPointer"
I am creating a UI where button actors (children) can be added to a window actor (parent).
I've added an eventlistener to the buttons to check if they have been pushed. By accident I stumbled upon the function [`getActorsUnderPointer`](https://github.com/excaliburjs/Excalibur/blob/main/src/engine/Input/Pointer.ts#L183) and was curious what it returned. So I viewed the results. Instead of just show

[2021-03-06 03:40] kamranayub commented on #1731
Working on this

[2021-03-08 00:46] BinarySpike opened #1815 "lockToActor jitter on large velocities — Camera.update() should be called `onPostUpdate`"
The camera update, and thus strategies, are being applied prior to the actor updates.  This means that the camera position is computed using a stale position.  When large velocity values are used, this causes strategies like `lockToActor` to flicker.

The issue can easily be reproduced in the `template-ts-webpack` by adding:
[code]

A shim (fix) can be used by doing something like:
[code]

Reviewi

[2021-03-09 18:25] BinarySpike commented on #1815
I've since dived in with some more actors and I can see where someone might want to know about the camera transformation before they perform an update.  However, I can't think of a situation where that would appropriate design.

Maybe an order PreUpdate->Update->Camera Update->PostUpdate would give you that ability.  Then again, the documentation says PostUpdate is the preferred override.

I saw i

[2021-03-19 21:27] DrSensor commented on #1361
This might give some inspiration (all js)
- [blazing fast ECS using *TypedArrays*](https://github.com/NateTheGreatt/bitECS)
- [ECS over WebRTC](https://github.com/3mcd/javelin/tree/master/examples/networking)
- [ecs-benchmark](https://github.com/noctjs/ecs-benchmark)

[2021-04-07 02:34] djcsdy commented on #874
Just wasted a bunch of time on this. It could not possibly be more confusing. Everything about Actor.opacity is inconsistent and broken.

 * Constructing an Actor with a color causes the opacity of the Actor to be set the the alpha value of the color, but subsequently updating the alpha value of the color has no effect.
 * Setting the color of an existing Actor (with opacity > 0) to `Color.Transpa

[2021-04-07 13:09] kamranayub commented on #874
That is a good summation 😄 Yes, this should be tackled soon along with the rest of the  drawing infrastructure rewrite.

[2021-04-26 01:31] alanag13 opened #1848 "Safari (on macos and iOS) fails to load audio resources"
### Steps to Reproduce

In Safari (on iOS or macos) attempt to run the sandbox project, or any project that loads audio resources.

### Expected Result

The project should load and audio should play as normal.

### Actual Result

Excalibur's loader fails to complete and prints the below to the console:

[code]

My initial attempt to use third party tools to remove the metadata from mp3 files as me

[2021-04-26 12:56] #1848 closed

[2021-04-26 17:44] kamranayub opened #1850 "Bug: Scene.onActivate and onDeactivate being called with incorrect arguments"
### Steps to Reproduce

Call `engine.goToScene(scene)` and have code inspecting `oldScene` and `newScene` in `onActivate` or `onDeactivate` methods of `Scene`.

### Expected Result

`oldScene` and `newScene` should be single `Scene` objects

### Actual Result

Engine invokes `_activate` and `_deactivate` using `.call(scene, [oldScene, newScene])` which passes the array as the _first_ argument inst

[2021-04-29 17:41] gideongrinberg commented on #1780
Hasn't been fixed. I also ran into an issue on the first tutorial where the code had me using `vec()` instead of `new vec()`. I'll try and find where.

[2021-04-30 02:44] eonarheim opened #1854 "Clicking the start button is interpreted as a click"
### Steps to Reproduce

Clicking the excalibur "Play game" is interpreted as a game pointer down when the Engine is set to Document pointer scope.

![image](https://user-images.githubusercontent.com/612071/116642130-c47ec280-a933-11eb-9dc0-241d9acf6015.png)

### Expected Result

This click should not have been included in my game,

### Actual Result

### Environment

- browsers and versions: lates

[2021-04-30 02:49] eonarheim opened #1855 "ImageSource should warn if passed a file it can't handle"
### Context

It is easy to accidentally pass a image filetype to `ImageSource` that isn't supported or fully supported like `.gif`

### Proposal

Excalibur should warn in the cases where the image is not a `.png`, `.jpg`, or `.bmp`.

SVG and GIF and others can work depending on the browser and the gif, but perhaps a warning is necessary.

[2021-04-30 02:51] eonarheim opened #1856 "Animations with invalid SpriteSheet indices should warn"
### Context

It is easy to typo sprite sheet indices when building an animation.

### Proposal

Animations should warn that there is no image at that index if an invalid one is supplied.

Bonus: one "feature" of an invalid index is it displays nothing, perhaps we should have a special index, `-1`? that is for displaying an empty frame.

[2021-04-30 03:06] eonarheim opened #1857 "Built in Restart Game"
### Context

Restarting games is currently very challenging to do in Excalibur, yet it's been a fairly common thing we want to do in game. There should be a built in pattern in Excalibur for doing this.

### Proposal

One technique we used recently was to recreate the scene for our level as a way of retriggering the `onInitialize` setup logic that worked pretty well.

Should we build a `Scene` or

[2021-04-30 03:08] eonarheim opened #1858 "Pointer held event"
### Context

Excalibur Keys currently support a "held" event, but pointers do not have a similar analog without implementing by hand.

### Proposal

Implement a pointer "held" event that is emitted every frame between pointer "down" and "up"

[2021-04-30 03:12] eonarheim opened #1859 "TileMap method to iterate over rows or columns"
### Context

Currently TileMaps only support iterating over Cells in row major order from the `TileMap.data` property. Many times you want to iterate over rows or columns to do some sort of generation

### Proposal

Add a `TileMap.rows` and a `TileMap.columns` that organize the cells into rows and columns.

[code]

[2021-04-30 03:15] eonarheim opened #1860 "Actions that move and actor to an x/y should take a Vector arg"
### Context

There are a lot of inconsistent APIs, currently some action methods force the user to supply and x/y; however, vectors are commonly used to deal with position information.

### Proposal

Add an overload to any action methods like `moveTo` that take a vector parameter.

[2021-04-30 03:19] eonarheim opened #1861 "Store arbitrary data in TileMap Cells"
### Context

When building TileMaps for a game, it is often useful to have information associated with specific tiles.

### Proposal

Implement a mechanism for storing arbitrary data in `TileMap` `Cell`s

Possibly something simple as a data `Map` like

[code]

[2021-04-30 03:21] eonarheim opened #1862 "TileMaps should support arbitrary graphics not just Sprites"
### Context

Currently TileMaps only support adding Sprites, but nothing else.

### Proposal

Add support for arbitrary list of Graphics to be added to each Cell.

[2021-04-30 03:27] eonarheim opened #1863 "Graphics Sprite constructor confusing width/height"
### Steps to Reproduce

Sprite can be passed width/height arguments according to the types in it's option bag, but these are incorrect, the actual arguments are sourceView and optionally destSize. See https://excaliburjs.com/docs/graphics#sprite

### Expected Result

Passing width/height should work by using the whole ImageSource as the sourceView, and the passed width/height as the destSize

###

[2021-04-30 03:28] eonarheim opened #1864 "Refactor Timer unpause() method, to be named resume()"
### Context

Currently `unpause()` is not usually the word used to `resume()` something that has been `paused()`

### Proposal

Rename `unpause()` to `resume()`

[2021-04-30 03:30] eonarheim opened #1865 "Timers shouldn't automatically start when added to the Scene"
### Context

Currently Timers start immediately after added to the scene. People want more control over their timers.

### Proposal

Add a Timer `.start()` method that will start the timer if the timer has been added to the scene. If the timer is not part of a scene it should log a warning if the `.start()` method is called.

[2021-04-30 03:32] eonarheim opened #1866 "Text Graphics should support newlines"
### Context

Often times folks want to write multiple lines of Text into a graphic, this should be supported.

### Proposal

Add a feature to Text graphics that can understand `\n` as a newline for text. Add an optional way to configure `lineHeight` in pixels as well.

[2021-04-30 03:37] eonarheim opened #1867 "Animations should allow you to use all the frames from a SpriteSheet"
### Context

Currently when building an animation you must specify all the frames from a SpriteSheet.

[code]

### Proposal

Make the frame specification optional, if no indices provided it should assume that the Animation is all sprites in the SpriteSheet.

[2021-05-08 13:43] herobank110 opened #1891 "Actions repeat forever if not cleared"
### Steps to Reproduce

[code]

### Expected Result

Expected down movement followed by movement right and left twice before stopping.

### Actual Result

Down movement, then right and left movement forever.

### Environment

- browsers and versions: Safari (14.0.3)
- operating system: MacOS
- Excalibur versions: 0.24.5

### Current Workaround

Schedule function calls with setTimeout using pre set

[2021-05-08 15:37] eonarheim opened #1892 "Animations should allow you to specify the total duration"
### Context

Currently you need to specify the individual frame duration, in order to specify the total duration some math is required to calculate based on the number of frames. We should support a convenient way of specifying a total duration.

### Proposal

[code]

If `totalDuration` is specified, then `frameDuration` should be ignored.

[2021-05-15 03:39] eonarheim commented on #1891
@herobank110 Thanks for the issue, I have a theory where the bug is coming from in excalibur.

My guess based on your workaround, is that `repeat` inside the `callAction()` does indeed do accumulate N+1 actions as you mentioned in the discussion post. The way `repeat` is implemented is it copies the current actions in the context and re-adds them https://github.com/excaliburjs/Excalibur/blob/main/

[2021-05-15 04:06] eonarheim commented on #1891
One thought I had was to change up the `repeat` api to make it clear what is repeating, instead of trying to guess based on the current queue.

What do you think of something like?

[code]

[2021-05-15 06:58] herobank110 commented on #1891
I think it's better like that, it looks more like a loop from most programming languages.

[2021-05-15 06:59] herobank110 commented on #1891
Also that way you can define all the actions in one go

[2021-05-19 00:11] #635 closed

[2021-05-19 00:11] #1891 closed

[2021-05-19 19:46] DrSensor commented on #1361
​

[2021-05-23 09:31] LokiMidgard opened #1897 "Changing color of a circle (Graphics object) with padding moves it"
### Steps to Reproduce

1. Add a circle to an actor
2. apply padding
3. periodically update the color

<Details>
<Summary >
<b>A Minimal Sample</b>
</Summary >

[code]

</Details>

### Expected Result

Just the color is changing

### Actual Result

![excalibur-problem2](https://user-images.githubusercontent.com/389101/119254802-be89a380-bbb8-11eb-827f-9fb2a3474355.gif)

the position changes

### E

[2021-05-23 13:11] eonarheim commented on #1897
Thanks for the issue, this is a good find. I bet something is off internally in abstract Graphic when recalculating width, height, and centering when padding is used.

[2021-05-26 02:37] eonarheim opened #1900 "Scene onInitialize fires at Engine constructor time if `goToScene` called"
### Steps to Reproduce

Calls to `Engine.goToScene()` before `Engine.start()` is called will still cause a premature `Scene.onInitialize` before the first update and before Engine initialization.

### Expected Result

Scene `onInitialize` should be in the first update after engine initialize

### Actual Result

Scene `onInitialize` is called after `goToScene()`

### Environment

- browsers and ver

[2021-05-26 11:10] LokiMidgard commented on #1897
@eonarheim I think the commit changed the behavior of padding. I think before padding increased the Size of the actor. no it no longer does, however it changes the x and y coordinates.

![image](https://user-images.githubusercontent.com/389101/119649687-33601600-be23-11eb-97ec-8a7775875111.png)

I set following values on circle:
[code]

<Details>
<Summary><b>Complete sample</b></Summery>

[code]

[2021-05-26 14:08] eonarheim commented on #1897
@LokiMidgard indeed, I'll reopen

[2021-05-29 02:11] #1897 closed

[2021-06-01 21:12] eonarheim opened #1922 "Pointer Event Traversal Unexpected in Actors"
See discussion for more context https://github.com/excaliburjs/Excalibur/discussions/1899

Actor events are processed in an unexpected order given their z-index. It is more expected that actors are proceed from top-most z-index to bottom-most z-index. Currently the opposite happens, the bottom-most receives events first.

### Steps to Reproduce

Code sandbox that reproduces the issue, the events a

[2021-06-01 21:14] eonarheim commented on #1922
One consideration is revealing the traversal order, or if the current target is the last target in the traversal.

[2021-06-05 01:16] eonarheim commented on #276
Implemented in new graphics api, graphics are drawn at the nearest pixel

https://excaliburjs.com/docs/api/edge/interfaces/engine.engineoptions.html#snaptopixel

[2021-06-05 01:16] #276 closed

[2021-06-05 01:17] eonarheim commented on #172
Implemented in the new graphics api

[2021-06-05 01:17] #172 closed

[2021-06-05 01:21] eonarheim commented on #1541
Docs have been re-arranged to have top level topics here https://excaliburjs.com/docs

[2021-06-05 01:21] #1541 closed

[2021-06-05 01:25] eonarheim commented on #1442
@kamranayub I'm thinking we should perhaps deprecate this feature? It's not really used widely in the codebase, and modern JS and other libraries support this better.

[2021-06-05 01:27] eonarheim commented on #1439
It's possible this will be fixed by #1890 #1900

[2021-06-05 01:30] #1134 closed

[2021-06-05 01:31] eonarheim commented on #1094
Fixed by #1818

[2021-06-05 01:32] eonarheim commented on #1010
I don't believe this is an issue anymore

[2021-06-05 01:32] #1010 closed

[2021-06-05 01:34] eonarheim commented on #653
Collision type is now a property of bodies

[2021-06-05 01:34] #653 closed

[2021-06-05 01:34] eonarheim commented on #652
Fixed by #1730

[2021-06-05 01:34] #652 closed

[2021-06-05 01:36] eonarheim commented on #1529
I believe this was closed in #1730

[2021-06-05 01:36] #1529 closed

[2021-06-05 01:37] eonarheim commented on #387
Closed in #1730

[2021-06-05 01:37] #387 closed

[2021-06-05 01:41] #1922 closed

[2021-06-07 05:10] kamranayub commented on #1442
Yep! Agree.

[2021-06-09 01:25] #1439 closed

[2021-06-09 01:29] eonarheim commented on #1854
@kamranayub pretty sure this is it https://github.com/excaliburjs/Excalibur/issues/1900

[2021-06-11 22:45] #1854 closed

[2021-06-12 00:25] #1900 closed

[2021-06-12 00:30] eonarheim commented on #481
Closed by #1730

[2021-06-12 00:30] #481 closed

[2021-06-12 00:30] eonarheim commented on #384
Closed by #1730

[2021-06-12 00:30] #384 closed

[2021-06-12 00:30] eonarheim commented on #580
Closed by #1730

[2021-06-12 00:30] #580 closed

[2021-06-12 00:31] eonarheim commented on #589
Closed by #1730

[2021-06-12 00:31] #589 closed

[2021-06-12 00:31] eonarheim commented on #420
Closed by #1730

[2021-06-12 00:31] #420 closed

[2021-06-12 00:34] eonarheim commented on #947
dist repo is now deprecated, files are published off the main repo now

[2021-06-12 00:34] #947 closed

[2021-06-12 00:34] eonarheim commented on #959
I believe this has been done

[2021-06-12 00:34] #959 closed

[2021-06-12 00:39] eonarheim commented on #1493
@Osthekake if you are still interested, linking the project where you were having the problem would also help

We've made some updates to latest `main` around pointers published in the alpha npm @ next, potentially fixed?
![image](https://user-images.githubusercontent.com/612071/121759697-a4beea80-caec-11eb-9553-6d0fea2347a0.png)

[2021-06-14 12:05] Osthekake commented on #1493
This is exciting!
The project is this one: https://github.com/Osthekake/ld42 which is actually 3 years old. I've been working on trying to bump it to newest excalibur version over the past weekend, but I didn't manage to finish figuring out the new tiled system, and I didn't find an adequate workaround to force it to build.

Let me get back to you next week, and I can tell you if it works. :)

Sin

[2021-06-22 13:29] zskamljic commented on #1780
1. is still not fixed, I've tried using the suggested fix, but there's an error at runtime: `Uncaught TypeError: Cannot read property 'x' of undefined`
trying to log evt.target results in:
![image](https://user-images.githubusercontent.com/14160663/122932939-75bb3b00-d36e-11eb-8f80-ec367ff4f063.png), implying that a wrong type is used in event.

[2021-06-25 18:00] #1780 closed

[2021-06-25 23:46] eonarheim commented on #1780
I'm adding a snippet plugin to our gatsby today that will theoretically keep the docs sync'd to the break repo

https://github.com/excaliburjs/sample-breakout

[2021-06-26 16:54] eonarheim commented on #1780
@Kangaroux @gideongrinberg @zskamljic new getting started page is live, it's now tied directly to the sample with snippet comments!

Let me know if you have additional feedback https://excaliburjs.com/docs/getting-started

[2021-06-26 17:38] #874 closed

[2021-06-27 22:57] #1864 closed

[2021-06-27 22:57] #1865 closed

[2021-06-27 23:38] #1850 closed

[2021-07-02 00:56] #1863 closed

[2021-07-02 01:44] #1855 closed

[2021-07-02 18:04] #1856 closed

[2021-07-02 19:16] #1860 closed

[2021-07-03 01:57] #1859 closed

[2021-07-03 01:57] #1861 closed

[2021-07-03 01:57] #1862 closed

[2021-07-07 04:25] #1866 closed

[2021-08-25 03:36] eonarheim commented on #664
New `CompositeCollider` will allow you to create interesting geometry on the fly like this

[2021-08-25 03:40] #1070 closed

[2021-08-25 03:40] #1072 closed

[2021-08-25 03:40] #1093 closed

[2021-08-25 03:40] #1094 closed

[2021-08-25 03:40] #626 closed

[2021-08-25 03:40] #664 closed

[2021-08-25 03:40] #712 closed

[2021-08-25 04:48] renovate[bot] opened #1991 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore: Update Node.js to v14.17.5 (`node`, `@types/node`)
 - [ ] chore: Update dependency @fortawesome/fontawesome-free to v5.15.4
 - [ ] chore: Update dependency core-js to v3.16.3
 - [ ] chore: Update dependency esli

[2021-09-11 04:15] kamranayub commented on #1431
This is still an issue, if you **don't** click the play button. I think engine needs to call `dispose` whenever `stop` is called 😄

[2021-09-11 04:51] kamranayub commented on #1431
Workaround:

[code]

[2021-09-11 05:13] kamranayub opened #2016 "Create Next.js template or example"
- [ ] Formalize this from discussion, into new official repo
- [ ] Add to templates and documentation

Here's an example of using Excalibur with Next. Since Excalibur can only execute on the client, it needs to be loaded via `useEffect` and a dynamic import otherwise Next will attempt to run the module in SSR. Unfortunately, right now we don't check for `window` existence so it bombs in SSR.

http

[2021-09-11 05:20] kamranayub opened #2017 "Support HMR"
### Discussed in https://github.com/excaliburjs/Excalibur/discussions/1817

<div type='discussions-op-text'>

<sup>Originally posted by **DrSensor** March 15, 2021</sup>
Any tips on how to do hot reloading using [ESM HMR API](https://github.com/snowpackjs/esm-hmr)?
Or is it already supported out of the box?

(I'm using vite)</div>

Investigate effort to support HMR, or at least some sort of MVP th

[2021-10-01 13:35] eonarheim commented on #540
This has been fixed

[2021-10-01 13:35] #540 closed

[2021-10-01 13:47] eonarheim opened #2044 "Add Current Graphics Keys to GraphicsComponent"
### Context

Currently for a given Actor's GraphicsComponent, it's difficult to know what the currently shown graphics are by name. It is useful to know the name's of the graphics shown in all layers or a specific layer

To iterate through all the graphics layers

[code]

### Proposal

1. Add a new getter to `GraphicsComponent.ts` called `currentKeys` that will return the names of the graphics sho

[2021-10-01 14:03] eonarheim opened #2045 "Add `.center` getter to Screen"
### Context

A common operation that could be made quicker is a helper getter to get the center of the screen. Currently folks need to write
[code]

### Proposal

1. Add a new getter `center` to Screen that will return a `Vector` `vec(this.halfDrawWidth, this.halfDrawHeight)`;
2. New unit tests are required

[2021-10-01 14:15] eonarheim opened #2046 "Remove `.call()` in Timer"
Timer's currently use the `.call()` to execute their callbacks, this causes some problems because the `this` is being replaced in the callback context with the Timer's `this`

![image](https://user-images.githubusercontent.com/612071/135634774-97ae3e59-b838-4a35-a8f6-e38019a0472c.png)

### Proposal

Replace this second of code with a simple callback, and rename the variable to something better lik

[2021-10-01 14:25] eonarheim opened #2047 "Remove `.call()` in EventDispatcher"
### Context

EventDispatcher currently use the `.call()` to execute their callbacks, this causes some problems because the `this` is being replaced in the callback context with the Event's target as `this`

![image](https://user-images.githubusercontent.com/612071/135636075-ecc4a359-a1f9-4e74-af9a-d539809560b6.png)

![image](https://user-images.githubusercontent.com/612071/135636113-e93baa89-bafe-

[2021-10-01 14:26] SudhanshuBlaze commented on #2046
Please assign this issue to me.

[2021-10-01 14:32] eonarheim opened #2049 "Fix ImageSource loading error message"
### Context

Currently when an ImageSource fails loading for whatever reason it gives a confusing error message `'Error loading texture'`

![image](https://user-images.githubusercontent.com/612071/135637349-5d3cdc32-b772-4543-9a0d-75531667157e.png)

### Proposal

In the section of code we should give more context to the user about what failed to load with the path, and we should present the error

[2021-10-01 16:45] himanshu007-creator commented on #2046
hi, i would like to work on this issue!

[2021-10-01 17:08] eonarheim commented on #2046
@himanshu007-creator All yours!

[2021-10-01 18:49] SirPedr commented on #2045
Would be happy to work on this ;)

[2021-10-01 19:52] eonarheim commented on #2045
@SirPedr all yours!

[2021-10-02 00:42] #2045 closed

[2021-10-02 21:45] nidble commented on #2049
Hi @eonarheim, can I work on this?

[2021-10-02 21:47] eonarheim commented on #2049
@nidble all yours!

[2021-10-02 21:49] nidble commented on #2047
@eonarheim, can I work on this?

[2021-10-03 11:29] eonarheim commented on #2047
@nidble all yours!

[2021-10-03 13:26] Sabri01 commented on #2046
Hello, Can I work on this issue?

[2021-10-03 16:20] eonarheim commented on #2046
Hi @Sabri01, I believe someone else is working on this issue. Thanks for your interest! I think we might have some other hacktoberfest issues in the backlog that are free if you'd like to pick something else

[2021-10-03 18:05] Sabri01 commented on #2046
Thank you for your reply, I'll take a look at other issues.

[2021-10-04 19:56] dazzlerkumar commented on #2047
@eonarheim , You can assign this to me too.

[2021-10-05 02:10] eonarheim commented on #2047
Hi @dazzlerkumar I believe someone else is working on this issue. Thanks for your interest! I think we might have some other hacktoberfest issues in the backlog that are free if you'd like to pick something else

[2021-10-05 13:52] nidble commented on #2047
Hi @eonarheim, in order to remove the `.call()` method and correctly bound the _target_ object, WDYT if I bind _target_ to the _handler_ before array push?

[code]
And reasoning about point 2:

please, can you give more info about it?

Thanks

[2021-10-06 14:10] eonarheim commented on #2047
Hi @nidble

Good question, my ultimate goal is to avoid tampering with the `this` in the handlers passed to the event dispatcher, I would completely remove the `.bind()` in this case. Tampering with the `this` causes some surprises in consumer code that sees an unexpected `this` set to the event target when the handler fires. This probably means we completely remove the `target` property from `Eve

[2021-10-10 15:50] eonarheim commented on #2047
Hi @nidble, good point this does introduce a breaking change, which will be okay for the v0.26 release. This change should be added it to the breaking changes section of the changelog.

Let me know if you are still open to working this issue, since the scope has increased from what we originally thought. This will require some refactoring of tests and possibly other engine code that is relying on

[2021-10-11 03:51] tarsupin opened #2057 "Integration with Deno & Bundler"
With Deno now in a full and stable release, and since it uses Typescript natively, it seems like an appropriate fit for Excalibur. While Node does have a more established community, those of us who have moved to Deno just can't ever go back.

Nearly everything is compatible between Node and Deno, so I suspect this would be a near-trivial addition, and one that is very sought after for those lookin

[2021-10-12 19:19] nidble commented on #2047
Hi @eonarheim, yep why not!?

[2021-10-13 13:21] #2057 closed, assigned to nobody

[2021-10-17 01:51] kamranayub opened #2062 "docs: Add guidance for usage with Deno bundler"
With [Deno](https://deno.land) there are a couple extra steps to consume Excalibur to bundle a game for the browser.

esm.sh should generate a bundle that works, tested locally.

[code]

Outputs a bundle:

[code]

### Using native in browser

Using as a native module works in Chrome without any extras:

[code]

### Using with bundler

More likely users will be writing a game and will be importing

[2021-10-18 11:41] Return180bpm commented on #2062
Would love to do a write-up of this!

[2021-10-18 16:44] kamranayub commented on #2062
Ah dang it, good catch, my code example is wrong 😅 Let me try again and see if I run into more errors. Usually what I found was I was missing libs to add, and the other error I saw was due to mismatches in the Deno default types that messed with DOM lib (I think it was crypto related).

[2021-10-20 01:05] jedeen opened #2063 "Add support for HTML text outside of the game canvas"
### Context

It would be very helpful (for development, and accessibility) to be able to synchronize DOM-based text with the game canvas. This could be used for dialogue, subtitles, and more.

### Proposal

Add the ability to render HTML-based text alongside the canvas.

[2021-10-20 02:15] kamranayub commented on #2062
I had a typo in my code above, I was using

[code]

The problem looks like a bundling issue, because at the very bottom of the bundle I see this:

[code]

And if I fix it to be `qo.Engine` everything works; it looks like the Deno bundler is stripping the imported alias/namespace instead of replacing `ex` with the minified `qo` object 🤷‍♂️

I'll look at the ESM bundling we have setup to see if that

[2021-10-20 02:23] kamranayub commented on #2062
@Return180bpm I just pushed a quick commit that adds:

[code]

Which should be respected (by Skypack at least).

[2021-10-21 14:02] kamranayub commented on #2062
That is the bundle contents itself, it is generated from Skypack.

There's a PR that merged (or will merge) that should add the module field and an ESM bundle to the output, we can try that once it's available.

[2021-10-28 12:59] eonarheim opened #2069 "Add support to Animations for Reversing the play"
### Context

In the current state, you must reverse the animation frames to reverse the order of animation. [See discussion](https://github.com/excaliburjs/Excalibur/discussions/2068)

[code]

### Proposal

Add a property or method to reverse the direction of play.

Possilbly? API design notes welcome

[code]

[2021-10-29 03:35] #2069 closed, assigned to nobody

[2021-10-30 14:24] kamranayub commented on #2062
Thanks, those will be fixed in an upcoming PR I am working on that will upgrade our dependencies

[2021-10-30 17:18] Return180bpm commented on #2062
@kamranayub, @eonarheim: This was my first PR. Thank You for all your help!

[2021-10-31 22:11] #2062 closed

[2021-11-01 02:10] 0xEAB opened #2076 "DisplayMode.FitScreen is just … weird"
### Steps to Reproduce

Been experimenting with your hello world thingy…
Wouldn’t see the paddle, other weird things going on.
Well, after getting more and more confused, I realized it’s just DisplayMode being horribly broken.

[code]
[code]

### Expected Result

<details>
<summary><code>displayMode: DisplayMode.Fixed</code></summary>

![Screenshot from 2021-11-01 02-53-22](https://user-images.git

[2021-11-02 01:31] eonarheim commented on #2076
@0xEAB Thanks for the issue, we'll get on the docs with some images/examples...that definitely needs improvement.

FitScreen is intended to fit the game to the available screen real estate while preserving the defined pixel resolution (aspect ratio), it will change the viewport dynamically to make that happen.

Based on the screen shots you've provided I'm guessing the white box is not where you e

[2021-11-02 13:08] #2044 closed

[2021-11-03 19:26] JumpLink commented on #338
Any updates here?

[2021-11-04 01:17] eonarheim commented on #338
@JumpLink nothing recent, there is some work going on to refactor the WebGL renderer to allow easier post processing to render targets that might be eventually useful in creating multiple cameras.

I'll slot this into our v1 roadmap, but no promises on a timeline. This potentially will require some plumbing changes in Excalibur to allow multiple cameras, running the draw routines per camera, and c

[2021-11-04 13:56] eonarheim commented on #2076
@0xEAB We've updated the screen & viewport docs let me know if you have any additional feedback!

https://excaliburjs.com/docs/screens

[2021-11-06 01:39] #2076 closed

[2021-11-07 15:48] 0xEAB commented on #2076
Thank you for your explanations :)

[2021-11-09 20:31] JumpLink commented on #338
A possible workaround would be to create several canvas elements / engine objects for a split screen.  In this way you would be forced to outsource the multiplayer, but that could also be an advantage, as you could also implement online multiplayer in this way (as if you had several browsers open more firmly).  In addition, it would be possible for the players to be able to move around in differen

[2021-11-12 23:54] eonarheim commented on #1493
@Osthekake I'm happy to report this appears to be fixed in the latest excalibur release v0.25.1!

[code]

[2021-11-12 23:54] #1493 closed

[2021-11-12 23:57] eonarheim commented on #1787
@Jvkassel The pointer API was recently refactored, the `getActorsUnderPointer` no longer exists as a method

[2021-11-12 23:57] #1787 closed

[2021-11-12 23:59] eonarheim commented on #1442
Extend is deprecated

[2021-11-12 23:59] #1442 closed

[2021-11-13 00:21] eonarheim commented on #1527
@DaVince we added some more Screen api's to adjust the viewport/resolution of the graphics dynamically. Does that provide what you were looking for?

https://excaliburjs.com/docs/screens#advanced-viewport-and-resolution-manipulation

Screen also supports getting the current resolution width/height

[code]

[2021-11-13 00:21] eonarheim commented on #1527
Doing some backlog cleanup, closing for now let me know if we need to re-open 👍

[2021-11-13 00:21] #1527 closed

[2021-11-13 00:22] #1348 closed

[2021-11-13 00:25] eonarheim commented on #1160
Closing for now, we can maybe discuss this at the next monthly or in the gh discussion?

[2021-11-13 00:25] #1160 closed

[2021-11-13 00:27] eonarheim commented on #1137
Closing for now

[2021-11-13 00:27] #1137 closed

[2021-11-13 00:28] eonarheim commented on #1097
This is no longer an issue, in the new Graphics Sprites are a window into an ImageSource and have no separate backing canvas

[2021-11-13 00:28] #1097 closed

[2021-11-13 00:29] eonarheim commented on #1095
This api has stagnated, limited support 2 years later https://caniuse.com/?search=OffscreenCanvas

Closing for now

[2021-11-13 00:29] #1095 closed

[2021-11-13 00:30] eonarheim commented on #1090
Closing for now, we are already distributing an experimental esm module

[2021-11-13 00:30] #1090 closed

[2021-11-13 00:44] eonarheim commented on #1038
SVG's are now supported accidentally in `ex.ImageSource` in the webgl renderer!

![image](https://user-images.githubusercontent.com/612071/141598927-aae2f2e7-729d-4e29-ae2f-61fb106977d4.png)

[2021-11-13 00:44] #1038 closed

[2021-11-13 00:45] #1138 closed

[2021-11-13 00:48] eonarheim commented on #463
Implemented as part of the new DebugSystem!

[2021-11-13 00:48] #463 closed

[2021-11-13 00:48] eonarheim commented on #388
Closing for now

[2021-11-13 00:48] #388 closed

[2021-11-13 00:49] eonarheim commented on #389
Closing for now

[2021-11-13 00:49] #389 closed

[2021-11-13 01:04] eonarheim commented on #363
This can be done with an actor

[code]

[2021-11-13 01:04] #363 closed

[2021-11-13 01:04] #321 closed

[2021-11-13 01:05] eonarheim commented on #233
Closing for now

[2021-11-13 01:05] #233 closed

[2021-11-13 01:08] eonarheim commented on #156
Particles are now entities! This is very possible by attaching a collider component to them (although definitely will impact perf)

[2021-11-13 01:13] eonarheim commented on #1143
Dup of #1213, picking a winning (for some reason I made two issues?)

[2021-11-13 01:13] #1143 closed

[2021-11-13 01:19] eonarheim commented on #1015
There has been some updates here https://excaliburjs.com/docs/ui

Let us know if more needs to be addressed

[2021-11-13 01:19] #1015 closed

[2021-11-13 01:23] eonarheim commented on #2016
Should this issue be restructured to gracefully fail if no `window` is present?

[2021-11-13 02:31] kamranayub commented on #2016
Well I think we'd still like a template or example, and then the other issue is failing gracefully with no window

[2021-11-13 06:26] kevin192291 commented on #1038
Is this still an issue?  Want me to have a look at it?

[2021-11-13 15:10] eonarheim opened #2106 "Engine does not boot on Safari 13.1"
### Steps to Reproduce

Load up any of the Excalibur sandbox tests in Safari 13.1, looks like this is the class media query api jankiness in Safari that we need to smooth over. There may be more issues after this bug is fixed

![image](https://user-images.githubusercontent.com/612071/141648837-a30606a0-0acd-4d5d-acfe-5d567c5483d5.png)

### Expected Result

Excalibur should run on Safari 13.1 (Cata

[2021-11-13 20:15] #2106 closed

[2021-11-16 00:40] jedeen opened #2109 "'Features' docs page is missing"
### Expected Result

The https://excaliburjs.com/docs/features link in the main Readme should resolve

### Actual Result

The https://excaliburjs.com/docs/features link 404s

### Proposed Solution

Replace or remove the link to this page in the documentation.

### Current Workaround
None

[2021-11-28 04:56] #577 closed

[2021-11-28 04:56] #1170 closed

[2021-11-30 03:36] eonarheim commented on #497
This has been implemented!

[2021-11-30 03:36] #497 closed

[2021-12-08 08:11] lampewebdev opened #2152 "SpriteFont is not aligned"
### Steps to Reproduce

- Load spritefont like here: https://excaliburjs.com/docs/text#spritefont
- Add the font to a scene like this
[code]
It works when both text has the same length but breaks when they do not have the same length
### Expected Result

Font should be aligned on the X axis

### Actual Result

Fonts are not aligned

<img width="1223" alt="Screenshot 2021-12-08 at 09 07 56" src="ht

[2021-12-08 14:26] eonarheim commented on #2152
@lampewebdev Thanks for the excellent bug report!

Definitely not working as expected.

It appears that there is some internal state being shared across in the `ex.SpriteFont` that causes the placement to be buggy when re-used in other `ex.Text` objects. As a workaround while we work the bug, cloning the `spriteFont` seems to work for now (although not ideal).

<img width="294" alt="image" src="ht

[2021-12-17 03:34] tsanyqudsi opened #2157 "Error when build using Vite"
When i tried to build using Vite, apparently there are errors occured, and it's from `node_modules/excalibur/build/dist/Graphics/`

### Steps to Reproduce

Build using Vite

### Expected Result

No problems occured.

### Actual Result

[code]
### Environment

    "excalibur": "0.25.1",

- browsers and versions:
- operating system:
- Excalibur versions:
- (anything else that may be relevant)

### C

[2021-12-17 03:52] tsanyqudsi commented on #2157
nevermind.. i saw on the roadmap you guys still need to fix issues with `strict: true`

[2021-12-17 03:52] #2157 closed

[2021-12-17 04:06] eonarheim commented on #2157
@tsanyqudsi thanks for the issue!

I think this specific issue around the `Pool` type will go away in the next point release `0.15.2` with some work that's planned in the renderer code.

Any remaining issues will be covered by moving Excalibur to `strict: true`

[2021-12-17 04:26] eonarheim opened #2158 "Issue when upgrading the shootemup to v0.25.0"
### Proposal

Research alternative and/or additional distribution strategies to smooth over this experience
* UMD bundle on separate export path?
* UMD bundle CDN hosted
* Angular approach with multiple module types in dist
* Other approaches to hint the bundler?
* Others?

@kamranayub has some good thoughts on this https://github.com/excaliburjs/Excalibur/discussions/2156#discussioncomment-180972

[2021-12-18 02:50] #2152 closed

[2021-12-23 00:16] #1815 closed

[2022-01-12 09:39] luttje opened #2192 "Center of child not updated on parent move. Breaks camera strategies."
Because [camera strategies use actor.center](https://github.com/excaliburjs/Excalibur/blob/0082c6f7d2cf411d9e3bf9888051cde0538867bb/src/engine/Camera.ts#L105), and because the value of that doesn't change for parented actors, camera strategies break.

### Steps to Reproduce
Using the parcel v2 typescript template:
1. add a child to an actor using actor.addChild(childActor)
2. Set the camera strate

[2022-01-13 03:02] eonarheim commented on #2192
@luttje Thanks for the well written issue!

I was able to spot the problem in the source theoretically have a fix queued up :+1:

[2022-01-13 12:22] clinckzone commented on #2046
Hi, I would like to work on this issue.

[2022-01-13 14:40] #2192 closed

[2022-01-13 14:42] eonarheim commented on #2046
@clinckzone This issue has been stale long enough, it's all yours now!

@himanshu007-creator Let me know if you'd like a new issue👍

[2022-01-28 09:52] vbalien opened #2203 "Bug: engine.screenshot does not work in webgl context."
### Steps to Reproduce

To take a screenshot, I did the following:
[code]

### Expected Result

A screenshot should be returned.

### Actual Result

Returns an blank image.

### Environment

- browsers and versions: Chrome (97.0.4692.71), Firefox (96.0.2)
- operating system: Linux 5.16
- Excalibur versions: 0.25.2
- (anything else that may be relevant)

### Current Workaround

Use `useCanvasGraphi

[2022-01-28 14:19] eonarheim commented on #2203
@vbalien Thanks for the issue, definitely a bug 👍

[2022-01-28 16:40] eonarheim opened #2206 "Large images render as black rectangles, unclear messaging why in Excalibur"
### Steps to Reproduce

See discussion for more context https://github.com/excaliburjs/Excalibur/discussions/2205

Reproduction repo: https://github.com/pdrhlik/excalibur-android-tile-issue

1. Create a large image, exceed 4096 in either width or height
2. Attempt to load and draw the image
3. Observe excalibur logging webgl warnings like this:
    `WebGL: INVALID_VALUE: texImage2D: width or heigh

[2022-01-28 19:57] #2206 closed

[2022-01-28 20:11] #2203 closed

[2022-01-28 20:11] #1528 closed

[2022-01-31 10:21] luttje commented on #267
I hope you don't mind me bumping this old issue, but I'm looking for something like this. In the meantime while we wait I've got something that may help others looking to light their scenes.

I've conjured up a very cheap way to fake lighting:
![image](https://user-images.githubusercontent.com/2738114/151774757-b186b7ff-b6ae-4385-a2e2-138600c44219.png)

This is the general process:
1. Overlay the

[2022-01-31 15:13] eonarheim commented on #267
@luttje Wow this is very cool!

[2022-02-01 03:20] eonarheim commented on #573
We've been using this extension during development time https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker

Closing to clean up backlog, we may revisit in the future

[2022-02-01 03:20] #573 closed

[2022-02-01 03:21] eonarheim commented on #709
See https://github.com/excaliburjs/dev-tools 😄

[2022-02-01 03:21] #709 closed

[2022-02-01 03:22] eonarheim commented on #845
Closing we have samples up to date with CI and tests

[2022-02-01 03:22] #845 closed

[2022-02-01 03:26] eonarheim commented on #2158
Shootemup is upgraded to latest excalibur

[2022-02-01 03:26] #2158 closed

[2022-02-03 23:28] eonarheim opened #2224 "Pointer events don't work sometimes on mobile"
### Steps to Reproduce

See discussion for more details: #2202

Wire up pointer events and run on a mobile iOS or android device, seems to be reproducible when running in Ionic and Android in browserstack.

It appears that Excalibur is getting confused about the primary pointer in this mode and adding multiple pointers to track? Only happens in Ionic/Angular on a mobile device

<img width="192" al

[2022-02-04 04:03] #2224 closed

[2022-03-01 08:36] yongsooim opened #2263 "Add Enter key in enum Keys"
### Context
I want to test wasPressed(key: Keys) for the enter key, but there is no enum value "Enter" in enum Keys.
Without this, I have to use event method but I want the consistency with other keys.

### Proposal
Add Enter key in enum Keys

[2022-03-01 08:44] yongsooim commented on #2263
Added PR(#2264) for this issue

[2022-03-01 16:25] Mytrill opened #2267 "How can I color a Sprite in version 0.25.x?"
I cannot find any documentation/example on how to apply a color to a sprite.
It seems there used to be some Effect that could be added to sprites before (https://excaliburjs.com/docs/api/edge/classes/LegacyDrawing.Sprite.html#effects) but I cannot find any similar API in the latest version, I also checked the Migrating section in the docs (https://excaliburjs.com/docs/migration) but there is no me

[2022-03-01 16:41] #2267 closed

[2022-03-03 19:18] eonarheim commented on #2267
Hi @Mytrill

You are correct there isn't anything in the newer API to apply a color to the pixels in a graphic. I've been thinking about building something to provide a similar feature in the newer API.

If I can ask, what is your use case? It will help inform any future API updates/docs/workarounds.

One low fidelity workaround at the moment might be to update the image source to alter the color

[2022-03-03 19:23] eonarheim commented on #2263
Hi @yongsooim,

It's definitely desirable to know when the "enter" key is/was pressed.

I'll add this to our priorities for the next release.

Did you find a workaround by chance?

[2022-03-03 22:05] yongsooim commented on #2263
Thank you! I used event method like this for the workaround :
[code]

[2022-03-09 05:57] Joshua-Beatty opened #2271 "FitContent DisplayModes"
### Context

None of the current Display Modes respect a specific content size in logical pixels during resizing, while still filling up the whole container/screen.

### Proposal

Create a new display mode that can keep a specific resolution of logical pixels.

[2022-03-12 03:57] #2263 closed

[2022-03-30 01:21] eonarheim opened #2283 "Update TypeScript as a peer dependency"
### Context

See https://github.com/excaliburjs/Excalibur/discussions/2282

It isn't clear what versions of TypeScript Excalibur is compatible.

### Proposal

Using the npm peer dependencies would a systematic way to advertise the supported TypeScript versions.

We may want to look into a way of testing/verifying versions.

[2022-04-02 01:51] yongsooim opened #2288 "Add SpriteSheet creator funtion from variable sized sprites image"
### Context
I have variable sized sprites image. The size and position of each sprites are all different.
 Splitting sheets and making SpriteSheet from them was verbose.

### Proposal
I wrote a standalone function outside the SpriteSheet class.
Pass source views array for each sprites. It worked for me.
Maybe it would be helpful for someone if it is out-of-the-box.

I'm not a native English speake

[2022-04-07 03:03] eonarheim commented on #2288
Hi @yongsooim I like this idea!

I agree this definitely we want built into the engine I think 👍

[2022-04-07 03:04] eonarheim commented on #2288
@kamranayub @jedeen Any method name suggestions you have?

[2022-04-09 02:34] eonarheim opened #2290 "Text Graphics can easily get too large for the mobile limit (4k)"
### Steps to Reproduce

Add a sufficiently long piece of text

<img width="380" alt="image" src="https://user-images.githubusercontent.com/612071/162553274-88b31fb7-c2ef-4174-8390-087079c488d5.png">

<img width="277" alt="image" src="https://user-images.githubusercontent.com/612071/162553303-9e519882-4e17-43fc-bd70-b6ba1f29d802.png">

### Expected Result

Text should render regardless of size

###

[2022-04-09 02:43] eonarheim opened #2291 "Text Graphics seem pixelated regardless of quality"
### Steps to Reproduce

Even though `Text`'s default image filtering is blended by default, the text still renders in a pixelated.

[code]

<img width="463" alt="image" src="https://user-images.githubusercontent.com/612071/162553406-6f6f1415-2fac-4064-a16f-91e1e4bb2a09.png">

### Expected Result

Text graphics should render smoothed/crisp if possible by default

### Actual Result

Text is pixelate

[2022-04-09 20:02] #2291 closed

[2022-04-14 00:58] #2290 closed

[2022-04-14 22:32] Cretezy opened #2296 "Include src in npm package"
### Context

Sometimes while digging through code, it's useful to see the original implementation of a method.

### Proposal

Include `src` in the published npm package, allowing "Go to implementation" in editor. Example change: https://github.com/excaliburjs/Excalibur/commit/ce8ec03410b90b56b963139a9ceabd2b7cf377a4

[2022-04-15 09:51] SulthanNK commented on #2109
I would like to take this issue If no one started working already.

[2022-04-15 13:43] eonarheim commented on #2109
@SulthanNK all yours! Please replace the features link with https://excaliburjs.com/docs 👍

[2022-04-16 10:46] SulthanNK commented on #2109
Hi @eonarheim, I replaced the broken link with the new one and Raised the PR.

[2022-04-17 00:14] #2109 closed

[2022-04-17 00:40] eonarheim commented on #2296
I agree this would be very useful!

One way this could work in the current state would be to use Excalibur as a git submodule and import the main entry point (something like  `import * as ex from ./lib/excalibur/src/engine`).  Although git submodules are notoriously tricky and full of sharp corners.

I found an interesting concept mentioned online called a "source package", which would be a separa

[2022-04-17 00:42] eonarheim commented on #2283
Another thing to consider is using https://www.npmjs.com/package/downlevel-dts to support more versions of TypesScript

[2022-04-17 01:21] eonarheim opened #2300 "CompositeColliders treat separate constituents as separate collisionstart/collisionend which is unexpected"
This issue was bought to our attention by @Cretezy in this excalibur-tiled issue https://github.com/excaliburjs/excalibur-tiled/issues/344#issuecomment-1100220125

https://user-images.githubusercontent.com/2672503/163597286-7227c446-75a5-45d0-aca8-959e8f9ba83c.mp4

### Steps to Reproduce

This is easiest to reproduce with a TileMap or a CompositeCollider where a geometry seam is created.

This can

[2022-04-23 00:42] #2288 closed

[2022-04-23 01:20] #2300 closed

[2022-05-10 19:14] malitherl commented on #396
@eonarheim Hello, is this issue still up?

[2022-05-12 13:00] eonarheim commented on #396
@malitherl I haven't seen any traction on the issue yet, it's yours now!

[2022-05-13 02:38] PJinx commented on #1547
Could you use a try/catch method or something similar to grab the exception?

[2022-05-13 13:02] #2271 closed

[2022-05-21 03:08] YunlongYang opened #2319 "Try every template,no one can use"
[code]

[2022-05-21 03:11] eonarheim commented on #2319
Hi @YunlongYang thanks for the issue! Can you provide some more detail about what you problems you faced?

[2022-05-21 11:38] YunlongYang commented on #2319
@eonarheim I am so sad, you may clean all node_modules and cache, then start any template lke rollup,webpack, then you will see

[2022-05-21 12:31] eonarheim commented on #2319
Hi @YunlongYang I'm not able to reproduce a any issues, can you post any errors or issues you see specifically?

I've performed a fresh clone of the webpack template.

`git clone https://github.com/excaliburjs/template-ts-webpack.git`

With Node version 16.13.0 & Npm version 8.10.0

`npm install`

`npm run start`

<img width="521" alt="image" src="https://user-images.githubusercontent.com/612071/1

[2022-05-21 14:36] YunlongYang commented on #2319
My Version is
C:\Users\yunlong>node --version
v16.15.0

C:\Users\yunlong>npm --version
8.10.0

[2022-05-21 14:38] YunlongYang commented on #2319
@eonarheim It stay here,no move
C:\Users\yunlong\Desktop\WorkSpace\template-ts-webpack>npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old loc

[2022-05-21 14:41] YunlongYang commented on #2319
@eonarheim idealTree:template-ts-webpack: sill idealTree buildDeps

[2022-05-21 14:59] eonarheim commented on #2319
I've pushed an updated `package-lock.json` do you still have the issue now?

I updated to the same versions you have of node & npm and I still cannot reproduce unfortunately.

Otherwise, I've had similar issues with npm where installs can get stuck because of locked files. This sounds bad but sometimes restarting the computer will resolve npm issues caused by file locking.

Some common causes for

[2022-05-21 15:17] YunlongYang commented on #2319
@edualb still on another lib, you know my feelings

C:\Users\yunlong\Desktop\WorkSpace\test\template-ts-webpack>npm install
[#################.] \ reify:webpack: timing reifyNode:node_modules/resolve Completed in 464ms

[2022-05-21 15:20] YunlongYang commented on #2319
C:\Users\yunlong\Desktop\WorkSpace\test\template-ts-webpack>npm install
[##################] | reify:webpack: timing reifyNode:node_modules/webpack-dev-server/node_modules/ajv Completed in 10

[2022-05-21 15:22] YunlongYang commented on #2319
you can create new branch within node_modules, then i can use

[2022-05-21 16:01] eonarheim commented on #2319
Let me know how restarting your computer goes.

[2022-05-23 14:33] eonarheim commented on #243
We have easing function for now, I don't think bezier will add a lot of value. Closing for now.

[2022-05-23 14:33] #243 closed, assigned to nobody

[2022-05-23 14:34] #376 closed

[2022-05-24 23:18] eonarheim opened #2324 "Support Fullscreen mode with Other UI elements"
### Context

See discussion #2323

Currently the Excalibur fullscreen mode only targets the canvas element, which only allows that element to go fullscreen.

### Proposal

Allow `ex.Screen.goFullScreen()` to specify a target container element in some way.

A couple thoughts come to mind

[code]

[2022-05-25 02:59] #2324 closed

[2022-05-25 03:04] eonarheim commented on #777
Closing for now

[2022-05-25 03:04] #777 closed

[2022-05-25 03:09] eonarheim commented on #1361
Thanks for all the awesome comments on this issue! I'm closing this issue for now but we may open more when we have changes to make.

We will definitely reference all the links posted!

[2022-05-25 03:09] #1361 closed

[2022-05-27 00:12] #2319 closed

[2022-05-27 13:39] #242 closed

[2022-06-03 15:55] EzraMoore65 opened #2335 "Provide playback position from sound instance"
Was working on a rhythm game and hit a roadblock when I realized you cannot currently get the position of a sound instance. Managed to find another npm package that I can use, but would love to see this added to the engine.

[2022-06-03 19:27] eonarheim commented on #2335
@EzraMoore65 this would be a great idea! I fully endorse such a feature!

[2022-06-03 19:47] eonarheim commented on #2335
I'll have some time to look at it this weekend, I'll give it a shot

[2022-06-04 02:42] #2335 closed

[2022-06-04 15:03] eonarheim commented on #2335
@EzraMoore65 the latest alpha should include this feature, it'd be awesome to get your feedback

[0.27.0-alpha.474](https://www.npmjs.com/package/excalibur/v/0.27.0-alpha.474)

[2022-06-04 20:11] ewal opened #2338 "Tsserver throws error when class member names ends with $"
Not really an Excalibur bug so I hope it's alright that I post this here.

The problem occurs when trying to extend the Actor class. The Actor extends the Entity class which have a couple of observables with names suffixed with the `$` sign. When trying to add new members in my extended class, tsserver is throwing an error. Pics below.

I tracked down the problem to the version of TypeScript (4.6.

[2022-06-04 22:23] EzraMoore65 commented on #2335
@eonarheim Did exactly what I wanted. Thank you for the quick turn around!

[2022-06-04 23:10] eonarheim commented on #2338
Hi @ewal thanks for the issue!

Oh wow, this is very interesting! It's wild that `$` is messing with the tsserver/typescript, that should be a totally okay character to use in a variable name.

I have a colleague with a similar environment to yours that will be digging into the issue.

I found the related coc-tsserver issue you posted on (including here for posterity) https://github.com/neoclide/c

[2022-06-04 23:19] eonarheim commented on #2338
I'm wondering if it's an odd interaction with that specific version of typescript's tsserver and the tsserver extension? At least in vscode pointing to that same version of typescript it seems to work okay.

There might not be anything we can directly do here other than upgrade typescript on main.

[2022-06-05 08:24] ewal commented on #2338
Hi, thanks for the reply! I've been fighting this issue for quite a while now and have had many different theories but it feels like I'm going in circles. Tbh, I'm not even sure that TypeScript is the cause anymore. It might as well be something with my environment. But, I do work in several other ts projects and I've only seen this particular problem once before after migrating a js-file to ts; c

[2022-06-05 18:18] ivanjermakov opened #2341 "Docs: default CollisionType on Actor is incorrect"
### Steps to Reproduce

1. Initialize a new Actor `const actor = new Actor()`
2. Check collision type `actor.body.collisionType`

### Expected Result

Collision type is `CollisionType.PreventCollision` as per [Docs](https://excaliburjs.com/docs/collisiontypes)

### Actual Result

Collision type is `CollisionType.Passive`

### Environment

    "excalibur": "^0.26.0"

### Current Workaround

Initial

[2022-06-05 23:43] ewal commented on #2338
So, from experience I noticed that I've seen similar errors in another project after trying to migrate a javascript file to typescript, so I copied the content of Actor.ts into a new ts file and the tsserver started reporting new errors:

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/676873/172075403-c92cdddb-aea0-4581-9698-b30dc231bef3.png">

No idea if this is rele

[2022-06-06 00:29] eonarheim commented on #2341
Hi @ivanjermakov, thanks for the issue!

I'll look into this, and figure out what the default actually should be.

One advantage of `ex.CollisionType.PreventCollision` as the default is you aren't paying for any collision logic by default. There may have been a reason it was switched to `ex.CollisionType.Passive` so we'll want to understand why.

[2022-06-06 20:23] ewal commented on #2338
The quest continues... So, updating TypeScript only solved part of my problem and I'm now pretty convinced that the issue lies elsewhere. I downloaded this repo and began commenting out everything in the Actor class and then re-added its members, piece by piece. I added a new test class in sandbox/src and found that when adding a setter to the Actor class, the error is thrown as shown in the gif.

[2022-06-06 22:23] mattjennings opened #2343 "Jumping against and over a wall sometimes causes a collision that resets velocity (Arcade Physics)"
![Kapture 2022-06-06 at 16 58 07](https://user-images.githubusercontent.com/8703090/172256272-d8bce343-b63c-44eb-ac7d-3fc25f5c12f6.gif)

### Steps to Reproduce

The above gif can be reproduced using this [CodeSandbox example](https://codesandbox.io/s/excalibur-jump-along-wall-bug-xsym4w?file=/src/index.js). (CodeSandbox is finicky with capturing key events, best to open the preview in a separate w

[2022-06-06 22:52] mattjennings opened #2344 "Unexpected left/right side collisions when walking on ground made of consecutive objects (Arcade Physics)"
When walking along a ground made of consecutive objects with colliders, sometimes a left/right collision will occur.

I remember seeing an issue/discussion somewhere (I cannot find it again for the life of me) where someone mentioned it's best to have larger, single bodies rather than consecutive. However, I am using the [tiled plugin](https://github.com/excaliburjs/excalibur-tiled#excalibur-wirin

[2022-06-06 23:50] eonarheim commented on #2344
@mattjennings thanks for the issue! This is a tricky one for sure!

I suspect the issue is the collision contact ordering, In the TileMap example there would be a pair for each tile overlapping with the player. There is currently no preferred order for pair resolution, for example if a contact that is close to a left/right edge of the player (which has a minimum translation distance horizontally s

[2022-06-06 23:55] eonarheim commented on #2343
I mentioned in #2344 but I think these might be related.

I'm thinking a collision resolution bias towards vertical or horizontal collisions might help? Otherwise we may want to re-think the velocity solve step in the `ArcadeSolver` or perhaps make it configurable to be more forgiving on corner collisions such that if there is no clear correct vertical/horizontal direction to bias either horizonta

[2022-06-07 00:04] eonarheim commented on #2338
@ewal Thanks for digging into this issue so deep, this is truly mysterious!

True true! This code will in theory go away soon :) I have some performance optimizations that hopefully makes the old transform implementation obsolete (in addition to being a lot simpler) https://github.com/excaliburjs/Excalibur/blob/perf/transform-matrix-refactor/src/engine/Math/transform.ts

[2022-06-07 00:50] eonarheim commented on #2341
Thanks for pointing out the issue with `ex.Physics.enabled = false`!

I think it's unexpected that `pointerdown` events no longer work in that situation 😱

[2022-06-07 14:10] eonarheim commented on #2344
@mattjennings I think I've made some progress with the sorting by bias as a solution, I've also tweaked the arcade solver to solve position/velocity for a contact at once instead of solving all velocity then solving all position.

Seems to fix this issue, but needs some more testing and work to make it configurable

https://github.com/excaliburjs/Excalibur/pull/2345

[2022-06-07 15:27] mattjennings commented on #2344
oh wow! very much appreciate you looking into this so quickly - this looks promising!

[2022-06-07 22:05] #396 closed

[2022-06-07 23:33] eonarheim commented on #2343
Okay an additional tweak was made to fix this, effectively we don't adjust any velocities if the colliders are already moving away from the contact.

<img width="405" alt="image" src="https://user-images.githubusercontent.com/612071/172495189-4c316536-b0a3-40e0-841f-72d1593a2bd9.png">

This makes platforms a bit more forgiving on corner when rolling off and jump up and around.

![cancel-velocity-f

[2022-06-08 21:29] ewal commented on #2338
I found the cause to the problem, ... 13+ days later 😬 I'll write a short summary soon. Was about to go crazy there for a while.

[2022-06-10 13:25] #2343 closed

[2022-06-10 13:25] #2344 closed

[2022-06-11 14:28] eonarheim commented on #2341
I've updated the docs to match reality https://github.com/excaliburjs/excaliburjs.github.io/commit/5c579514482bc40d27f3ed8ef1f011bec264ad90

I'll have time this weekend to dig into what the default `CollisionType` should be going forward, and to fix that bug you pointed out.

[2022-06-12 15:13] ilnicki opened #2347 "Problems with EventDispatcher"
Hi team, started building a simple game and just encountered some problems with EventHandler. For now I've found at least 3 problems:

## EventHandler.off has a bug with removing nonexistent handlers
https://github.com/excaliburjs/Excalibur/blob/e446f5e237e1aa4d7b338642d75b8c427fa9b822/src/engine/EventDispatcher.ts#L84
indexOf returns -1 if none found, splice accespts -1
### Steps to Reproduce

co

[2022-06-12 15:22] eonarheim commented on #2347
Hi @ilnicki thanks for the issue! I appreciate the thorough reproductions.

These are definitely bugs we'll want to address soon. I'll have some time this weekend to look into them 👍

[2022-06-12 17:57] #2347 closed

[2022-06-12 18:01] eonarheim commented on #2347
@ilnicki Thanks again! The latest alpha build should have the fixes included. `excalibur@0.27.0-alpha.480`

Let me know if you run into any more issues!

[2022-06-17 12:15] eonarheim opened #2353 "EdgeColliders don't behave properly in a CompositeCollider"
### Steps to Reproduce

### Expected Result

`EdgeColliders` inside a `CompositeCollider` (to the left) should work as they do standalone (on the right). In this example it's from a TileMap's internal `CompositeCollider`

![edge-collider-bug](https://user-images.githubusercontent.com/612071/174295494-1fc3d761-aeca-4fb0-83dd-9abc55b36821.gif)

### Actual Result

EdgeColliders don't seem to actually

[2022-06-18 02:12] #2353 closed

[2022-06-18 22:18] ewal commented on #2338
Sorry for the delay, @eonarheim!

I decided to do some more testing. I still haven't figured out the source of the problem but at least I now know how to bypass it :) I have my suspects though, see further down.

TLDR;
The problem goes away if the consuming project is using TypeScript version <= 4.5.5

**Using Excalibur in a new minimal project**

- Between tests all dependencies was removed and f

[2022-06-18 23:03] ewal commented on #2338
Btw, I have problems running the specs. The failing specs all relate to headless chrome and I can't find a solution. For example `Chrome Headless 99.0.4844.0 (Linux x86_64) WebGL Adapter will not throw if accessed after GL creation FAILED`.
Any idea?

[2022-06-19 04:15] eonarheim commented on #2338
@ewal Interesting, it might mean that the WebGL context is failing to initialize in linux for some reason. Are you able to create a `webgl2` context in your browser?

The WebGL accessor gets registered right after the context creation, if it failed it would explain the failing test
<img width="494" alt="image" src="https://user-images.githubusercontent.com/612071/174465561-4dfbc4a2-674f-4830-aa45-

[2022-06-19 15:41] ewal commented on #2338
Replaced ChromeHeadless with ChromiumHeadless and got a bit further. Test still fails but for different reasons. On Linux now but gonna test in os x too.

[2022-06-19 16:37] ewal commented on #2338
Another thing – I can't install the packages in the main branch without either upgrading typedoc to the latest version or downgrading typescript to 4.5.5. That might be a hint that the problem comes from typedoc.
This is the error I get when trying to install modules after deleting the node_modules folder and package-lock.json:
[code]

[2022-06-19 22:42] eonarheim commented on #2338
Thanks for the note! Looks like I had my user .npmrc misconfigured locally to `legacy-peer-deps=true` masking the issue for me!

I'll push and npm override for typedoc to the main repo, unfortunately upgrading typedoc is usually a bigger task. Typedoc seems to work for our purposes with it's TypeScript peer overriden temporarily.

[2022-06-19 22:49] eonarheim commented on #2338
Also it's possible some of the text/font related tests may fail if the OS doesn't exactly render the fonts the same as our GH CI environment (ubuntu-latest) with Chrome. Text rendering is very operating system dependent unfortunately.

[2022-06-22 19:57] HxShard opened #2359 "Chromium's Image#decode has limited calls"
It's a Chromium specific issue. In Firefox & Safari works as expected.

[codesandbox](https://codesandbox.io/s/happy-gagarin-j1vjr) from [this](https://bugs.chromium.org/p/chromium/issues/detail?id=1055828#c7) issue on chromium.org
Another issue is [here](https://bugs.chromium.org/p/chromium/issues/detail?id=606319).

Possible solutions:
1. Add option to load images through DOM
2. Set up a limit f

[2022-06-23 12:06] eonarheim commented on #2359
@HxShard thanks for the issue, wow this is a great find!

I don't think we've tried to load that many images at once, glad you found this. I like option 2 the most, it would be the most transparent for users loading images.

[2022-06-23 12:17] eonarheim commented on #2359
I bet we could implement something similar to a semaphore in front of the `image.decode()` in `ImageSource` and limit to 256 images. This SO post looks like promising start https://stackoverflow.com/a/68446264, we might need to tweak that implementation a bit to be a standalone semaphore and not require a function be passed.

[code]

[2022-06-25 16:39] ewal commented on #2338
Should we close this issue? I'm using typescript 4.5.5 in my project which works fine and I seem to be alone experiencing this problem.

[2022-06-25 18:37] #2359 closed

[2022-06-25 19:26] eonarheim commented on #2338
Sure @ewal let me know if you run into new information and we'll look into it again 👍

[2022-06-25 19:26] #2338 closed

[2022-06-26 15:06] eonarheim opened #2367 "Support Types with native ESM modules"
### Steps to Reproduce

See discussion https://github.com/excaliburjs/Excalibur/discussions/2366 for more context.

Using native .esm module from https://esm.sh/excalibur

[code]

### Expected Result

Type information should be included with native esm module

### Actual Result

No type information is available

### Environment

- browsers and versions:
- operating system:
- Excalibur versions:
-

[2022-06-26 15:30] eonarheim opened #2368 "Physics bounciness and degrees of freedom not working?"
### Discussed in https://github.com/excaliburjs/Excalibur/discussions/2365

<div type='discussions-op-text'>

<sup>Originally posted by **KokoDoko** June 26, 2022</sup>
I am building a excalibur game with realistic physics, in my game I enable physics with

[code]
This works, and I can add Actors with physics properties, except for these two:

[code]

The body does not bounce, and can still rotate

[2022-06-27 14:32] #2368 closed

[2022-06-28 02:18] #2341 closed

[2022-06-28 02:31] eonarheim commented on #2341
I'm closing this for now, we've update the docs to match reality and theoretically fixed the pointerdown issue when physics is disabled 👍

@ivanjermakov Thanks again for the issue!

[2022-06-29 00:18] mattjennings commented on #1548
Are you willing to take PRs on this? This is something I have need for and would be happy to contribute.

To preserve backwards compatibilty with the current API of `onActivate(oldScene, newScene)`, I think it would be fine to have `data` as a 3rd parameter. But I do like having a single `context` parameter more if we're okay having that as a breaking change.

As for typing, what if we had it Scen

[2022-06-29 00:30] eonarheim commented on #1548
@mattjennings Definitely all yours!

I'd be okay with the breaking change in this case for scene activation, the `context` sets us up for future additions.

I think your generic proposal is reasonable 👍 the default type parameter will help keep existing `new ex.Scene()` code backwards compatible without requiring users to supply a generic. Maybe we call it `TActivationData` for greater specificity

[2022-06-29 00:50] mattjennings commented on #1548
Awesome! I'll get to it.

Would we want to change the API for `onDeactivate` as well to match? I'm not sure if the `oldScene` and `newScene` params were around when this issue was made, but in the suggested `SceneActivationContext` type it only has `previousScene`.

I imagine we want references to previous & next scenes for both `onActivate` and `onDeactivate`. How would we feel about something li

[2022-06-29 02:02] eonarheim commented on #1548
@mattjennings I like all of these suggestions :+1:

I like `previousScene` and `nextScene`, they use clearer language. It communicates directionality better than new/old.

[2022-06-29 21:30] mattjennings opened #2374 "Karma tests fail on M1 Macs"
Relavant discussion - https://github.com/excaliburjs/Excalibur/discussions/2372

The karma test suite currently fails on Macs using M1 chips due to various webgl errors. Switching from Chrome to Chromium fixes this.

### Steps to Reproduce

Run `npm run test` on a Mac with M1 chip

### Expected Result

tests to pass

### Actual Result

about ~80 tests fail with an error like:

[code]

### Environm

[2022-06-29 21:40] mattjennings opened #2376 "VS Code settings.json causes error messages with the eslint extension"
The eslint config in `.vscode/settings.json` causes this to pop up:

![](https://user-images.githubusercontent.com/8703090/176332317-86ed0b98-812a-4020-a620-c90858331d9c.png)

It should be updated as the extension suggests.

### Steps to Reproduce

Open a .ts file in VS Code

### Expected Result

No error message pop up

### Actual Result

Error messages pop up

[2022-06-29 21:57] mattjennings opened #2378 "Enforcing prettier & eslint"
There is a prettier config file but it is not enforced. Running `npm run pretty` right now affects 230~ files and also causes some lint errors:

[code]

@eonarheim suggested [removing it altogether](https://github.com/excaliburjs/Excalibur/discussions/2372#discussioncomment-3044591). I can make a PR to do that if that's the desire, but I'm a fan of prettier for formatting and linting should be enf

[2022-06-29 23:20] mattjennings commented on #1548
It seems using a generic as part of the Scene class isn't too helpful, and actually causes type issues in certain scenarios.

1. I thought that the type for `onActivate` could be inferred by the generic - but unfortunately that's not how Typescript works when extending classes:

[code]

2. `Scene<TData = undefined>` breaks any type that expects a regular `Scene` but gets one that has a defined gen

[2022-06-30 03:13] eonarheim commented on #1548
Hmm indeed, in that case I think providing it in the `onActivate` might be the best path forward 👍

[2022-06-30 03:16] #2376 closed

[2022-06-30 04:34] tenpaMk2 opened #2379 "`.goToScene()` doesn't work properly on the 2nd call?"
Hi, thanks developers.

### Steps to Reproduce

**index.ts**

[code]

**scene1.ts**

[code]

**scene2.ts**

[code]

1. use `excalibur@0.26.0`
2. start game, tap the center square

### Expected Result

go to the `scene2` (appear the cyan square) .

### Actual Result

Nothing appears.

### Environment

- Chrome (103.0.5060.53)
- Mac OS Monterey 12.4
- Excalibur versions: 0.26.0

### Current Workarou

[2022-06-30 13:52] eonarheim commented on #2379
@tenpaMk2 Thanks for the issue!

It looks like the internal `engine.currentScene` that is used by `engine.add()` hasn't switched over during `Scene2`'s `onInitialize`, definitely an excalibur bug.

As a workaround you can add actors directly to their owning scene `this.add()`, I've modified the `Scene2` like this

[code]
![oninit-bug](https://user-images.githubusercontent.com/612071/176694801-cd16

[2022-06-30 14:40] tenpaMk2 commented on #2379
@eonarheim Wow, what a quick fix!! Thank you!!
The workaround that you advised works fine😁

[2022-07-01 00:30] #1548 closed

[2022-07-01 00:47] #2379 closed

[2022-07-01 16:14] mattjennings commented on #1548
@eonarheim oops, it seems the types are a bit off.

<img width="756" alt="CleanShot 2022-07-01 at 10 55 56@2x" src="https://user-images.githubusercontent.com/8703090/176929150-aed42bd1-b603-4f2e-bcb1-2227d44ec0aa.png">

This is because the class methods take generics, i.e `onActivate<TData = undefined>`. Which means the inheriting class also has to match the same definition of generics:

[code]
..

[2022-07-01 16:16] eonarheim commented on #1548
@mattjennings sounds good! Thanks for pointing this out 👍

[2022-07-01 18:43] #2374 closed

[2022-07-02 05:10] #651 closed

[2022-07-02 05:13] eonarheim commented on #1176
This appears to have been fixed :)

[2022-07-02 05:13] #1176 closed

[2022-07-02 17:32] mattjennings opened #2398 "Some links appear to be broken on docs"
for example:

https://excaliburjs.com/docs/entity-component-system
https://excaliburjs.com/docs/actors

Any of the `[[text]]` links are being shown literally.

I think this happened fairly recently, or at least I don't recall the links being broken a week or 2 ago.

[2022-07-02 17:59] eonarheim commented on #2398
@mattjennings Hmm, it might have been the TypeScript upgrade on main, TypeDoc is really picky about that unfortunately. I'll take a look.

[2022-07-02 19:32] eonarheim commented on #2398
@mattjennings Thanks for pointing this out! It was the TypeScript upgrade in combination with TypeDoc

Fixed with https://github.com/excaliburjs/Excalibur/commit/48471a77a2cae3e7b78447a8c54102b0844d7839 and https://github.com/excaliburjs/excaliburjs.github.io/commit/997069d0f6885ad8661276762fc95f7ad7cae02a

[2022-07-02 19:32] #2398 closed

[2022-07-07 02:16] eonarheim opened #2401 "Support arbitrary raycasting into a Scene"
### Context

Currently you must have a reference to a collider in order to perform a raycast against it, this quickly becomes slow, unwieldy, or impractical if a scene has many colliders.

### Proposal

Add a way off of scene to raycast arbitrarily and get results

Possible sketch

[code]

[2022-07-07 02:40] mattjennings commented on #2401
This looks like a good approach to me!

The only other suggestions I might have is some way to filter out by collision groups. I might want to just raycast against a "floor" group, for example. That could either be an option passed to the raycast (the collision group/name), or if there's a way to get all colliders from a collision group I could cross-reference them with the hitResults (though that

[2022-07-07 03:01] eonarheim commented on #2401
Good point, maybe this, where we pass an optional option bag with the various configurations?

[code]

[2022-07-07 12:52] eonarheim opened #2403 "ex.Canvas forces dimensions to next size power of 2"
### Steps to Reproduce

Setting the dimension of a ex.Canvas to 200x200 forces it to 256x256, this is unexpected to users. If we need power of two images it should be handled internally not leaked to the user.

There does seem to be a bug in the current `ex.Canvas` which forces the dimensions to be the next greatest power of 2 size. We should be able to fix `ex.Canvas` to allow arbitrary width/hei

[2022-07-07 14:02] #2403 closed

[2022-07-11 16:00] robly18 opened #2407 "Actor clone method throws error"
### Steps to Reproduce

Clone an actor. See minimal working example, cannibalized from the documentation paddle example:
[code]

### Expected Result

A deep copy of `paddle` would be stored in `paddle2`.

### Actual Result

When the code is compiled and executed, the following error is printed to the console, and execution halts:
[code]

### Environment

- browsers and versions: Firefox 102.0.1 (6

[2022-07-11 16:02] robly18 opened #2408 "Actor not assignable to ActorArgs, contrary to documentation"
### Steps to Reproduce

Minimal working example:
[code]

### Expected Result

See the following page of the documentation: https://excaliburjs.com/docs/engine#constructor-arguments

It states: "In fact you can create a duplicate this way", followed by the code snippet
[code]

### Actual Result

Compilation failed with error:
[code]

### Environment

- browsers and versions: Firefox 102.0.1 (64-bit

[2022-07-11 22:21] eonarheim commented on #2407
@robly18 Thanks for the issue!

Definitely a bug, I should have some time this week to look into this but clone should work like you expect.

[2022-07-11 22:25] eonarheim commented on #2408
@robly18 Thanks for the issue!

I think the documentation is out of date on this one, I think we removed this feature on purpose due to it's complexity. `clone` is generally the most preferred way to duplicate. I'll prioritize #2407

[2022-07-12 01:50] mattjennings opened #2409 "Engine VisibleEvent is not firing on visibility change"
### Steps to Reproduce

This is reproducible with the [sample platformer](https://codesandbox.io/s/github/excaliburjs/sample-platformer)

- Start game
- Switch tabs or unfocus window
- Go back to game and it remains paused
- console log only shows "pause", no "start", which means the visible event never fired

### Expected Result

Engine should emit the "visible" event when window is focused

###

[2022-07-12 02:30] eonarheim commented on #2409
@mattjennings Thanks for the bug! Good find!

It definitely seems the browsers have improved their support for visibility. I would also support simplifying the code to remove the old prefixed polyfills.

[2022-07-13 18:39] DaVince opened #2411 "Multiple Text objects using the same Font object overwrite each other"
When creating more than 1 Label or Text that use the same Font, Excalibur gets confused and overwrites the contents of previous Labels. It also offsets the x positions of the Labels randomly.

![image](https://user-images.githubusercontent.com/105533/178805237-0557710c-b1da-4221-995d-552609739e48.png)

### Steps to Reproduce

* Create a font resource.
* Create two Labels with different text and co

[2022-07-14 02:25] eonarheim commented on #2411
@DaVince Thanks for the issue!

Definitely a bug! Feels like I've fixed this one before, you should be able to re-use the fonts as you expect.

[2022-07-14 02:44] eonarheim commented on #2411
Doh, definitely a regression I should have a fix up soon (with a better test to prevent this from happening again)

Related #2152

[2022-07-15 06:11] #2409 closed

[2022-07-16 03:19] #2411 closed

[2022-07-16 04:33] eonarheim opened #2416 "Add a convenient hook for Postprocessors to update"
### Context

Currently there is no lifecycle hook for postprocessors to update over time.

See discussion #2415

### Proposal

Add some sort of hook that allows users to update uniforms after the shader has been bound.

Perhaps a `onPreRender()` or `update`? Not sure what makes the most sense?

[2022-07-16 07:14] DaVince commented on #2411
Excellent, thanks so much!

[2022-07-16 18:06] ewal commented on #2338
@eonarheim, I really wanted a new feature in ts 4.7.4, still using 4.5.5, so I did a health check inside the ./src/engine folder by generating a new tsconfig template with `npx tsc --init` and did a build with `tsc`. TypeScript found 707 errors, but of course with just the default configuration for 4.7.4. Perhaps it's still a good idea to diff the changes with the latest. (Did I git blame and saw

[2022-07-16 20:13] kennyneedsmilky opened #2417 "Actors page Working with Images & Sprites having incorrect info"
On the Actors page, in the Working with Images & Sprites section, it shows incorrect information about actor.

As you can see in the picture, isn't it supposed to be `actor.graphics.use(sprite)` instead of `actor.use(sprite)` ?

<img width="939" alt="スクリーンショット 2022-07-17 午前5 07 59" src="https://user-images.githubusercontent.com/74458502/179370600-3721b36a-ce10-4a1c-b8da-b97905ec09c8.png">

[2022-07-16 20:21] mattjennings commented on #2416
I have personally been doing something like this:

[code]

which I honestly haven't minded to this point, but this about as complex as my usage has gotten.

A lifecycle hook that allows me to set the uniforms once instead of both in initialize and an update loop would be nice. Possibly something that abstracts`shader.use()` when setting uniforms would be handy too (but I imagine there's good reaso

[2022-07-17 00:18] mattjennings opened #2418 "Emitting an event with a value of 0 produces a GameEvent instead"
When emitting a custom event on an object, if the value is 0 it gets overwritten by a GameEvent due to this line:

https://github.com/excaliburjs/Excalibur/blob/730d621805d32104c18dc7ca8d9e97c7f212bb2b/src/engine/EventDispatcher.ts#L36-L38

### Steps to Reproduce

Emit an event with a value of 0:

[code]

### Expected Result

Value to be persisted

### Actual Result

Value gets overwriten with Gam

[2022-07-17 04:15] mattjennings opened #2419 "Child entities don't inherit scene from parent, logs warning when killed"
It appears that child entities do not inherit `this.scene` from its parent. I first noticed this when killing an actor with children and getting the following warning:

[code]

After digging into it I noticed it was the child entity logging the warning, as `this.scene` was null here:

https://github.com/excaliburjs/Excalibur/blob/730d621805d32104c18dc7ca8d9e97c7f212bb2b/src/engine/Actor.ts#L795-L8

[2022-07-17 15:19] eonarheim opened #2420 "Evaluate and update `tsconfig.json` to be more modern"
### Context

The current `tsconfig.json` has evolved over time and has potentially drifted from the default config.

### Proposal

Evaluate the differences between the current `tsconfig.json` and a fresh `npx tsc --init`

Potential benefits to evaluate
* Updated transpile targeting could result in smaller bundlesize
* More accurate tslib
* Light up more modern TS features

[2022-07-17 15:19] eonarheim commented on #2338
@ewal Good observation, I've made an issue to evaluate the tsconfig and look into generating a more modern one.

https://github.com/excaliburjs/Excalibur/issues/2420

Out of curiosity which new TS feature do you want to leverage?

[2022-07-17 15:20] eonarheim commented on #2417
Hi @kennyneedsmilky, thanks for the issue!

I believe you are correct, this is indeed a typo in the docs 👍

[2022-07-17 15:30] eonarheim commented on #2416
@mattjennings I like what you've done here! That's a pretty convenient work around at the moment.

I think it makes sense to have a shader specific lifecycle hook for the situation you describe. Perhaps something specific like `onUpdate(...)` which would be called every frame and be guaranteed to have `shader.use()` constext setup? And maybe a `onInitialize(...)` which would be called once?

It's

[2022-07-17 15:32] eonarheim commented on #2418
@mattjennings Thanks for the bug!

My spidey sense says this is likely bad falsey checking and providing a default `GameEvent`

[2022-07-17 15:48] eonarheim opened #2421 "Investigate Unintended Screenshot Antialiasing"
### Steps to Reproduce

See discussion thread: https://github.com/excaliburjs/Excalibur/discussions/2415

Excalibur screen shots seem to apply an AA effect that wasn't present on the game screen at the time the screenshot is taken.

Before screenshot, crisp pixels

<img width="190" alt="image" src="https://user-images.githubusercontent.com/612071/179406002-9df718c7-7ed4-482a-b028-e4ae0a799407.png"

[2022-07-17 15:51] eonarheim commented on #2419
@mattjennings Thanks for the issue!

Definitely a bug, it should 100% have the scene attached that is an oversight.

[2022-07-17 16:46] mattjennings commented on #2416
That all sounds good to me!

A set of well-known uniforms from ShaderToy would be awesome. It seems to be the go-to for examples, and it would really help newcomers like myself with migrating to Excalibur.

[2022-07-17 17:36] mattjennings commented on #2421
Here's a repro: https://codesandbox.io/s/excalibur-antialias-screenshot-zbw94v

At the bottom you'll see `new ScreenShotter({ hires: false })` - changing that to true will fix the antialiasing. I think this is _probably_ not a bug though. It only happens if the character is on a half-pixel. If `engine.screenshot(false)` produces a screenshot at game resolution, then it makes sense that it gets ant

[2022-07-17 17:52] mattjennings commented on #2418
@eonarheim yup that's what's happening here. I started working on a PR to fix this by only forcing to `GameEvent` if `null` or `undefined` - however I noticed the type definition for `emit` on `EventDispatcher` is:

[code]

while on `Class` it's:

[code]

so while I can update `EventDispatcher` to preserve non-GameEvents, it goes against the expected type. Should `Class` be updated to take `GameEv

[2022-07-17 18:17] eonarheim commented on #2418
Awesome, thanks for picking this up!

My intention is to remove the `GameEvent<T>` requirement eventually, it's been artificially constricting (requiring people to build custom events for simple things) and hasn't been very useful in general...

I'd support widening the type in the PR to be looser on `EventDispatcher.emit()`, maybe this?

[code]

Otherwise I'm okay with a tactical change to just a

[2022-07-17 19:06] mattjennings commented on #2418
Good to know, I agree that it is a bit cumbersom to have to make custom events for simple values.

Doing `GameEvent<T> | any` effectively just casts it as `any`, unfortunately:

<img width="542" alt="CleanShot 2022-07-17 at 13 36 49@2x" src="https://user-images.githubusercontent.com/8703090/179420053-6aae4a52-231a-4d2b-ae50-b5ed3b3066b8.png">

I will just address the falsey check for now then!

[2022-07-17 22:45] #2418 closed

[2022-07-18 08:10] tenpaMk2 opened #2424 "Fatal error when use many Text graphic in Tilemap."
### Steps to Reproduce

DL my repo ↓.

<https://github.com/tenpaMk2/excalibur-examples/tree/for_excalibur_issue_ticket_1/examples/dungeon-generator>

[code]

Tap/click about 40 times in the game screen.

#### my code

[code]

### Expected Result

A fatal error doesn't occur.

### Actual Result

A fatal error occurs.

The logs are as follows.

[code]

### Environment

- browsers and versions: Chrom

[2022-07-18 14:49] tenpaMk2 commented on #2424
@eonarheim , Thanks for your quick replying!!
Please let me know if there is anything I can do!!

[2022-07-18 21:58] ewal commented on #2338
Very nice :+1:

The new feature is called `moduleSuffixes`. I thought it would help me solve a problem with a file import but actually I'd misunderstood its purpose.

[2022-07-19 00:28] ewal opened #2425 "Actor postupdate event signature"
(Not a real breaking issue since the interfaces are identical, but could cause some confusion :))

The `postupdate` method in the Actor class returns a `PreUpdateEvent`.

https://github.com/excaliburjs/Excalibur/blob/main/src/engine/Actor.ts#L989

[2022-07-20 04:16] chrisk-7777 commented on #2419
I was just about to raise something similar, so good timing!

My suggestion was to improve the warning message to include the actor's name to help narrow down the warning when it does pop up. But a fix to the underlying issue would also be ace.

Something like:
[code]

[2022-07-20 14:06] eonarheim commented on #2421
@mattjennings I've found that matching the internal screenshot canvas to the current screen smoothing seems to produce more desirable results out of the box (https://github.com/excaliburjs/Excalibur/pull/2428). I think this makes the workaround unnecessary?

Let me know what you think! I'm still poking around, it is also resisting being tested for some reason

[2022-07-20 14:47] tenpaMk2 commented on #2424
@eonarheim , Thanks for fixing.

I tried to execute same code (not use workaround) on [0.28.0-alpha.529](https://www.npmjs.com/package/excalibur/v/0.28.0-alpha.529),
but a fatal error still occured 😓
Is it your expected result?

[code]

Which one is correct?

1. You expected that `0.28.0-alpha.529` works OK but has performance issue.
2. You expected that `0.28.0-alpha.529` works NG because of perf

[2022-07-20 14:57] eonarheim commented on #2424
@tenpaMk2 I'll double check on a Mac to make sure the error doesn't happen. I was testing on windows so it's possible there is a platform component to this issue 👍

I expected the error to be gone in 0.28.0-alpha.529 without any changes needed (option 1).

[2022-07-21 00:32] eonarheim commented on #2424
@tenpaMk2 Okay I can definitely reproduce the issue in browserstack!

I think what is happening many `ex.Font` objects exhausts the gpu memory and it doesn't get reclaimed fast enough. Each `ex.Font` keeps a bitmap cache of drawn text, which I think think is getting too large for the Chrome build on the Mac.

I have a couple ideas I'm going to try to fix it:
1. Global font cache, fonts could possi

[2022-07-21 00:47] tenpaMk2 commented on #2424
@eonarheim I'm glad (sad?) you can reproduce it. Thanks.
Sorry, I don't know how difficult it is, but option 1 seems like a good choice.

[2022-07-22 03:45] mattjennings commented on #2421
@eonarheim oh! very interesting. I just gave it a try and I'm not seeing any antialiasing like before, so I would say this is a good fix!

[2022-07-22 13:56] eonarheim commented on #2421
Thanks for checking it out! I'll have some time today to hopefully get it merged 👍

[2022-07-22 20:51] #2419 closed

[2022-07-22 22:16] #2424 closed

[2022-07-23 02:22] chrisk-7777 commented on #2419
Thanks for the fix! It's amazing the speed of development on this project

[2022-07-23 03:58] #2425 closed

[2022-07-23 04:22] #2421 closed

[2022-07-23 15:47] eonarheim commented on #2417
Updated! Docs should be redeployed momentarily 👍  https://github.com/excaliburjs/excaliburjs.github.io/commit/d08b1fb2b39aee436410240e40c74306de019596

Thanks again @kennyneedsmilky!

[2022-07-23 15:47] #2417 closed

[2022-07-27 21:58] mattjennings opened #2435 "Screen.contentArea and canvas seems to get out of sync when resizing window"
I might be misunderstanding how to use `Screen.contentArea`, but it seems that when using a display mode of `FitScreenAndFill` either the bounds are incorrect or the canvas does not draw positions properly after the window is resized.

Here's a video of the codesandbox repro below. When I refresh the page, the positions are correct.

https://user-images.githubusercontent.com/8703090/181378639-d650

[2022-07-27 23:56] eonarheim opened #2436 "Investigate replacing/changing `instanceof` checks"
### Steps to Reproduce

Using `instanceof` internally in Excalibur has been a source of bugs depending on the bundle/minifier. Vite and Angular appear to need additional configuration to work around their default minification settings so they preserve constructor names.

See
* https://github.com/excaliburjs/excalibur-tiled/issues/344#issuecomment-1098702780
* https://github.com/excaliburjs/Excalib

[2022-07-28 00:05] eonarheim commented on #2435
@mattjennings Thanks for the bug!

Definitely feels like a bug, I share your expectations 👍

[2022-07-28 00:17] eonarheim opened #2437 "`ParticleEmitter` doesn't respect parented positioning"
### Steps to Reproduce

`ParticleEmitter` doesn't respect positioning when added to a `Entity` as a child.

See discussion https://github.com/excaliburjs/Excalibur/discussions/2433#discussioncomment-3217602

### Expected Result

`ParticleEmitter` should follow the standard parent/child relationship

### Actual Result

Does not position properly

### Environment

- browsers and versions: N/A
- oper

[2022-07-28 02:33] eonarheim commented on #2435
I have a workaround for this example, it positions the camera in the center of the screen. This may not work in all situations... but not totally sure.

[code]

I think the core issue with `contentArea` the `*AndFill` style display modes is that the resolution changes dynamically (more world space pixels), but the camera position does not adjust with it. I think the fix will involve adjusting came

[2022-07-28 02:59] eonarheim commented on #2435
Oh I just realized that `contentArea` is in screen space which is a potentially confusing aspect. Actors in world space still drift unexpectedly, but this will draw the `contentArea` in world space at least.

[code]

[2022-07-28 03:13] eonarheim commented on #2435
Sorry for all the spam! Would you expect that the top left of the content area would always correspond to (0, 0) in world space? I feel like that _should be_ the right thing to expect (currently not the case in excalibur)

<img width="759" alt="image" src="https://user-images.githubusercontent.com/612071/181412072-5e9e234b-ff2e-462f-bf55-47058e9e8bc2.png">

[2022-07-28 23:11] mattjennings commented on #2436
Perhaps this useful insight: I ran into `instanceof` not working properly when npm linking `@excaliburjs/plugin-tiled` to my project. This caused the tilemap to not render anything at all, exactly like [#344](https://github.com/excaliburjs/excalibur-tiled/issues/344#issuecomment-1098702780). The problem ended up being multiple excalibur installs in `node_modules`, rather than anything with minific

[2022-07-28 23:25] mattjennings commented on #2435
I think that is what I would expect, but this is the first time I've ever worked with a dynamic resolution so I'm not sure if that's the correct expectation 😅. If that's also what you would expect though, then I think that would be the proper change. I may have also been thrown off by the `contentArea` being in the screen space like you said, but I think your code snippet there might do the trick.

[2022-07-30 23:01] robly18 opened #2440 "Context Opacity Not Working as Intended"
### Steps to Reproduce

Minimal working example:

[code]

### Expected Result

Notice the definition of `onPreDraw` in the previous example:
[code]

Then, it would be expected that everything subsequently drawn would have its opacity multiplied by 0.2, creating a collection of transparent rectangles.

### Actual Result

The two rectangle actors (`paddle` and `paddle2`) are drawn with no opacity. T

[2022-08-01 14:13] eonarheim commented on #2440
Hi @robly18 thanks for the issue!

Definitely seems like a bug.

I'll have some time this week to dig in, I appreciate the detailed issue and workaround👍

[2022-08-03 13:26] eonarheim commented on #2440
I think I've figured out what is wrong here, I'll have a PR up soon :+1:

[2022-08-03 13:50] eonarheim commented on #2440
@robly18 You definitely nailed the likely code issue! We weren't respecting the current context's opacity
<img width="925" alt="image" src="https://user-images.githubusercontent.com/612071/182624786-bdeb8706-2bc5-44ed-aaf9-46e7e2df2448.png">

[2022-08-03 18:09] mattjennings opened #2450 "Sound looping does not seem to be working"
### Steps to Reproduce

repro: https://codesandbox.io/s/github/mattjennings/excalibur-sound-loop-bug

1. set `snd.loop = true`
2. play via `snd.play()`
3. sound does not loop

This occurs on Safari/Chrome/FF. However, some funny behaviour between the 3:

On Chrome, if I unfocus/refocus the tab the sound will play again.

On FireFox, switching to a different tab will sometimes loop the sound, but a

[2022-08-04 01:08] eonarheim commented on #2450
@mattjennings Thanks for the bug and the thorough reproduction!

I think the loop regression and odd behavior may have been caused by the `Sound` refactoring to an internal state machine. I think I have a fix :+1:

[2022-08-05 21:44] #2450 closed

[2022-08-05 22:35] #2440 closed

[2022-08-06 02:54] eonarheim commented on #2435
@mattjennings I think I've got this fixed up in the PR, some small code changes but it should produce the desired effect once merged.

The `contentArea` is in screen space, so to draw those bounds I switched the `bounds` actor to `  coordPlane: ex.CoordPlane.Screen`. Now the origin should always be the top left of the green bounds 🚀
![content-area](https://user-images.githubusercontent.com/612071/

[2022-08-06 03:44] #2437 closed

[2022-08-06 03:52] #2435 closed

[2022-08-07 15:07] chrisk-7777 commented on #2419
Just a follow up to this one. I'm getting a strange issue, its somewhat related to the above - I started by calling `killChild` but it seems the parent actor `.children` is left "as is" (still populated).

So as an alternative, I tried `removeAllChildren` instead, but I believe there might be an issue there. See demo:

https://codepen.io/chrisk7777/pen/gOeKOOy?editors=0010

Note how every second c

[2022-08-07 22:30] eonarheim commented on #2419
@chrisk-7777 thanks for the follow up! I think we definitely have a couple bugs! These should be easy to fix quick, thanks for spotting! I can make a quick issue for these 👍

Bug 1: Doh! You're 100% right about the `removeAllChildren` that is definitely a problematic way to remove them all. Classic removing elements while iterating bug 💣

Bug 2: Child actors should definitely not be present in the

[2022-08-07 22:43] eonarheim opened #2455 "`Entity.removeAllChildren()` does not remove all children"
### Steps to Reproduce

Reported by @chrisk-7777 https://github.com/excaliburjs/Excalibur/issues/2419#issuecomment-1207427829

### Expected Result

All children should be removed

### Actual Result

Every other child is removed

### Environment

- browsers and versions: NA
- operating system: NA
- Excalibur versions: v0.27.0

### Current Workaround

Manually iterate over the children and call `rem

[2022-08-07 22:45] eonarheim opened #2456 "`Entity.kill()` does not remove the child from the parents `.children`"
### Steps to Reproduce

Reported by @chris-7777

### Expected Result

Child entities should be removed from their parent when killed.

### Actual Result

They are currently left parented but in a killed state.

### Environment

- browsers and versions: NA
- operating system: NA
- Excalibur versions: v0.27.0

### Current Workaround

Call `.unparent()` on the childe manually

[2022-08-07 23:52] eonarheim commented on #2419
Posted a PR 👍 https://github.com/excaliburjs/Excalibur/pull/2454

[2022-08-08 00:09] chrisk-7777 commented on #2419
Great, thanks for looking into it @eonarheim 🙌

Bug 1: Haha, yup I've been there.

[2022-08-08 00:16] #2455 closed

[2022-08-08 00:16] #2456 closed

[2022-08-08 16:54] mattjennings commented on #2435
@eonarheim this is awesome! Thanks a ton, this looks like a fantastic solution. Great job!

[2022-08-12 21:10] mattjennings opened #2460 "Support "wasPressed" and "wasReleased" for Gamepad input"
### Context

It would be helpful if `engine.inputs.gamepad` supported `wasPressed` and `wasHeld` the same way `engine.inputs.keyboard` does.  This would make it easier to interchangeably support keyboard or gamepad input.

### Proposal

Add `wasPressed(button)` and `wasReleased(button)` to gamepad input API. Perhaps rename `isButtonPressed()` to `isButtonHeld()` to closer match keyboard API (`isKe

[2022-08-13 19:19] ewal commented on #2460
+1 on this

[2022-08-13 20:12] eonarheim commented on #2460
@mattjennings I think this is a great idea! I fully support this

[2022-08-13 20:18] eonarheim commented on #2460
I'd be in favor of increased consistency between the keyboard & gamepad API.

We can mark the `isButtonPressed()` as `@deprecated` and will be removed in v0.28.0

[2022-08-13 21:31] ewal opened #2462 "Build error due to `@obsolete` decorator"
Just a fyi, not a real issue :)

I have a local version of Excalibur which I reference by path in a project. When building my project with parcel I get the following error:

[code]

I noticed that this particular decorator is only used here and nowhere else in the project instead of jsdoc deprecation comments so I figured that perhaps it's a leftover.
(I do have decorators enabled in my project so

[2022-08-13 22:05] #2460 closed

[2022-08-13 22:20] eonarheim commented on #2462
Oh indeed, we use/used this particular decorator to throw warnings into the browser console when a `@deprecated` method is used as an additional signal to the developer. But perhaps the jsdoc `@deprecated` is good enough a signal? @jedeen @kamranayub I'm curious if you think we should just remove the `@obsolete()` experimental ts decorator.

It looks like it might be a parcel specific issue with S

[2022-08-13 22:45] ewal commented on #2462
Thank you. Yeah, definitely related to parcel.

[2022-08-16 12:49] eonarheim opened #2463 "Support wrapping ex.Text graphics"
### Context

Currently it is not possible to wrap text graphics inside a bounding box without some manual intervention or custom code.

See discussion for more context https://github.com/excaliburjs/Excalibur/discussions/2458#discussioncomment-3393549

### Proposal

Implement simple text wrapping given a optional maximum width or an optional containing bounding box.

Perhaps `ex.Text.maxWidth` or

[2022-08-25 23:05] mattjennings opened #2468 "Add `SpriteSheet.clone()`"
### Context

[As proposed in this discussion](https://github.com/excaliburjs/excalibur-aseprite/issues/126#issuecomment-1227308499).

TLDR; it would be helpful to be able to clone `ex.SpriteSheet` like you can `ex.Animation`

### Proposal

`.clone()` method for SpriteSheets

[2022-08-26 03:24] reissbaker opened #2470 "`actions.scaleTo` never completes when scaling exclusively on the x-axis"
Hello! :wave:

I'm pretty sure I found a bug in the `ScaleTo` action; the `isComplete` method checks `tx.scale.y` against the x-axis, rather than the `tx.scale.x` against the x-axis, and so the action will never complete if, for example, you're only scaling the x-axis. [The bug is on this line](https://github.com/excaliburjs/Excalibur/blob/fd2fa241da53558ebbebb300463d06ed465713a2/src/engine/Action

[2022-08-26 13:34] eonarheim commented on #2470
Hi @reissbaker! Thanks for the issue! Good find!

[2022-08-26 13:48] #2468 closed

[2022-08-26 13:56] #2470 closed

[2022-08-28 22:13] mattjennings opened #2473 "Precollision event sometimes has the incorrect side"
### Steps to Reproduce

https://codesandbox.io/s/compassionate-feynman-tqx8ok?file=/index.js

I'm noticing some odd behaviour in which collision with a wall on the right side sometimes returns a collision on the left. In the example above, use the arrow keys to walk into the wall and look at the console logs. The collisions are tracked by pushing the `ev.side` to an array during the `precollision`

[2022-08-28 22:27] mattjennings commented on #2473
re: workaround leading to another issue, I'm not really sure it _is_ an issue, so i'll just follow it up here.

If you have an odd-width collider and an anchor of (0.5,0.5), when you collide with a wall your collision is going to be resolved to a half-pixel. i.e `295.5` instead of `295`. This makes sense. But if you round that position in the postcollision event, you are probably going to get unex

[2022-08-31 00:44] eonarheim commented on #2473
@mattjennings thanks for the issue!

This is certainly an interesting issue, on first brush I'm wondering if the frame after resolution phase has an infinitesimal velocity towards the left, causing the next precollision to detect a possible collision with the left edge?

At minimum I think some floating point arithmetic edge case might explain the different behavior oddness vs evenness that you no

[2022-08-31 01:23] eonarheim commented on #2473
It looks like the (-0, -0) mtv vector is treated as the left side, I think this might be the source of the issue.

<img width="239" alt="image" src="https://user-images.githubusercontent.com/612071/187571910-1427bd71-80ad-410e-80dd-7ffc42743045.png">

<img width="251" alt="image" src="https://user-images.githubusercontent.com/612071/187572207-b057b95d-8a82-4e6e-afda-0983f203dbdc.png">

I think may

[2022-09-01 00:15] mattjennings commented on #2473
Ah yes, filtering out -0 and 0 length collisions seems to do the trick!

[2022-09-03 23:50] mattjennings opened #2488 "Unexpected intersection values in precollision event"
I apologize for the vague title, but I'm not too sure how to succinctly explain this one 😅

Below is a clip of logging `ev.intersection` in the `precollision` event for the red actor. It has a passive collider, while the green walls are fixed. It seems that when the red actor is colliding near the bottom 10% of the green actor, the intersection stops populating `x` and instead populates `y`.

(the

[2022-09-04 20:23] eonarheim commented on #2488
@mattjennings Definitely seems like a bug to me, very unexpected.

I'll dig in and see if I can figure out what's up.

Sorry for the rough edges in collision, but I appreciate all the fixes we've got into excalibur because of your efforts 👍

[2022-09-04 21:04] mattjennings commented on #2488
@eonarheim no worries at all! It overall has been working very nicely for me and I'm happy to help iron out some of these edge cases.

[2022-09-05 21:35] eonarheim commented on #2488
Hi @mattjennings

I think I understand what's happening, the collision machinery is picking the shortest distance to resolve interpenetration between the two shapes. Technically moving the shape in the y-direction at the point in the reproduction is the shortest distance to resolve the interpenetration (but it definitely seems unexpected when treating the collider like a ray).

One possible workar

[2022-09-05 22:10] #2473 closed

[2022-09-07 09:07] Ziphil opened #2732 "The collision of tiles disappear when placed right above a tile with a custom collider"
### Steps to Reproduce
1. Create a tileset with custom colliders.
2. On a tile layer with custom property `solid` set true, place tiles *without* a custom collider vertically and then place a tile *with* a custom collider right below them.
3. Save the map as `.tmx` format.

### Expected Result
The tiles without a custom collider will be solid tiles (with square collisions), and the tile with a cus

[2022-09-07 22:56] mattjennings commented on #2488
@eonarheim hmm I see... I think I understand. Unfortunately the suggested workarounds aren't going to work for me but I know I'm sort of pushing the boundaries of this approach anyway. I can wait for the raycasting and see how well that works in its place!

[2022-09-08 13:27] eonarheim commented on #2488
Hopefully I can get that raycasting finished up this week 👍

[2022-09-10 18:38] RyanGrieb opened #2489 "Unable to lint project w/ npm run lint"
### Steps to Reproduce
Run `npm run lint`

### Expected Result
No errors

### Actual Result
[code]

### Environment
Ubuntu Linux

- browsers and versions:
- operating system:
- Excalibur versions:
- (anything else that may be relevant)

### Current Workaround

[2022-09-10 18:48] CTLaChance opened #2490 "Large 'lineWidths' for raster graphics are clipped by the bounding box."
### Steps to Reproduce

Create a new circle raster and add it to an actor with the following code.

[code]

### Expected Result

The bounding box is given extra padding based on the line width so that it is not clipped.

### Actual Result
The line generated by the raster graphic is clipped by the bounding box.

![image](https://user-images.githubusercontent.com/8072374/189497361-f1e4162e-341f-4172

[2022-09-11 20:35] eonarheim commented on #2490
Hi @CTLaChance, thanks for the issue!

Totally agree, this is unexpected

[2022-09-11 20:45] eonarheim commented on #2489
@RyanGrieb Wild, not sure why that's happening. What version of node are you running?

[2022-09-11 23:12] RyanGrieb commented on #2489
v12.22.9

[2022-09-11 23:30] #2401 closed

[2022-09-11 23:48] eonarheim commented on #2489
Interesting, theoretically that version is supported by `eslint` according to their readme https://github.com/eslint/eslint

Node 16.15.0 seems to working for me. Upgrading Node might be a workaround for you? I think the nullish `??` operator was added to Node in 14.x

It seems related to the jsdoc plugin `eslint-plugin-jsdoc` based on the stacktrace.

[2022-09-17 18:35] mattjennings commented on #2488
@eonarheim finally got around to playing with the raycasting. So far it's working _much_ better than my makeshift raycasting, so I think it will the proper tool for my usecase.

As for this particular bug, I'm not sure if you think there's a need to improve anything here, so I'll leave it up to you whether or not to close this issue. For measuring distance to collision, raycasting is definitely th

[2022-09-17 19:24] eonarheim commented on #2488
Thanks @mattjennings! Good to hear! Let me know if anything comes up with the new raycasting 👍

[2022-09-17 19:24] #2488 closed

[2022-10-26 12:34] DaVince commented on #2463
+1 for having a `textContainer` property containing a `BoundingBox`. Special care would then be given to also respect the text container height so it doesn't render text beyond the given bounding box.

[2022-11-25 01:02] djcsdy opened #2523 "Sound.loop is broken in excalibur 0.27"
### Steps to Reproduce

[code]

### Expected Result

Sound plays and loops continuously.

### Actual Result

Sound plays once then stops.

### Environment

- browsers and versions: Firefox 107, Chrome 107
- operating system: Windows 10
- Excalibur versions: 0.27.0
- Works as expected on at least 0.26.0, 0.25.3, 0.24.4

### Current Workaround

None known.